{% extends 'base.html.twig' %}

{% block title %}{% trans %}Panier{% endtrans %}{% endblock %}

{% block stylesheets %}
	<style>
		th{
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		.infoTable {
			text-align: center !important;
			vertical-align: middle !important;
		}
/* 
		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		} */
	</style>
{% endblock %}
{% block body %}
            <!-- App-Content -->
            <div class="hor-content main-content">
                <div class="container">

                    <!-- Row-->
                    <div class="row" style="margin-top: 20px !important;" >
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                            <div class="card border-primary">
                                <div class="card-header">
                                    <div class="col-md-8">
                                        <div class="card-title">
                                            <h3 class="expanel-title" style="margin-top: 10px !important; font-weight: bold !important;">
                                            <span class="ms-3"><i class="fa fa-cart-arrow-down me-2"></i>{% trans %}Etat de la facture{% endtrans %}</span></h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <form>
                                            <div class="form-group mb-0">
                                                <div class="input-group mt-2"> 
                                                    <input type="text" class="form-control coupon" placeholder="Avez-vous un code promo ?"> 
                                                    <span class="input-group-append"> <button class="btn btn-primary btn-apply coupon">{% trans %}Appliquer{% endtrans %}</button> </span> 
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                        
                                <div class="table-responsive">
                                    <table class="table card-table table-vcenter table-stripped text-nowrap shopping-carttable">
                                        <thead class="border-bottom-0 pt-3 pb-3 ">
                                            <tr>
                                                <th class="fs-15">N°</th>
                                                <th class="fs-15">Photo</th>
                                                <th>{% trans %}Libellé{% endtrans %}</th>
                                                <th>{% trans %}Prix{% endtrans %}</th>
                                                <th>{% trans %}Quantité{% endtrans %}</th>
                                                <th>Total</th>
                                                <th>{% trans %}Opérations{% endtrans %}</th>
                                            </tr>
                                        </thead>
                                        {% if produits|length == 0 %}
                                            <tbody>
                                                <tr>
                                                    <td colspan="7" style="text-align: center !important; font-size: 35px;" >
                                                        <i class="si si-basket"></i> 
                                                        {% trans %}Pas de produits dans la facture{% endtrans %}
                                                    </td>
                                                </tr>
                                                {% else %}
                                                {% set i = 1 %}
                                                <form action="{{ path('ajout_quantite_produit_panier')}}" method="post">
                                                    
                                                        <input type="hidden" name="nombreProduits" value="{{ produits|length }}">
                                                        {% for produit in produits %}
                                                                    
                                                            <tr class="cart-table attach-supportfiles">
                                                                <td class="infoTable">{{ i }}</td>
                                                                <td class="infoTable"><img class="avatar avatar-lg br-7" src="{{ produit.produit.photo ? asset('images/photoProduits/' ~ produit.produit.photo) : asset('images/photoProduits/produit.png')}}" alt="img"></td>
                                                                <td class="infoTable">{{ produit.produit.libelle ? produit.produit.libelle : produit.produit.libelle }}</td>
                                                                <td class="infoTable">{{ produit.produit.prixVente }}</td>
                                                                <td class="infoTable">

                                                                    {# <a href="{{ path('panier_decrementer', {'slug': produit.produit.slug })}}"  class="btn btn-sm btn-primary"><i class="fe fe-minus"></i></a> #}
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            {# <input type="number" name="qte{{i}}" min="1" value="{{ produit.qte }}" class="form-control text-center"> #}
                                                                            <input type="number" min="1" value="{{ produit.qte }}" data-produit-id="{{ produit.id }}" class="form-control text-center qunatity-input">
                                                                        </div>
                                                                            {# <input type="hidden" name="produit" min="1" value="{{ produit.id }}" class="form-control text-center">
                                                                                #}
                                                                    </div>
                                                                        
                                                                </td>

                                                                <td class="infoTable"><span> {{ produit.total }}</span></td>
                                                                <td class="infoTable">
                                                                    {# <a href="{{ path('details_produit', {'slug': produit.produit.slug })}}">
                                                                        <span class="text-primary fs-18 me-3">
                                                                            <i class="fe fe-eye"></i>
                                                                        </span>
                                                                    </a> #}
                                                                    
                                                                    <a href="{{ path('supprimer_produit_du_panier', {'slug': produit.produit.slug })}}">  
                                                                        <span class="text-danger fs-18">
                                                                            <i class="fa fa-trash"></i>
                                                                        </span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        
                                                        
                                                        {% set i = i + 1 %}
                                                    {% endfor %}
                                                <tfoot>
                                                    <tr class="text-danger">
                                                        <td colspan="5" class="text-right">
                                                            
                                                            <button type="submit" name = "mettreAjour" class="btn btn-sm btn-outline-primary">
                                                                <i class="fe fe-refresh-cw me-2"></i>{% trans %}Mettre à jour{% endtrans %}
                                                            </button>
                                                            
                                                        </td>
                                                        </form>
                                                        <td style="font-weight: bold !important;font-size: 20px !important; text-align:right !important" class="font-weight-bold text-uppercase text-end h4 mb-0">
                                                            {% trans %}Total Facture{% endtrans %} :
                                                        </td>
                                                        <td style="font-weight: bold !important;font-size: 20px !important; text-align:right !important" class="font-weight-bold text-uppercase text-end h4 mb-0">{{ total }} FCFA</td>
                                                        
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td colspan="6"></td>
                                                        <td style="font-weight: bold !important;font-size: 20px !important; text-align:center !important">
                                                            <a href="{{path('afficher_produit')}}" class="btn btn-outline-primary btn-md mt-3" role="button"><i class="si si-basket-loaded"></i> {% trans %}Continuer{% endtrans %} <i class="fe fe-arrow-right ms-2"></i></a>
                                                        </td>
                                                        {# <td style="font-weight: bold !important;font-size: 20px !important; text-align:center !important">
                                                            <a href="{{path('confirmer_facture')}}" class="btn btn-outline-primary btn-md mt-3" role="button"><i class="si si-wallet"></i> {% trans %}Valider la facture{% endtrans %}</a>
                                                        </td> #}
                                                    </tr>
                                                        
                                                </tfoot>
                                            </tbody>
                                        {% endif %}
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Row-->

                    <!-- Row -->
                                
                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <div class="expanel expanel-primary border-primary">
                                <div class="expanel-body">
                                    {{ form_start(confirmerFactureForm, {'attr': {'class':'row g-4'}})}}
                                        
                                        <div class="col-md-3 position-relative">
                                            <label for="validationCustom04" class="form-label">{% trans %}Nom du patient pris en charge{% endtrans %}</label>
                                            {{ form_widget(confirmerFactureForm.patient ) }}

                                            <div class="invalid-tooltip">
                                                {% trans %}Veuillez sélectionner le nom du patien pris en charge{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="col-md-3 position-relative">
                                            <label for="validationCustom04" class="form-label">{% trans %}Nom du patient{% endtrans %}</label>
                                            {{ form_widget(confirmerFactureForm.nomPatient) }}

                                            <div class="invalid-tooltip">
                                                {% trans %}Veuillez saisir le nom du patient{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="validationCustom04" class="form-label">{% trans %}Contact du client{% endtrans %}</label>
                                            {{ form_widget(confirmerFactureForm.contactPatient)}}
                                            <div class="invalid-tooltip">
                                                {% trans %}Veuillez saisir le contact du client{% endtrans %}
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-3">
                                            <label for="validationCustom04" class="form-label">{% trans %}Mode de paiement{% endtrans %}</label>
                                            {{ form_widget(confirmerFactureForm.modePaiement, {'attr': {'id':'validationCustom04'}} )}}
                                        </div>
                                        

                                    </div>
                                    <div class="expanel-footer">
                                        <div class="row">
                                            <div class="col-lg-9"></div>
                                            <div class="col-lg-3">
                                            <button id="boutonEnvoie" class="btn btn-outline-primary btn-lg btn-block" disabled type="submit"><i class="fa fa-money"></i> {% trans %}Payer{% endtrans %}</button>
                                            </div>
                                        </div>
                                    </div>
                                {{ form_end(confirmerFactureForm)}}
                            </div>
                        </div>
                    </div>
                               
                    <!--End Row -->
                </div>
            </div>
        </div>
            

{% endblock %}
