{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter un examen{% endtrans %}
        {% else %}
        {% trans %}Modification d'un examen{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- App-Content -->
        <div class="hor-content main-content">
            <div class="container">

                <!--Page header-->
                <div class="page-header">
                    <div class="page-leftheader">
                        <h4 class="page-title mb-0 text-primary">
                        <i class="fe fe-package me-2"></i>
                            {% if slug == 0 %}
                                {% trans %}Enregistrement d'un examen{% endtrans %}
                                {% else %}
                                {% trans %}Modification d'un examen{% endtrans %}
                            {% endif %}
                        </h4>
                    </div>
                    <div class="page-rightheader">
                        <div class="btn-list">
                            <a href="{{ path ('liste_examen', {'a': 1 }) }}" class="btn btn-outline-primary"><i class="fe fe-list me-2"></i>
                                {% trans %}Afficher les examens{% endtrans %}</a>
                            
                        </div>
                    </div>
                </div>

                {% if slug == 0 %}
                    <div class="card border-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                            <i class="fe fe-plus-circle me-2"></i>
                                {% trans %}Ajouter un examen{% endtrans %}
                            </h3>
                        </div>
                    {% else %}
                    <div class="card border-danger">
                        <div class="card-header">
                            <div class="col-md-2">
                                <div class="box-widget widget-user text-center">
                                    <div class="widget-user-image mx-auto">
                                        <a href="javascript:void(0);">
                                            <img alt="{{ examen.libelle }}" class="rounded-circle" src="{{ examen.photo ? asset('images/photoProduits/' ~ examen.photo) : asset('images/photoProduits/produit.png')}}" width="100" height="100">
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h3 class="card-title">
                                    {% trans %}Modification du examen : {% endtrans %} {{ examen.libelle }}
                                </h3>
                            </div>
                            
                            
                        </div>
                {% endif %}
                    

                    <div class="card-body ">
                        {{ form_start(formProduit, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}

                            {# PARTIE EXAMEN #}

                            <div class="row" id="examenForm" style="margin-top: 15px !important;">
                                
                                <div class="col-md-4 position-relative">
                                    <label for="validationCustom01" class="form-label" style="text-align: center !important;">{% trans %}Nom de l'examen{% endtrans %}</label>
                                    {{ form_widget(formProduit.libelle, {'attr': {'id':'validationCustom02'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir le nom de l'examen !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label for="validationCustom01" class="form-label" style="text-align: center !important;">{% trans %}Prix de l'examen{% endtrans %}</label>
                                    {{ form_widget(formProduit.prixVente, {'attr': {'id':'validationCustom02'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir le prix de l'examen !{% endtrans %}
                                    </div>
                                </div>
                                <div class="col-md-4 position-relative text-center mt-5">
                                    <button type="submit" class="btn btn-outline-primary btn-md">
                                        <i class="fe fe-save"></i> 
                                        {% if slug == 0 %}
                                            {% trans %}Enregistrer{% endtrans %}
                                            {% else %}
                                            {% trans %}Enregistrer les modifications{% endtrans %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>

                            {# FIN PARTIE EXAMEN #}
                        {{ form_end(formProduit)}}

                    </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/choixTypeProduit.js')}}"></script>
<script src="{{asset('js/ajoutExamen.js')}}"></script>
    
{% endblock %}
