{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Liste des patients{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}



{% block body %}
<!-- App-Content -->
<div class="hor-content main-content">
	<div class="container">

		<!--Page header-->
		<div class="page-header">
			<div class="page-leftheader">
				<h4 class="page-title mb-0 text-primary">
					<i class="fa fa-users me-2"></i> {% trans %}Patients enregistrés {% endtrans %}
				</h4>
			</div>
			<div class="page-rightheader">
				<div class="btn-list">
					<a href="{{ path ('ajouter_patient') }}" class="btn btn-outline-primary">
						<i class="fe fe-plus me-2"></i>
						{% trans %}Ajouter un patient{% endtrans %}
					</a>
					
				</div>
			</div>
		</div>
		<!--End Page header-->

		<!--Row-->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card border-primary">
					<div class="card-header">
						<div class="col-xl-8 col-lg-8 col-md-8">
							<h3 class="card-title"><i class="fa fa-users me-2"></i>{% trans %}Patients enregistrés{% endtrans %}</h3>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 text-right">
							
								<button class="btn btn-outline-primary">
									<span>{% trans %}Nombres de patients{% endtrans %}</span>
									<span class="badge bg-primary rounded-pill">{{ patients|length }}</span>
								</button>
							
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-striped card-table table-vcenter text-nowrap" id="datatable">
								<thead>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Patients{% endtrans %}</th>
										<th scope="row">{% trans %}Société{% endtrans %}</th>
										<th>{% trans %}Terminé(e){% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Patients{% endtrans %}</th>
										<th scope="row">{% trans %}Société{% endtrans %}</th>
										<th>{% trans %}Terminé(e){% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</tfoot>
								<tbody>
									{% set i = 1 %}
									{% for patient in patients %}
										<tr>
											<td><span class="badge bg-primary rounded-pill">{{ i }}</span></td>
											<td>
												<a class="font-weight-normal1" href="">{{ patient.nom }}</a> <br>
												<span class="badge bg-info rounded-pill">{{ patient.factures|length }} {% trans %}pris en charge(s){% endtrans %}</span>
											</td>
											<td>{{ patient.societe.societe }}</td>
											<td>
												{% set nombreFactureNonSolde = 0 %}
												{% for facture in patient.factures %}
													{% if facture.etatFacture.etatFacture == 'NON SOLDE' %}
														{% set nombreFactureNonSolde = nombreFactureNonSolde + 1 %}
													{% endif %}
												{% endfor %}
															
												{% if nombreFactureNonSolde > 0 %}
													<div class="form-group">
														<label class="custom-switch">
															<span class="custom-switch-description me-2">{% trans %}Terminé(e){% endtrans %}</span>
															<input type="checkbox" class="custom-switch-input prisEnChargeNonSolde">
															<span class="custom-switch-indicator custom-switch-indicator-lg"></span>
														</label>
													</div>
													{% else %}
													<div class="form-group">
														<label class="custom-switch">
															<span class="custom-switch-description me-2">{% trans %}Terminé(e){% endtrans %}</span>
															<input type="checkbox" class="custom-switch-input" data-id="{{ patient.id }}" {% if patient.termine %}checked{% endif %} >
															<span class="custom-switch-indicator custom-switch-indicator-lg"></span>
														</label>
													</div>
												{% endif %}
												
											</td>
											<td>
												<div class="btn-group">
													<a href="javascript:void(0);" class="btn btn-light btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Opérations{% endtrans %} <i class="fa fa-angle-down"></i></a>
													<div class="dropdown-menu border-primary">
														<a class="dropdown-item" href="{{ path ('modifier_patient', {'code': patient.code })}}" target="_blank"><i class="fe fe-edit me-2"></i> {% trans %}Modifier{% endtrans %}</a>
														<a class="dropdown-item" href="{{ path ('afficher_prise_en_charge', {'code': patient.code }) }}"><i class="fe fe-eye me-2"></i> {% trans %}Détails{% endtrans %}</a>
														{% if patient.factures|length == 0 %}

															<a class="dropdown-item" href="javascript:void(0);" 
																onclick="swal({
																	'title': 'Attention', 
																	'type': 'warning', 
																	'text': 'Voulez-vous vraiment supprimer ce patient ?', 
																	'showCancelButton': true, 
																	'confirmButtonText': 'Oui', 
																	'confirmButtonColor': '#f00', 
																	'cancelButtonText': 'Non', 
																	'cancelButtonColor': '#38cb89', 
																	'confirmButtonPath': '{{ path ('supprimer_patient', {'code': patient.code })}} '});">
															
															<i class="fe fe-trash me-2"></i>{% trans %}Supprimer{% endtrans %}</a>
															{% else %}
															<a class="dropdown-item" href="javascript:void(0);" 
																onclick="swal({
																	'title': '{% trans %}Danger{% endtrans %}',
																	'text': '{% trans %}Vous ne pouvez pas supprimer ce pris en charge, car il/elle a les factures !{% endtrans %}',
																	'type': 'error',
																	'showCancelButton': true,
																	'showConfirmButton': false,
																	'confirmButtonText': false,
																	'cancelButtonText': 'OK',
																	'cancelButtonColor': '#088318', 
																})">
																<i class="fe fe-trash me-2"></i>
																{% trans %}Supprimer{% endtrans %}
															</a>
														{% endif %}	
													</div>
												</div>

											</td>
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
									
									
								</tbody>
							</table>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End app-content-->
<script src="{{ asset ('js/activerDesactiverPrisEnCharge.js')}}"></script>
{% endblock %}
