{% extends 'base.html.twig' %}

{% block title %}
    {% if code == 0 %}
        {% trans %}Ajouter un patient{% endtrans %}
        {% else %}
        {% trans %}Modification d'un patient{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- App-Content -->
				<div class="hor-content main-content">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title mb-0 text-primary">
                                    {% if code == 0 %}
                                        <i class="fe fe-plus me-2"></i>
                                        {% trans %}Enregistrement d'un patient{% endtrans %}
                                        {% else %}
                                        <i class="fe fe-edit me-2"></i>
                                        {% trans %}Modification d'un patient{% endtrans %}
                                    {% endif %}
                                </h4>
							</div>
							<div class="page-rightheader">
								<div class="btn-list">
									<a href="{{ path ('afficher_patient', {'a': 1 }) }}" class="btn btn-outline-primary">
                                        <i class="fe fe-list me-2"></i>
										{% trans %}Afficher les Patients{% endtrans %}
                                    </a>
									
								</div>
							</div>
						</div>

                        {% if code == 0 %}
                            <div class="card border-primary">
                            {% else %}
                            <div class="card border-danger">
                        {% endif %}
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% if code == 0 %}
                                        <i class="fe fe-plus me-2"></i>
                                        {% trans %}Ajouter un patient{% endtrans %}
                                        {% else %}
                                        <i class="fe fe-edit me-2"></i>
                                        {% trans %}Modification du patient : {% endtrans %} {{ patient.nom }}
                                    {% endif %}
                                    
                                </h3>
                            </div>
                            <div class="card-body ">
                                {{ form_start(formPatient, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                                    <div class="row" style="margin-top: 15px !important;">
                                        
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Nom du patient{% endtrans %}</label>
                                            {{ form_widget(formPatient.nom, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir le nom du client patient !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Date de naissance{% endtrans %}</label>
                                            {{ form_widget(formPatient.dateNaissanceAt, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir la date de naissance du patient !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Ville de résidence{% endtrans %}</label>
                                            {{ form_widget(formPatient.villeResidence, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir la ville de résidence du patient !{% endtrans %}
                                            </div>
                                        </div>
                                    </div>
                                     <div class="row" style="margin-top: 15px !important;">
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Société{% endtrans %}</label>
                                            {{ form_widget(formPatient.societe, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez sélectionner la société du patient !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Pays{% endtrans %}</label>
                                            {{ form_widget(formPatient.pays, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez sélectionner le pays du patient !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-4 position-relative text-center" style="margin-top: 30px !important;">
                                            <button type="submit" class="btn btn-outline-primary btn-md">
                                                <i class="fe fe-save"></i> 
                                                {% if code == 0 %}
                                                    {% trans %}Enregistrer{% endtrans %}
                                                    {% else %}
                                                    {% trans %}Enregistrer les modifications{% endtrans %}
                                                {% endif %}
                                            </button>
                                        </div>
                                    </div>
                                        
                                {{ form_end(formPatient)}}

                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
