{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Liste des lots{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}



{% block body %}
<!-- App-Content -->
<div class="hor-content main-content">
	<div class="container">

		<!--Page header-->
		<div class="page-header">
			<div class="page-leftheader">
				<h4 class="page-title mb-0 text-primary"><i class="fe fe-package me-2"></i> {% trans %}Liste des lots enregistrés{% endtrans %}</h4>
			</div>
			<div class="page-rightheader">
				<div class="btn-list">
					

					<a href="{{ path ('ajouter_lot') }}" class="btn btn-outline-primary"><i class="fe fe-plus me-2"></i>
						{% trans %}Ajouter un lot{% endtrans %}</a>
					
					{% if is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_DIRECTEUR') %}
						<a href="{{ path ('imprimer_lot') }}" target="_blank" class="btn btn-outline-primary">
							<i class="fe fe-printer me-2"></i>
							{% trans %}Imprimer les lots{% endtrans %}
						</a>
					{% endif %}
					
				</div>
			</div>
		</div>
		<!--End Page header-->

		<!--Row-->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card border-primary">
					<div class="card-header">
						<div class="col-xl-3 col-lg-3 col-md-3">
							<h3 class="card-title"><i class="fe fe-package me-2"></i> {% trans %}Lots enregistrés{% endtrans %}</h3>
						</div>
						{% if is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_DIRECTEUR') %}
							<div class="col-xl-9 col-lg-9 col-md-9">
								
								<form method="post" target="_blank" action="{{ path ('imprimer_lot', {'periode': 1}) }}" class="row g-3 needs-validation" novalidate>
									<div class="col-md-4 position-relative">
										<h3 class="card-title mt-3">{% trans %}Imprimer les lots d'une période{% endtrans %}</h3>
									</div>
									<div class="col-md-3 position-relative">
										<input type="date" name="dateDebut" class="form-control" id="validationCustom01" required>
										<div class="invalid-feedback">
											{% trans %}Champ requis{% endtrans %}
										</div>
									</div>
									<div class="col-md-3 position-relative">
										<input type="date" name="dateFin" class="form-control" id="validationCustom01" required>
										<div class="invalid-feedback">
											{% trans %}Champ requis{% endtrans %}
										</div>
									</div>
									<div class="col-md-2">
										<button class="btn btn-outline-primary" type="submit" name="impressionLotPeriode"><i class="fe fe-printer me-2"></i>{% trans %}Imprimer{% endtrans %}</button>
									</div>
								</form>
							</div>

							{% else %}
							<div class="col-xl-3 col-lg-3 col-md-3">
							</div>
							<div class="col-xl-3 col-lg-3 col-md-3">
							</div>
							<div class="col-xl-3 col-lg-3 col-md-3">
								<button class="btn btn-outline-primary">
									<span>{% trans %}Nombres de lots{% endtrans %}</span>
									<span class="badge  bg-primary rounded-pill">{{ lots|length }}</span>
								</button>
							</div>
						{% endif %}
						

					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-striped card-table table-vcenter text-nowrap" id="datatable">
								<thead>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Lots{% endtrans %}</th>
										<th>{% trans %}Quantité{% endtrans %}</th>
										<th>{% trans %}Vendu{% endtrans %}</th>
										<th>{% trans %}Reste{% endtrans %}</th>
										<th>{% trans %}Date Exp.{% endtrans %}</th>
										{% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_DIRECTEUR') %}
											<th>{% trans %}Opérations{% endtrans %}</th>
										{% endif %}
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Lots{% endtrans %}</th>
										<th>{% trans %}Quatité{% endtrans %}</th>
										<th>{% trans %}Vendu{% endtrans %}</th>
										<th>{% trans %}Reste{% endtrans %}</th>
										<th>{% trans %}Date Exp.{% endtrans %}</th>
										{% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_DIRECTEUR') %}
											<th>{% trans %}Opérations{% endtrans %}</th>
										{% endif %}
									</tr>
								</tfoot>
								<tbody>
									{% set i = 1 %}
									{% for lot in lots %}
										<tr>
											<td><span class="badge  bg-primary rounded-pill">{{ i }}</span></td>
											<td style="text-align: left !important;">
												<a class="font-weight-normal1" href="">{{ lot.reference }}</a>
											</td>
											<td><span class="badge  bg-success rounded-pill">{{ lot.quantite }}</span></td>
											<td><span class="badge  bg-info rounded-pill">{{ lot.vendu ? lot.vendu : 0 }}</span></td>
											<td><span class="badge  bg-danger rounded-pill">{{ lot.quantite - lot.vendu }}</span></td>
											
											<td>
												<a class="font-weight-normal1" href="">{{ lot.datePeremptionAt ? lot.datePeremptionAt|date('d-m-Y') : "" }}</a>
											</td>
											
											{% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_DIRECTEUR') %}
												<td>
													<a href="{{ path ('modifier_lot', {'slug': lot.slug })}}" class="btn btn-outline-primary"><i class="fe fe-edit"></i></a>
														{% if lot.produits|length == 0 %}

															<a class="btn btn-outline-danger" href="javascript:void(0);" 
																onclick="swal({
																	'title': 'Attention', 
																	'type': 'warning', 
																	'text': 'Voulez-vous vraiment supprimer ce lot ?', 
																	'showCancelButton': true, 
																	'confirmButtonText': 'Oui', 
																	'confirmButtonColor': '#f00', 
																	'cancelButtonText': 'Non', 
																	'cancelButtonColor': '#38cb89', 
																	'confirmButtonPath': '{{ path ('supprimer_lot', {'slug': lot.slug })}} '});">
															
																<i class="fe fe-trash"></i>

															</a>
															{% else %}
															<a href="" class="btn btn-outline-danger disabled"><i class="fe fe-trash"></i></a>
														{% endif %}	
												</td>
											{% endif %}
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
									
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End app-content-->
{% endblock %}

{% block javascripts %}
    <script>
		function confirmation(){
            
			swal({
				title: "{% trans %}Avertissement !{% endtrans %}",
				text: "{% trans %}Voulez-vous vraiment supprimer cette catégorie ?{% endtrans %}",
				type: "warning",
				showCancelButton: true,
				confirmButtonText: '{% trans %}Oui{% endtrans %}',
				cancelButtonText: '{% trans %}Non{% endtrans %}'
			});
			
		};
        
    </script>
{% endblock %}