{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter un lot{% endtrans %}
        {% else %}
        {% trans %}Modification d'un lot{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- App-Content -->
				<div class="hor-content main-content">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title mb-0 text-primary">
                                    {% if slug == 0 %}
                                        <i class="fe fe-plus"></i>  {% trans %}Enregistrement d'un lot{% endtrans %}
                                        {% else %}
                                        <i class="fe fe-edit"></i>  {% trans %}Modification d'un lot{% endtrans %}
                                    {% endif %}
                                </h4>
							</div>
							<div class="page-rightheader">
								<div class="btn-list">
									<a href="{{ path ('afficher_lot', {'a': 1 }) }}" class="btn btn-outline-primary"><i class="fe fe-list me-2"></i>
										{% trans %}Afficher les lots{% endtrans %}</a>
									
								</div>
							</div>
						</div>

                        {% if slug == 0 %}
                            <div class="card border-primary">
                            {% else %}
                            <div class="card border-danger">
                        {% endif %}
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% if slug == 0 %}
                                        <i class="fe fe-plus"></i>  {% trans %}Ajouter un lot{% endtrans %}
                                        {% else %}
                                        <i class="fe fe-edit"></i>  {% trans %}Modification du lot : {% endtrans %} {{ lot.reference }}
                                    {% endif %}
                                    
                                </h3>
                            </div>
                            <div class="card-body ">
                                {{ form_start(formLot, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                                    <div class="row" style="margin-top: 15px !important;">
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Référence{% endtrans %}</label>
                                            {{ form_widget(formLot.reference, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir une référence !{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Prix d'achat{% endtrans %}</label>
                                            {{ form_widget(formLot.prixAchat, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir le prix d'achat !{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Coefficient{% endtrans %}</label>
                                            {{ form_widget(formLot.coef, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir le coefficient !{% endtrans %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 15px !important;">
                                            
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Quantité{% endtrans %}</label>
                                            {{ form_widget(formLot.quantite, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir une quantité !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Date péremption{% endtrans %}</label>
                                            {{ form_widget(formLot.datePeremptionAt, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir une date de péremption !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Type produit{% endtrans %}</label>
                                            {{ form_widget(formLot.typeProduit, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez sélectionner le type de produit !{% endtrans %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 15px !important;">
                                        <div class="col-md-12 position-relative text-center" style="margin-top: 30px !important;">
                                            <button type="submit" class="btn btn-outline-primary btn-md">
                                                <i class="fe fe-save"></i> 
                                                {% if slug == 0 %}
                                                    {% trans %}Enregistrer{% endtrans %}
                                                    {% else %}
                                                    {% trans %}Enregistrer les modifications{% endtrans %}
                                                {% endif %}
                                            </button>
                                        </div>
                                    </div>
                                        
                                {{ form_end(formLot)}}

                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
