{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter un kit{% endtrans %}
        {% else %}
        {% trans %}Modification d'un kit{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- App-Content -->
        <div class="hor-content main-content">
            <div class="container">

                <!--Page header-->
                <div class="page-header">
                    <div class="page-leftheader">
                        <h4 class="page-title mb-0 text-primary">
                        <i class="fe fe-package me-2"></i>
                            {% if slug == 0 %}
                                {% trans %}Enregistrement d'un kit{% endtrans %}
                                {% else %}
                                {% trans %}Modification d'un kit{% endtrans %}
                            {% endif %}
                        </h4>
                    </div>
                    <div class="page-rightheader">
                        <div class="btn-list">
                            <a href="{{ path ('liste_kit', {'a': 1 }) }}" class="btn btn-outline-primary"><i class="fe fe-list me-2"></i>
                                {% trans %}Afficher les kits{% endtrans %}</a>
                            
                        </div>
                    </div>
                </div>

                {% if slug == 0 %}
                    <div class="card border-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                            <i class="fe fe-plus-circle me-2"></i>
                                {% trans %}Ajouter un kit{% endtrans %}
                            </h3>
                        </div>
                    {% else %}
                    <div class="card border-danger">
                        <div class="card-header">
                            <div class="col-md-2">
                                <div class="box-widget widget-user text-center">
                                    <div class="widget-user-image mx-auto">
                                        <a href="javascript:void(0);">
                                            <img alt="{{ kit.libelle }}" class="rounded-circle" src="{{ kit.photo ? asset('images/photoProduits/' ~ kit.photo) : asset('images/photoProduits/produit.png')}}" width="100" height="100">
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h3 class="card-title">
                                    {% trans %}Modification du kit : {% endtrans %} {{ kit.libelle }}
                                </h3>
                            </div>
                            
                            
                        </div>
                {% endif %}
                    

                    <div class="card-body ">
                        {{ form_start(formProduit, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}

                            {# PARTIE KIT #}

                            <div class="row" id="kitForm" style="margin-top: 15px !important;">
                                <div class="col-md-4"></div>
                                <div class="col-md-4 position-relative">
                                    <label for="validationCustom01" class="form-label" style="text-align: center !important;">{% trans %}Nom du kit{% endtrans %}</label>
                                    {{ form_widget(formProduit.libelle, {'attr': {'id':'validationCustom02'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir le nom du kit !{% endtrans %}
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            
                                
                            <div class="row" id="kitForm" >
                                <div class="col-md-4"></div>

                                <div class="col-md-4"  style="margin-top: 15px !important;" id="kit" data-prototype="{{ form_row(formProduit.produitLigneDeKits.vars.prototype)|e('html_attr') }}">
                                    
                                    {% for produit in formProduit.produitLigneDeKits %}
                                        {{ form_row(produit, {'attr': {'class': 'defaultHidden'}})}}

                                    {% endfor %}
                                    {# {{ form_widget(formProduit.produitLigneDeKits, {'attr': {'id':'validationCustom04'}}) }} #}
                                    
                                    <span></span>
                                </div>
                                <div class="col-md-4"></div>

                            </div>

                            {# FIN PARTIE KIT #}
                            <div class="row" style="margin-top: 15px !important;">
                                <div class="col-md-12 position-relative text-center" style="margin-top: 30px !important;">
                                    <button type="submit" class="btn btn-outline-primary btn-md">
                                        <i class="fe fe-save"></i> 
                                        {% if slug == 0 %}
                                            {% trans %}Enregistrer{% endtrans %}
                                            {% else %}
                                            {% trans %}Enregistrer les modifications{% endtrans %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        {{ form_end(formProduit)}}

                    </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/choixTypeProduit.js')}}"></script>
<script src="{{asset('js/ajoutKit.js')}}"></script>
    
{% endblock %}
