{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter un kit{% endtrans %}
        {% else %}
        {% trans %}Modification d'un kit{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- App-Content -->
				<div class="hor-content main-content">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title mb-0 text-primary">
                                <i class="fe fe-package me-2"></i>
                                    {% if slug == 0 %}
                                        {% trans %}Enregistrement d'un kit{% endtrans %}
                                        {% else %}
                                        {% trans %}Modification d'un kit{% endtrans %}
                                    {% endif %}
                                </h4>
							</div>
							<div class="page-rightheader">
								<div class="btn-list">
									<a href="{{ path ('liste_kit', {'a': 1 }) }}" class="btn btn-outline-primary"><i class="fe fe-list me-2"></i>
										{% trans %}Afficher les kits{% endtrans %}</a>
									
								</div>
							</div>
						</div>

                        {% if slug == 0 %}
                            <div class="card border-primary">
                                <div class="card-header">
                                    <h3 class="card-title">
                                    <i class="fe fe-plus-circle me-2"></i>
                                        {% trans %}Ajouter un kit{% endtrans %}
                                    </h3>
                                </div>
                            {% else %}
                            <div class="card border-danger">
                                <div class="card-header">
                                    <div class="col-md-2">
                                        <div class="box-widget widget-user text-center">
                                            <div class="widget-user-image mx-auto">
                                                <a href="javascript:void(0);">
                                                    <img alt="{{ kit.libelle }}" class="rounded-circle" src="{{ kit.photo ? asset('images/photoProduits/' ~ kit.photo) : asset('images/photoProduits/produit.png')}}" width="100" height="100">
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h3 class="card-title">
                                            {% trans %}Modification du kit : {% endtrans %} {{ kit.libelle }}
                                        </h3>
                                    </div>
                                    
                                    
                                </div>
                        {% endif %}
                            

                            <form method="post" >
                                {{ form_start(formProduit) }}
                                <div id="items">
                                {{ form_row(formProduit.libelle) }}
                                    {% for itemForm in formProduit.produitLigneDeKits %}
                                        <div class="item">
                                            {{ form_row(formProduit.produit) }}
                                            {{ form_row(formProduit.quantite) }}
                                            {{ form_row(formProduit._delete) }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="button" id="add-item">Ajouter un article</button>
                                <button type="submit">Envoyer</button>
                                {{ form_end(formProduit) }}
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/choixTypeProduit.js')}}"></script>
<script src="{{asset('js/ajoutKit.js')}}"></script>


    {{ parent() }}
    <script>
        // public/js/form.js
document.addEventListener('DOMContentLoaded', function() {
    const addButton = document.getElementById('add-item');
    const itemsContainer = document.getElementById('items');
console.log(addButton)
    addButton.addEventListener('click', function() {
        const index = itemsContainer.children.length; // Calculer le nouvel index
        const prototype = itemsContainer.getAttribute('data-prototype');
        const newForm = prototype.replace(/__name__/g, index); // Remplacer les placeholders par le nouvel index

        const div = document.createElement('div');
        div.innerHTML = newForm;
        itemsContainer.appendChild(div);
    });

    // Supprimer un élément
    itemsContainer.addEventListener('click', function(event) {
        if (event.target && event.target.matches('.delete-item')) {
            event.preventDefault();
            event.target.closest('.item').remove();
        }
    });
});

    </script>


{% endblock %}
