{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Liste des kits{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}



{% block body %}
<!-- App-Content -->
<div class="hor-content main-content">
	<div class="container">

		<!--Page header-->
		<div class="page-header">
			<div class="page-leftheader">
				<h4 class="page-title mb-0 text-primary"><i class="fe fe-package me-2"></i>{% trans %}Liste des kits enregistrés {% endtrans %}</h4>
			</div>
			<div class="page-rightheader">
				<div class="btn-list">
					{% if is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_ADMINISTRATEUR')%}
						<a href="{{ path ('ajouter_kit') }}" class="btn btn-outline-primary"><i class="fe fe-plus me-2"></i>
							{% trans %}Ajouter un kit{% endtrans %}
						</a>
						<a href="{{ path ('imprimer_kit') }}" class="btn btn-outline-primary" target="_blank"><i class="fe fe-printer me-2"></i>
							{% trans %}Imprimer tous les kits{% endtrans %}
						</a>
					{% endif %}
					{% if is_granted('ROLE_CAISSIERE') or is_granted('ROLE_ADMINISTRATEUR') %}
						<a href="{{ path ('afficher_produit') }}" class="btn btn-outline-primary"><i class="fe fe-eye me-2"></i>
							{% trans %}Afficher produit{% endtrans %}
						</a>
					{% endif %}
					
				</div>
			</div>
		</div>
		<!--End Page header-->

		<!--Row-->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card border-primary">
					<div class="card-header">
						<div class="col-xl-8 col-lg-8 col-md-8">
							<h3 class="card-title"><i class="fe fe-package"></i> {% trans %}kits enregistrées{% endtrans %}</h3>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 text-right">
							
							<button class="btn btn-outline-primary">
								<span>{% trans %}Nombres de kits{% endtrans %}</span>
								<span class="badge  bg-primary rounded-pill">{{ kits|length }}</span>
							</button>
							
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-striped card-table table-vcenter text-nowrap" id="datatable">
								<thead>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Nom du kit{% endtrans %}</th>
										<th>{% trans %}Prix{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Nom du kit{% endtrans %}</th>
										<th>{% trans %}Prix{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</tfoot>
								<tbody>
									{% set i = 1 %}
									{% for kit in kits %}
										<tr>
											<td><span class="badge bg-info rounded-pill">{{ i }}</span></td>
											<td>
												<a class="font-weight-normal1" href="">{{ kit.libelle }}</a>
											</td>
											<td>
												<a class="font-weight-normal1" href=""><span class="badge bg-primary rounded-pill">{{ kit.prixVente }} FCFA</span></a>
											</td>
											<td>
												{# <form action="{{ path ('ajout_produit_panier', {'slug': kit.slug, 'position': 'listeKit' } )}}" method="post" class="needs-validation" novalidate> #}
													{% if is_granted('ROLE_CAISSIERE')  %}
														<input type="hidden" name="qte" value="1" min="1" step="1" class="form-control" id="validationCustom05" required="required" placeholder="Veuillez saisir la quantité">
														<button type="submit" name="ajoutPanier" class="btn btn-outline-primary ajout-produit-panier" data-produit-id="{{ kit.id }}" data-bs-toggle="tooltip" title="{% trans %}Ajouter{% endtrans %} {{ kit.libelle }} {% trans %}dans la facture{% endtrans %}"><i class="fe fe-plus"></i></button>
													
													{% endif %}
												{# </form> #}


												{% if is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_SECRETAIRE') %}
													<div class="btn-group">
														<a href="javascript:void(0);" class="btn btn-light btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Opérations{% endtrans %} <i class="fa fa-angle-down"></i></a>
														<div class="dropdown-menu border-primary">
															<a class="dropdown-item" href="{{ path ('imprimer_kit', {'slug': kit.slug }) }}" target="_blank"><i class="fe fe-printer me-2"></i> {% trans %}Imprimer{% endtrans %}</a>
															<a class="dropdown-item" href="{{ path ('details_kit', {'slug': kit.slug })}}"><i class="fe fe-eye me-2"></i> {% trans %}Détails{% endtrans %}</a>
															<a class="dropdown-item" href="{{ path ('afficher_kit', {'slug': kit.slug })}}"><i class="fe fe-edit me-2"></i> {% trans %}Modifier{% endtrans %}</a>
															<a class="dropdown-item" href="javascript:void(0);" 
															onclick="swal({
																'title': 'Attention', 
																'type': 'warning', 
																'text': 'Voulez-vous vraiment supprimer ce kit ?', 
																'showCancelButton': true, 
																'confirmButtonText': 'Oui', 
																'confirmButtonColor': '#f00', 
																'cancelButtonText': 'Non', 
																'cancelButtonColor': '#38cb89', 
																'confirmButtonPath': '{{ path ('supprimer_kit', {'slug': kit.slug }) }} '});">
																<i class="fe fe-trash me-2"></i> {% trans %}Supprimer{% endtrans %}</a>
														</div>
													</div>
												{% endif %}

											</td>
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
									
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End app-content-->
<script src="{{ asset ('js/ajoutProduitPanier.js')}}"></script>
{% endblock %}
