{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Modification du kit : {% endtrans %} {{ kit.libelle}}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}



{% block body %}
<!-- App-Content -->
<div class="hor-content main-content">
	<div class="container">

		<!--Page header-->
		<div class="page-header">
			<div class="page-leftheader">
				<h4 class="page-title mb-0 text-primary"><i class="fe fe-package me-2"></i>{% trans %}Modification du kit : {% endtrans %} {{ kit.libelle }}</h4>
			</div>
			<div class="page-rightheader">
				<div class="btn-list">
					{% if is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_ADMINISTRATEUR')%}
						<a href="{{ path ('ajouter_kit') }}" class="btn btn-outline-primary"><i class="fe fe-plus me-2"></i>
							{% trans %}Ajouter un kit{% endtrans %}
						</a>
						<a href="{{ path ('imprimer_kit', {'slug': kit.slug }) }}" class="btn btn-outline-primary" target="_blank"><i class="fe fe-printer me-2"></i>
							{% trans %}Imprimer{% endtrans %}
						</a>
					{% endif %}
					
				</div>
			</div>
		</div>
		<!--End Page header-->

		<!--Row-->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card border-danger">
					<div class="card-header">
						<div class="col-xl-4 col-lg-4 col-md-4">
							<h3  class="text-red"><span class="badge bg-danger">{{ kit.libelle }}</span></h3>
						</div>
						<div class="col-xl-8 col-lg-8 col-md-8 text-right">
							
							<a href={{ path ('modifier_kit', {'slug': kit.slug }) }} class="btn btn-outline-primary">
								<i class="fe fe-plus me-2"></i> <span>{% trans %}Ajouter un produit{% endtrans %}</span>
							</a>
							
							{% set prix = 0 %}
							{% for ligneDeKit in kit.produitLigneDeKits %}
								{% set prix = prix + ligneDeKit.produit.prixVente * ligneDeKit.quantite %}
							{% endfor %}
										
							<button class="btn btn-outline-primary">
								<span>{{ prix }}</span>
								<span class="badge bg-primary rounded-pill"> FCFA</span>
							</button>
							
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-striped card-table table-vcenter text-nowrap" id="datatable">
								<thead>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Nom du produit{% endtrans %}</th>
										<th>{% trans %}Prix{% endtrans %}</th>
										<th>{% trans %}Quantité{% endtrans %}</th>
										<th>{% trans %}Prix total{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Nom du produit{% endtrans %}</th>
										<th>{% trans %}Prix{% endtrans %}</th>
										<th>{% trans %}Quantité{% endtrans %}</th>
										<th>{% trans %}Prix total{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</tfoot>
								<tbody>
									{% set i = 1 %}
									{% for ligneDeKit in kit.produitLigneDeKits %}
										<tr>
											<td><span class="badge bg-info rounded-pill">{{ i }}</span></td>
											<td>
												<a class="font-weight-normal1" href="">{{ ligneDeKit.produit.libelle }}</a>
											</td>
											<td>
												<a class="font-weight-normal1" href=""><span class="badge bg-primary rounded-pill">{{ ligneDeKit.prix }} FCFA</span></a>
											</td>

											<td>
												<a class="font-weight-normal1" href=""><span class="badge bg-primary rounded-pill">{{ ligneDeKit.quantite }}</span></a>
											</td>

											<td>
												<a class="font-weight-normal1" href=""><span class="badge bg-primary rounded-pill">{{ ligneDeKit.quantite * ligneDeKit.prix  }}</span></a>
											</td>
											
											<td>
												{% if is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_SECRETAIRE') %}
													<a class="btn btn-outline-danger" href="javascript:void(0);" 
														onclick="swal({
															'title': 'Attention', 
															'type': 'warning', 
															'text': 'Voulez-vous vraiment supprimer ce kit ?', 
															'showCancelButton': true, 
															'confirmButtonText': 'Oui', 
															'confirmButtonColor': '#f00', 
															'cancelButtonText': 'Non', 
															'cancelButtonColor': '#38cb89', 
															'confirmButtonPath': '{{ path ('supprimer_produit-du_kit', {'id':ligneDeKit.id, 'slug': kit.slug }) }} '});">
															<i class="fe fe-trash me-2"></i> {% trans %}Supprimer{% endtrans %}
													</a>
												{% endif %}

												{% if is_granted('ROLE_CAISSIERE')%}
													<a href="{{ path ('ajout_produit_panier', {'slug': kit.slug, 'position': 'listeKit' })}}" class="btn btn-outline-primary" data-bs-toggle="tooltip" title="{% trans %}Ajouter{% endtrans %} {{ kit.libelle }} {% trans %}dans la facture{% endtrans %}"><i class="fe fe-plus"></i></a>
												{% endif %}
												
											</td>
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
									
									

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End app-content-->
{% endblock %}

{% block javascripts %}
    <script>
		function confirmation(){
            
			swal({
				title: "{% trans %}Avertissement !{% endtrans %}",
				text: "{% trans %}Voulez-vous vraiment supprimer cette catégorie ?{% endtrans %}",
				type: "warning",
				showCancelButton: true,
				confirmButtonText: '{% trans %}Oui{% endtrans %}',
				cancelButtonText: '{% trans %}Non{% endtrans %}'
			});
			
		};
        
    </script>
{% endblock %}