{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                {% for message in app.flashes('error')  %}
                    <div class="alert alert-light-danger" role="alert">
                        <button type="button" class="btn-close text-danger mr-negative-16" data-bs-dismiss="alert" aria-hidden="true">×</button>
                        <strong><i class="fa fa-frown-o me-2" aria-hidden="true"></i>{{ message }}</strong>
                    </div>
                {% endfor %}
                <div class="row justify-content-center">
                    <div class="col-md-6 col-xl-4">
                        <div class="text-center mb-6">
                            <img src="{{ asset ('assets/images/brand/logo.png')}}" class="header-brand-img desktop-lgo" height="140" weight="140" alt="logo">
                        </div>
                        <div class="card border-primary">
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <h1 class="mb-2">QuickPay</h1>
                                    <a href="javascript:void(0);" class="">{% trans %}Création du compte{% endtrans %}</a>
                                </div>
                                {{ form_errors(comptemarchandForm) }}
                                {{ form_start(comptemarchandForm) }}
                                    <div class="input-group mb-4">
                                            <div class="input-group-text">
                                                <i class="fe fe-user"></i>
                                            </div>
                                        {{ form_widget(comptemarchandForm.username) }}
                                    </div>
                                    <div class="input-group mb-4">
                                            <div class="input-group-text">
                                                <i class="fe fe-mail"></i>
                                            </div>
                                        {{ form_widget(comptemarchandForm.email) }}
                                        {{ form_errors(comptemarchandForm.email) }}
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group" id="Password-toggle">
                                            <a href="" class="input-group-text">
                                                <i class="fe fe-eye" aria-hidden="true"></i>
                                            </a>
                                            {{ form_widget(comptemarchandForm.password, {
                                                                label: 'Password'
                                                            }) }}
                                        </div>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group" id="Password-toggle1">
                                            <a href="" class="input-group-text">
                                                <i class="fe fe-eye" aria-hidden="true"></i>
                                            </a>
                                            {{ form_widget(comptemarchandForm.confirmPassword, {
                                                            label: 'Password'
                                                        }) }}
                                            {{ form_errors(comptemarchandForm.confirmPassword) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="custom-control custom-checkbox">
                                            {{ form_row(comptemarchandForm.agreeTerms) }}
                                        </label>
                                    </div>
                                    <input type="hidden" value="{{ csrfToken }}" name="csrfToken">
                                    <div class="form-group text-center mb-3">
                                        <button class="btn btn-primary btn-lg w-100 br-7">{% trans %}Enregistrer{% endtrans %}</button>
                                    </div>
                                    <div class="form-group fs-12 text-center">
                                        En cliquant sur "Créer mon compte", vous accepter nos  <a href="javascript:void(0);" class="font-weight-bold">Termes & Conditions</a> et vous avez pris connaissance de nos <a href="javascript:void(0);" class="font-weight-bold">Politiques et confidentialités</a>
                                    </div>
                                {{ form_end(comptemarchandForm) }}
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
