{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edition de mon profil{% endtrans %}{% endblock %}

{% block body %}
<!-- App-Content -->
    <div class="hor-content main-content">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title mb-0 text-primary"><i class="fe fe-user-check me-2"></i>{% trans %}Edition du  Profil{% endtrans %}</h4>
							</div>
							<div class="page-rightheader">
								<div class="btn-list">
									 <a href="{{ path ('afficher_produit', {'a': 1 }) }}"  class="btn btn-outline-primary btn-pill">
										<i class="fa fa-database me-2 fs-14"></i> {% trans %}Produits{% endtrans %}
									</a>
									<a href="{{ path ('liste_facture') }}"  class="btn btn-outline-primary btn-pill">
										<i class="fa fa-file me-2 fs-14"></i> {% trans %}Factures{% endtrans %}
									</a>
								</div>
							</div>
						</div>
						<!--End Page header-->

						<!-- Row -->
						<div class="row">
							<div class="col-xl-12 col-lg-12">
								<div class="card border-primary">
									<div class="card-header ">
										<div class="card-title"><i class="fe fe-user-check me-2"></i> {% trans %}Edition du  Profil{% endtrans %}</div>
									</div>
									{{ form_start(formProfil, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                                    	<div class="card-body">
											<div class="row">
												<div class="col-sm-4 col-md-4">
													<div class="form-group">
														<label class="form-label">{% trans %}Nom Complet{% endtrans %}</label>
														{{ form_widget(formProfil.nom, {'attr': {'id':'validationCustom04'}}) }}
													</div>
												</div>
												<div class="col-sm-4 col-md-4">
													<div class="form-group">
														<label class="form-label">{% trans %}Nom de connexion{% endtrans %}</label>
														{{ form_widget(formProfil.username, {'attr': {'id':'validationCustom04'}}) }}
													</div>
												</div>
												<div class="col-sm-4 col-md-4">
													<div class="form-group">
														<label class="form-label">{% trans %}Genre{% endtrans %}</label>
														{{ form_widget(formProfil.genre, {'attr': {'id':'validationCustom04'}}) }}
													</div>
												</div>
												{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_REGIES_DES_RECETTES') or is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_CAISSIERE') or is_granted('ROLE_ADMINISTRATEUR') %}
													<div class="col-sm-4 col-md-4">
														<div class="form-group">
															<label class="form-label">Email</label>
															{{ form_widget(formProfil.email, {'attr': {'id':'validationCustom04'}}) }}
														</div>
													</div>
												{% endif %}

												<div class="col-sm-4 col-md-4">
													<div class="form-group">
														<label class="form-label">{% trans %}Contact{% endtrans %}</label>
														{{ form_widget(formProfil.contact, {'attr': {'id':'validationCustom04'}}) }}
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label class="form-label">{% trans %}Adresse{% endtrans %}</label>
														{{ form_widget(formProfil.adresse, {'attr': {'id':'validationCustom04'}}) }}
													</div>
												</div>
												
												<div class="col-md-12">
													<div class="form-group">
														<label class="form-label">{% trans %}Photo{% endtrans %}</label>
														{{ form_widget(formProfil.imageFile, {'attr': {'id':'validationCustom04'}}) }}
													</div>
												</div>
											</div>
										</div>
										<div class="card-footer text-end">
											<a href="{{ path ('afficher_profil') }}" class="btn btn-outline-danger"><i class="fe fe-x-circle me-2"></i> {% trans %}Annuler{% endtrans %}</a>
											<button type="submit" class="btn btn-outline-success"><i class="fe fe-save me-2"></i>{% trans %}Mettre à jour{% endtrans %}</button>
										</div>
									{{ form_end(formProfil)}}
                                    
								</div>
							</div>
						</div>
						<!-- End Row-->
					</div>
				</div><!-- right app-content-->
</div>
{% endblock %}
