{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edition de mon profil{% endtrans %}{% endblock %}

{% block body %}
<!-- App-Content -->
    <div class="hor-content main-content">
		<div class="container">

			<!--Page header-->
			<div class="page-header">
				<div class="page-leftheader">
				</div>
				<div class="page-rightheader">
					<div class="btn-list">
						
					</div>
				</div>
			</div>
			<!--End Page header-->

			<!-- Row -->
			<div class="row">
				<div class="col-xl-12 col-lg-12">
					<div class="card border-primary">
						<div class="card-header ">
							<div class="card-title"><i class="fe fe-user-check me-2"></i> {% trans %}Edition de mon Profil{% endtrans %}</div>
						</div>
						{{ form_start(formProfil, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
							<div class="card-body">
								<div class="row">
									<div class="col-sm-4 col-md-2">
										<div class="form-group">
											<label for="validationCustom1" class="form-label">{% trans %}Genre{% endtrans %}</label>
											{{ form_widget(formProfil.genre, {'attr': {'id':'validationCustom1'}}) }}
											<div class="invalid-feedback">
												{{ form_errors(formProfil.genre) }}
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-md-4">
										<div class="form-group">
											<label for="validationCustom2" class="form-label">{% trans %}Nom Complet{% endtrans %}</label>
											{{ form_widget(formProfil.username, {'attr': {'id':'validationCustom2'}}) }}
											<div class="invalid-feedback">
												{{ form_errors(formProfil.username) }}
											</div>
										</div>
									</div>
									
									<div class="col-sm-3 col-md-3">
										<div class="form-group">
											<label class="form-label">Email</label>
											{{ form_widget(formProfil.email, {'attr': {'id':'validationCustom04'}}) }}
											<div class="invalid-feedback">
												{{ form_errors(formProfil.email) }}
											</div>
										</div>
									</div>
									

									<div class="col-sm-4 col-md-3">
										<div class="form-group">
											<label class="form-label">{% trans %}Contact{% endtrans %}</label>
											{{ form_widget(formProfil.contact, {'attr': {'id':'validationCustom04'}}) }}
											<div class="invalid-feedback">
												{{ form_errors(formProfil.contact) }}
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="form-label">{% trans %}Adresse{% endtrans %}</label>
											{{ form_widget(formProfil.adresse, {'attr': {'id':'validationCustom04'}}) }}
											<div class="invalid-feedback">
												{{ form_errors(formProfil.adresse) }}
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="form-label">{% trans %}Numéro CNI{% endtrans %}</label>
											{{ form_widget(formProfil.numCni, {'attr': {'id':'validationCustom04'}}) }}
											<div class="invalid-feedback">
												{{ form_errors(formProfil.numCni) }}
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="form-label">{% trans %}Code de transfert{% endtrans %}</label>
											{{ form_widget(formProfil.code, {'attr': {'id':'validationCustom04'}}) }}
											<div class="invalid-feedback">
												{{ form_errors(formProfil.code) }}
											</div>
										</div>
									</div>
									
								</div>
							</div>
							<div class="card-footer text-end">
								<a href="{{ path ('afficher_profil') }}" class="btn btn-outline-danger"><i class="fe fe-x-circle me-2"></i> {% trans %}Annuler{% endtrans %}</a>
								<button type="submit" class="btn btn-outline-success"><i class="fe fe-save me-2"></i>{% trans %}Mettre à jour{% endtrans %}</button>
							</div>
						{{ form_end(formProfil)}}
						
					</div>
				</div>
			</div>
			<!-- End Row-->
		</div>
	</div><!-- right app-content-->
</div>
{% endblock %}
