{% extends 'baseConnexion.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block stylesheets %}
	<link href="{{ asset ('assets/iconfonts/feather/feather.css')}}" rel="stylesheet"/>
	<link rel="stylesheet" href="{{ asset ('assets/plugins/notify/css/notifIt.css')}}">
{% endblock %}

{% block body %}

{% for message in app.flashes('info')  %}
{# <div class="row mt-5">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="alert alert-danger" role="alert">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
			<i class="fa fa-frown-o me-2" aria-hidden="true"></i>{{ message }}
		</div>
	</div>
	<div class="col-md-2"></div>
</div> #}
	
		
	<!-- NOTIFICATIONS js-->
	<script src="{{ asset ('assets/js/notifications.js')}}"></script>

	<!-- INTERNAL Notifications js -->
	<script src="{{ asset ('assets/plugins/notify/js/rainbow.js')}}"></script>
	<script src="{{ asset ('assets/plugins/notify/js/sample.js')}}"></script>
	<script src="{{ asset ('assets/plugins/notify/js/notifIt.js')}}"></script>
	<script>
		notif({
				type: "error",
				msg: "<b>{{ message }}</b>",
				position: "center",
				width: 500,
				height: 60,
				autohide: false
			});
	</script>

{% endfor %}

<body class="bg-primary register-2" style="background-color: #7662C5 !important">

		<div class="page">
			<div class="page-content">
				<div class="container">
					<div class="row">
						<div class="col mx-auto">
							<div class="row justify-content-center">
								<div class="col-md-5">
									<div class="text-center mb-6">
										<img src="{{ asset ('assets/images/brand/logoPharmacy.png')}}" class="header-brand-img desktop-lgo" alt="Azea logo">
									</div>
									<div class="card border-danger">
										<div class="card-body">
											<div class="text-center mb-4">
												<h4 class="mb-2">Veuillez saisir la réponse secrète</h4>
											</div>

											<form class="row g-3 needs-validation" action="{{ path ('mot_de_passe_oublie') }}" method="POST" novalidate>
												<div class="input-group">
													<div class="input-group-text">
														<i class="fe fe-help-circle"></i>
													</div>
													<select class="form-select border" name="questionSecreteId" id="validationCustom04" required>
														<option selected disabled value="">{% trans %}Quelle est votre secrète ?{% endtrans %}</option>
														{% for questionSecrete in questionSecretes %}
															<option value="{{ questionSecrete.id }}">{{ questionSecrete.questionSecrete }}</option>
														{% endfor %}
													</select>
													<div class="invalid-feedback">
														Veuillez sélctionner une question secrète
													</div>
												</div>

												<div class="input-group">
													<div class="input-group-text">
														<i class="fe fe-user"></i>
													</div>
													<select class="form-select border" name="userId" id="validationCustom04" required>
														<option selected disabled value="">{% trans %}Vous êtes ?{% endtrans %}</option>
														{% for user in users %}
															<option value="{{ user.id }}">{{ user.username }}</option>
														{% endfor %}
													</select>
													<div class="invalid-feedback">
														Veuillez sélctionner un utilisateur
													</div>
												</div>

												<div class="input-group mb-2">
													<div class="input-group-text">
														<i class="fe fe-edit-2"></i>
													</div>
													<input type="text" name="reponse" placeholder="Vueiller saisir votr réponse secrète" class="form-control border" required>
													<div class="invalid-feedback">
														Veuillez saisir votre réponse
													</div>
												</div>



												<div class="form-group text-center mb-3">
													<button type="submit" name="envoyer" class="btn btn-outline-primary btn-md w-100 br-7">
													<i class="fe fe-send me-2"></i>
													{% trans %}Envoyer{% endtrans %}</button>
												</div>
												<div class="form-group fs-12 text-center">
													<a href="{{ path ('app_login')}}" class="font-weight-bold fs-18">
														<span class="badge badge-gradient-primary mt-2">
															<i class="fe fe-unlock me-2"></i>{% trans %}Connexion{% endtrans %}
														</span>
													</a>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


{% endblock %}