{% extends 'base.html.twig' %}

{% block title %}{% trans %}Question secrète{% endtrans %}{% endblock %}

{% block body %}
<!-- App-Content -->
    <div class="hor-content main-content">
		<div class="container">

			<!--Page header-->
			<div class="page-header">
				<div class="page-leftheader">
					<h4 class="page-title mb-0 text-primary"><i class="fe fe-help-circle me-2"></i>{% trans %}Edition de la question secrète{% endtrans %}</h4>
				</div>
				<div class="page-rightheader">
					<div class="btn-list">
						<a href="{{ path ('liste_visiteur', {'a': 1 }) }}" class="btn btn-outline-primary btn-pill">
							<i class="fa fa-users me-2 fs-14"></i> 
							{% trans %}Les visiteurs{% endtrans %}
						</a>
						<a href="{{ path ('liste_garde') }}"  class="btn btn-outline-primary btn-pill">
							<i class="fa fa-street-view me-2"></i>{% trans %}Les gardes{% endtrans %}
						</a>
					</div>
				</div>
			</div>
			<!--End Page header-->

			<!-- Row -->
			<div class="row">
				<div class="col-xl-12 col-lg-12">
					<div class="card border-primary">
						<div class="card-header ">
							<div class="card-title"><i class="fe fe-help-circle me-2"></i> {% trans %}Edition de la question secrète{% endtrans %}</div>
						</div>
						{{ form_start(formQuestionSecrete, {'attr': {'class':'row g-3 needs-validation', 'novalidate':""}})}}
							<div class="card-body">
								<div class="row mt-5 ml-5 mr-5">
									<div class="col-sm-4 col-md-4">
										<div class="form-group">
											<label class="form-label">{% trans %}Question secrète{% endtrans %}</label>
											{{ form_widget(formQuestionSecrete.questionSecrete, {'attr': {'id':'validationCustom03'}}) }}
										</div>
										<div class="invalid-feedback">
											{% trans %}Veuillez sélectionner une question secrète !{% endtrans %}
										</div>
									</div>
									<div class="col-sm-4 col-md-4">
										<div class="form-group">
											<label class="form-label">{% trans %}Votre réponse{% endtrans %}</label>
											{{ form_widget(formQuestionSecrete.reponse, {'attr': {'id':'validationCustom03'}}) }}
										</div>
										<div class="invalid-feedback">
											{% trans %}Veuillez saisir une réponse secrète{% endtrans %}
										</div>
									</div>
									<div class="col-sm-4 col-md-4 mt-6 text-center">
										<div class="form-group">
											<button type="submit" class="btn btn-outline-primary"><i class="fe fe-save me-2"></i>{% trans %}Enregistrer{% endtrans %}</button>
										</div>
									</div>
								</div>
							</div>
						{{ form_end(formQuestionSecrete)}}
						
					</div>
				</div>
			</div>
			<!-- End Row-->
		</div>
	</div><!-- right app-content-->
</div>
{% endblock %}
