{% extends 'baseConnexion.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block stylesheets %}
	<link href="{{ asset ('assets/iconfonts/feather/feather.css')}}" rel="stylesheet"/>
	<link rel="stylesheet" href="{{ asset ('assets/plugins/notify/css/notifIt.css')}}">
{% endblock %}

{% block body %}

{% for message in app.flashes('info')  %}
	{# <div class="alert alert-danger">{{ message }}</div> #}
	<!-- NOTIFICATIONS js-->
	<script src="{{ asset ('assets/js/notifications.js')}}"></script>

	<!-- INTERNAL Notifications js -->
	<script src="{{ asset ('assets/plugins/notify/js/rainbow.js')}}"></script>
	<script src="{{ asset ('assets/plugins/notify/js/sample.js')}}"></script>
	{# <script src="{{asset('assets/plugins/notify/js/jquery.growl.js')}}"></script> #}
	<script src="{{ asset ('assets/plugins/notify/js/notifIt.js')}}"></script>
	<script>
		notif({
				type: "success",
				msg: "<b>{{ message }}</b>",
				position: "center",
				width: 500,
				height: 60,
				autohide: false
			});
	</script>

{% endfor %}

<body class="bg-primary register-2" style="background-color: #7662C5 !important">

		<div class="page">
			<div class="page-content">
				<div class="container">
					<div class="row">
						<div class="col mx-auto">
							<div class="row justify-content-center">
								<div class="col-md-4">
									<div class="text-center mb-6">
										<img src="{{ asset ('assets/images/brand/logoPharmacy.png')}}" class="header-brand-img desktop-lgo" alt="Azea logo">
									</div>
									<div class="card border-danger">
										<div class="card-body">
											<div class="text-center mb-3">
												<h4 class="mb-2">{% trans %}Réinitialiser votre mot de passe{% endtrans %}</h4>
											</div>
											<form class="row g-3 needs-validation" action="{{ path ('reinitialiser_mot_de_passe', {'slugUser': slugUser }) }}" method="POST" novalidate>
												<div class="input-group">
													<div class="input-group" id="Password-toggle">
														<a href="" class="input-group-text">
														  <i class="fe fe-eye" aria-hidden="true"></i>
														</a>
														<input class="form-control" id="motDePasse" name="motDePasse" type="password" placeholder="Nouveau mot de passe" required>
														<div class="invalid-feedback">
															Veuillez saisir votre nouveau mot de passe
														</div>
													</div>
													
												</div>
												
												
												<div class="form-group text-center mb-3">
													<button type="submit" id="boutonEnvoyer" name="envoyer" class="btn btn-outline-primary btn-md w-100 br-7"><i class="fe fe-refresh-cw me-2"></i> {% trans %}Réinitialiser mon mot de passe{% endtrans %}</button>
												</div>
												<div class="form-group fs-12 text-center">
													<a href="{{ path ('app_login') }}" class="font-weight-bold">
														<span class="badge badge-gradient-info mt-2">{% trans %}Connexion{% endtrans %}</span>
													</a>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<script src="{{ asset ('js/verificationMotDePasse.js')}}"></script>
{% endblock %}