{% extends 'base.html.twig' %}

{% block title %}
	{% if seuil == 1 %}
		{% trans %}Liste des produits seuils{% endtrans %}
		{% else %}
		{% trans %}Liste des produits{% endtrans %}
	{% endif %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}

		.required-field{
            border: 3px solid red;
        }

        /*Animation de vibration*/
        @keyframes vibrate {
            0% { transform: translateX(0);}
            25% { transform: translateX(-2px);}
            50% { transform: translateX(2px);}
            75% { transform: translateX(-2px);}
            100% { transform: translateX(0);}
            
        }

        .vibrate{
            animation: vibrate 0.3s linear;
        }

        /*style pour les champs renseignés*/
        .filled-field{
            border: 2px solid green !important;
        }

		.quantite {
			width: 100px;
		}

		.btn-block {
			width: 70px;
		}
	</style>
{% endblock %}


{% block body %}
<!-- App-Content -->
<div class="hor-content main-content">
	<div class="container">

		<!--Page header-->
		<div class="page-header">
			<div class="page-leftheader">
				{% if seuil == 1 %}
					<h4 class="page-title mb-0 text-primary"><i class="fe fe-x-circle me-2"></i> {% trans %}Liste des produits seuils{% endtrans %}</h4>
					{% else %}
					<h4 class="page-title mb-0 text-primary"><i class="fa fa-cubes me-2"></i> {% trans %}Liste des produits enregistrés{% endtrans %}</h4>
				{% endif %}
			</div>
			<div class="page-rightheader">
			{% if is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_SECRETAIRE')  %}
				<div class="btn-list">
					<a href="{{ path ('ajouter_produit') }}" class="btn btn-outline-primary"><i class="fe fe-plus me-2"></i>
						{% trans %}Ajouter un produit{% endtrans %}
					</a>

					<a href="{{ path ('impression_produit_seuil') }}" target="_blank" class="btn btn-outline-primary btn-pill">
						<i class="fe fe-printer me-2 fs-14"></i> 
						{% trans %}Imprimer l'état des produits seuils{% endtrans %}
					</a>
					{% if seuil == 0 %}
						{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
							<a href="{{ path ('afficher_produit_seuil', {'a': 1}) }}" class="btn btn-outline-danger btn-pill">
								<i class="fe fe-eye me-2 fs-14"></i> 
								{% trans %}Afficher les produits seuils{% endtrans %}
							</a>
						{% endif %}
						{% else %}
							{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
							<a href="{{ path ('afficher_produit', {'a': 1}) }}" class="btn btn-outline-primary btn-pill">
								<i class="fe fe-eye me-2 fs-14"></i> 
								{% trans %}Afficher les produits{% endtrans %}
							</a>
						{% endif %}
					{% endif %}
					
					
					
				</div>
			{% endif %}
				
			</div>
		</div>
		<!--End Page header-->

		<!--Row-->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				{% if seuil == 0 %}
					<div class="card border-primary">
					{% else %}
					<div class="card border-danger">
				{% endif %}
					<div class="card-header">
						{% if seuil == 0 %}
							<div class="col-xl-8 col-lg-8 col-md-8">
								<h3 class="card-title"><i class="fa fa-cubes me-2"></i> {% trans %}Produits enregistrés{% endtrans %}</h3>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 text-right">
								<button class="btn btn-outline-primary">
									<span>{% trans %}Nombres de produits{% endtrans %}</span>
									<span class="badge  bg-primary rounded-pill">{{ produits|length }}</span>
								</button>
							</div>
							{% else %}
							<div class="col-xl-8 col-lg-8 col-md-8">
								<h3 class="card-title"><i class="fa fa-cubes"></i> {% trans %}Produits Seuils{% endtrans %}</h3>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 text-right">
								<button class="btn btn-outline-danger">
									<span>{% trans %}Nombres de produits seuils{% endtrans %}</span>
									<span class="badge bg-danger rounded-pill">{{ produits|length }}</span>
								</button>
							</div>
						{% endif %}
						
					</div>
					<div class="card-body">
						<div class="table-responsive" id="table-responsive">
							{% include "includes/_tableProduits.html.twig" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End app-content-->
<script src="{{ asset ('js/ajoutProduitPanier.js')}}"></script>
<script src="{{ asset ('js/verificationQuantiteNegativeListeProduit.js')}}"></script>
<script src="{{ asset ('js/retireProduit.js')}}"></script>
{% endblock %}

