{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter un produit{% endtrans %}
        {% else %}
        {% trans %}Modification d'un produit{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- App-Content -->
				<div class="hor-content main-content">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title mb-0 text-primary">
                                    {% if slug == 0 %}
                                        <i class="fe fe-plus"></i>
                                        {% trans %}Enregistrement d'un produit{% endtrans %}
                                        {% else %}
                                        <i class="fe fe-edit"></i>
                                        {% trans %}Modification d'un produit{% endtrans %}
                                    {% endif %}
                                </h4>
							</div>
							<div class="page-rightheader">
								<div class="btn-list">
									<a href="{{ path ('afficher_produit', {'a': 1 }) }}" class="btn btn-outline-primary"><i class="fe fe-list me-2"></i>
										{% trans %}Afficher les produits{% endtrans %}</a>
									
								</div>
							</div>
						</div>

                        {% if slug == 0 %}
                            <div class="card border-primary">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fe fe-plus"></i>
                                        {% trans %}Ajouter un produit{% endtrans %}
                                    </h3>
                                </div>
                            {% else %}
                            <div class="card border-danger">
                                <div class="card-header">
                                    <div class="col-md-2">
                                        <div class="box-widget widget-user text-center">
                                            <div class="widget-user-image mx-auto">
                                                <a href="javascript:void(0);">
                                                    <img alt="{{ produit.libelle }}" class="rounded-circle" src="{{ produit.photo ? asset('images/photoProduits/' ~ produit.photo) : asset('images/photoProduits/produit.png')}}" width="100" height="100">
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h3 class="card-title">
                                        <i class="fe fe-edit"></i>
                                            {% trans %}Modification du produit : {% endtrans %} {{ produit.libelle }}
                                        </h3>
                                    </div>
                                    
                                    
                                </div>
                        {% endif %}
                            

                            <div class="card-body ">
                                {{ form_start(formProduit, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                                   
                                    {# DEBUT PRODUIT CLASSIC #}
                                    <div class="row" id ="produitForm" style="margin-top: 15px !important;">
                                       
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Lot du produit{% endtrans %}</label>
                                            {{ form_widget(formProduit.lot, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez sélectionner le lot !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Désignation{% endtrans %}</label>
                                            {{ form_widget(formProduit.libelle, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir la désignation !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Quantité seuil{% endtrans %}</label>
                                            {{ form_widget(formProduit.quantiteSeuil, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir la quentité seuil !{% endtrans %}
                                            </div>
                                        </div>
                                        {# <div class="col-md-2 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Prix d'achat{% endtrans %}</label>
                                            {{ form_widget(formProduit.prixAchat, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir le prix d'achat!{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="col-md-2 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Prix de vente{% endtrans %}</label>
                                            {{ form_widget(formProduit.prixVente, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir le prix de vente !{% endtrans %}
                                            </div>
                                        </div>
                                    </div>

                                     <div class="row" id ="produitForm" style="margin-top: 15px !important;">
                                       
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Coefficient{% endtrans %}</label>
                                            {{ form_widget(formProduit.coef, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir le coefficient !{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Date d'entrée{% endtrans %}</label>
                                            {{ form_widget(formProduit.dateEntreeAt, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez sélectionnez la date d'entrée !{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Date de péremption{% endtrans %}</label>
                                            {{ form_widget(formProduit.datePeremptionAt, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir sélectionnez la date de péremption !{% endtrans %}
                                            </div>
                                        </div> #}
                                    </div>
                                    <div class="row" id="produitForm" style="margin-top: 15px !important;">
                                        
                                        <div class="col-md-12 position-relative text-center">
                                            <label for="validationCustom01" class="form-label">{% trans %}Photo du produit{% endtrans %}</label>
                                            {{ form_widget(formProduit.photoFile, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez choisir la photo du produit !{% endtrans %}
                                            </div>
                                        </div>
                                    </div>

                                    {# FIN PRODUI CLASSIC #}

                                    <div class="row" style="margin-top: 15px !important;">
                                        <div class="col-md-12 position-relative text-center" style="margin-top: 30px !important;">
                                            <button type="submit" class="btn btn-outline-primary btn-md">
                                                <i class="fe fe-save"></i> 
                                                {% if slug == 0 %}
                                                    {% trans %}Enregistrer{% endtrans %}
                                                    {% else %}
                                                    {% trans %}Enregistrer les modifications{% endtrans %}
                                                {% endif %}
                                            </button>
                                        </div>
                                    </div>
                                {{ form_end(formProduit)}}

                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/choixTypeProduit.js')}}"></script>
<script src="{{asset('js/ajoutKit.js')}}"></script>
    
{% endblock %}
