{% extends 'base.html.twig' %}

{% block title %}Détails du produit{% endblock %}

{% block body %}

        <!-- App-Content -->
        <div class="hor-content main-content">
            <div class="container">

                <!--Page header-->
                <div class="page-header">
                    <div class="page-leftheader">
                        <h4 class="page-title mb-0 text-primary"><i class="si si-cup"></i> Détails du produit</h4>
                    </div>
                    <div class="page-rightheader">

                        {% if is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_SUPER_ADMINISTRATEUR') %}
                            <div class="btn-list">
                                <a href="{{ path('modifier_produit', {'id': produit.id})}}" class="btn btn-outline-primary"><i class="fe fe-edit me-2"></i> Modifier</a>
                                <a href="" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary"><i class="fe fe-printer me-2"></i>
                                Imprimer</a>
                            </div>
                        
                        {% endif %}
                        
                    </div>
                </div>
                <!--End Page header-->

                <!-- Row -->
                <div class="row">
                    <div class="col-md-12 wrapper wrapper-content">
                        <div class="ibox card border-primary">
                            <div class="card-body">
                                <div class="ibox-content">
                                    <div class="row mb-3">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-5">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <div class="clearfix carousel-slider">
                                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                                    <div class="carousel-inner">
                                                                        <div class="carousel-item active">
                                                                            <div data-bs-target="#carousel" data-bs-slide-to="0" class="thumb my-2"><img src="{{ produit.photo1 ? asset('images/produits/' ~ produit.photo1) : asset('images/produits/logo.png')}}" alt="img" class="img-fluid br-7 border"></div>
                                                                            <div data-bs-target="#carousel" data-bs-slide-to="1" class="thumb my-2"><img src="{{ produit.photo2 ? asset('images/produits/' ~ produit.photo2) : asset('images/produits/logo.png')}}" alt="img" class="img-fluid br-7 border"></div>
                                                                            <div data-bs-target="#carousel" data-bs-slide-to="2" class="thumb my-2"><img src="{{ produit.photo3 ? asset('images/produits/' ~ produit.photo3) : asset('images/produits/logo.png')}}" alt="img" class="img-fluid br-7 border"></div>
                                                                            <div data-bs-target="#carousel" data-bs-slide-to="3" class="thumb my-2"><img src="{{ produit.photo4 ? asset('images/produits/' ~ produit.photo4) : asset('images/produits/logo.png')}}" alt="img" class="img-fluid br-7 border"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-10">
                                                            <div class="product-carousel border br-7">
                                                                <div id="carousel" class="carousel slide" data-bs-ride="false">
                                                                    <div class="carousel-inner">
                                                                        <div class="carousel-item mt-2 active"><img src="{{ produit.photo1 ? asset('images/produits/' ~ produit.photo1) : asset('images/produits/logo.png')}}" alt="img" class="img-fluid br-7" width="300" height="300">
                                                                        </div>
                                                                        <div class="carousel-item mt-2"><img src="{{ produit.photo2 ? asset('images/produits/' ~ produit.photo2) : asset('images/produits/logo.png')}}" alt="img" class="img-fluid br-7">
                                                                        </div>
                                                                        <div class="carousel-item mt-2"><img src="{{ produit.photo3 ? asset('images/produits/' ~ produit.photo3) : asset('images/produits/logo.png')}}" alt="img" class="img-fluid br-7">
                                                                        </div>
                                                                        <div class="carousel-item mt-2"><img src="{{ produit.photo4 ? asset('images/produits/' ~ produit.photo4) : asset('images/produits/logo.png')}}" alt="img" class="img-fluid br-7">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-4"></div>
                                                        <div class="col-4">
                                                            <div class="media-body Comments1" >
                                                                <h5 class="mt-0 mb-1 font-weight-semibold">
                                                                    <span>
                                                                        <a href="{{ path('bon_produit', {'idProduit': produit.id}) }}" class="new ms-3"><i class="text-success br-7 text-success fe fe-thumbs-up fs-25 text-icon "></i> 
                                                                        {{ produit.bon }}
                                                                        </a>
                                                                        
                                                                        <a href="{{ path('pas_bon_produit', {'idProduit': produit.id }) }}" class="new ms-3 mt-6"><i class="text-danger br-7 text-danger fe fe-thumbs-down fs-25 text-icon"></i> 
                                                                        {{ produit.pasBon }}
                                                                        </a>
                                                                    </span>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-4"></div>
                                                    </div> 
                                                </div>
                                                <div class="col-lg-12 col-sm-12 col-xs-12 col-xl-7 mt-5">
                                                    <h3 class="mb-3">
                                                        <a href="javascript:void(0);" class="text-navy">
                                                                {{ produit.produit}}
                                                        </a>
                                                    </h3>
                                                    <div>
                                                        <h5>Description</h5>
                                                        <p>{{ produit.description }}</p>
                                                    </div>
                                                    <h3 class="font-weight-bold fs-24">
                                                        {{ produit.prix }} FCFA

                                                        {% if produit.prix < produit.ancienPrix  %}
                                                            <del class="h5 font-weight-normal">{{ produit.ancienPrix }} FCFA</del>
                                                        {% endif %}
                                                   
                                                    </h3>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="ibox-content card-footer text-end">
                                <a href="{{ path('panier_ajout', {'id': produit.id, 'position':0 })}}" class="btn btn-outline-primary"><i class="fe fe-shopping-cart me-1"></i> Ajouter dans ma commande</a>
                            </div>
                            
                            {% if is_granted('ROLE_SUPER_ADMINISTRATEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
                                <div class="ibox-content card-footer text-end">
                                    <a href="{{ path('modifier_produit', {'id': produit.id})}}" class="btn btn-outline-primary"><i class="fe fe-edit me-2"></i> Modifier</a>
                                </div>
                            {% endif %}
                                
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-md-12">
                                <div class="card border-primary">
                                    <div class="card-header">
                                        <div class="card-title">Statistiques</div>
                                    </div>
                                    <div class="card-body">
                                        <div  class="font-weight-bold">Sur toutes les évaluations :
                                            {% set moyenneNote = nombreNotes ? sommeNotes / nombreNotes : 0 %}
                                                {% if moyenneNote == 0 %}
                                                    <i class="fa fa-star fs-16 "></i>
                                                    <i class="fa fa-star fs-16 "></i>
                                                    <i class="fa fa-star fs-16 "></i>
                                                    <i class="fa fa-star fs-16 "></i>
                                                    <i class="fa fa-star fs-16 "></i>
                                                    {% else %}
                                                        {% if moyenneNote < 2 %}
                                                        <i class="fa fa-star fs-16 text-warning"></i>
                                                        <i class="fa fa-star fs-16 "></i>
                                                        <i class="fa fa-star fs-16 "></i>
                                                        <i class="fa fa-star fs-16 "></i>
                                                        <i class="fa fa-star fs-16 "></i>
                                                        {% else %}
                                                            {% if moyenneNote < 3 %}
                                                                <i class="fa fa-star fs-16 text-warning"></i>
                                                                <i class="fa fa-star fs-16 text-warning"></i>
                                                                <i class="fa fa-star fs-16 "></i>
                                                                <i class="fa fa-star fs-16 "></i>
                                                                <i class="fa fa-star fs-16 "></i>
                                                                {% else %}
                                                                    {% if moyenneNote < 4 %}
                                                                        <i class="fa fa-star fs-16 text-warning"></i>
                                                                        <i class="fa fa-star fs-16 text-warning"></i>
                                                                        <i class="fa fa-star fs-16 text-warning"></i>
                                                                        <i class="fa fa-star fs-16 "></i>
                                                                        <i class="fa fa-star fs-16 "></i>
                                                                        {% else %}
                                                                            {% if moyenneNote < 5 %}
                                                                                <i class="fa fa-star fs-16 text-warning"></i>
                                                                                <i class="fa fa-star fs-16 text-warning"></i>
                                                                                <i class="fa fa-star fs-16 text-warning"></i>
                                                                                <i class="fa fa-star fs-16 text-warning"></i>
                                                                                <i class="fa fa-star fs-16 "></i>
                                                                                {% else %}
                                                                                    {% if moyenneNote < 6 %}
                                                                                        <i class="fa fa-star fs-16 text-warning"></i>
                                                                                        <i class="fa fa-star fs-16 text-warning"></i>
                                                                                        <i class="fa fa-star fs-16 text-warning"></i>
                                                                                        <i class="fa fa-star fs-16 text-warning"></i>
                                                                                        <i class="fa fa-star fs-16 text-warning"></i>
                                                                                    {% endif %}
                                                                                    
                                                                            {% endif %}
                                                                            
                                                                    {% endif %}
                                                                    
                                                            {% endif %}
                                                            
                                                    {% endif %}
                                                {% endif %}
                                                
                                                    
                                                
                                                <span class="font-weight-semibold fs-16 ms-2">{{ moyenneNote  }} sur 5.</span>
                                        </div>

                                        <div class="text-muted fs-14 font-weight-normal mt-2">{{ sommeNotes }} Notes  totales</div>
                                        <div class="row mt-2">
                                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 col-xl-12">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <span>5 étoiles</span>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="progress progress-sm mb-5">
                                                            {% set pourcentage = sommeNotes ? ((cinqEtoile / sommeNotes) * 100)|slice(0, 5 ) :0 %}

                                                            {% if pourcentage == 0 %}
                                                                <div class="progress-bar bg-warning" style="width: 0%"></div>
                                                                {% else %}
                                                                    {% if pourcentage < 11 %}
                                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 10%"></div>
                                                                    {% else %}
                                                                        {% if pourcentage < 21 %}
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 17%"></div>
                                                                            {% else %}
                                                                                {% if pourcentage < 31 %}
                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 25%"></div>
                                                                                    {% else %}
                                                                                        {% if pourcentage < 41  %}
                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 35%"></div>
                                                                                            {% else %}
                                                                                                {% if pourcentage < 51  %}
                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 45%"></div>
                                                                                                    {% else %}
                                                                                                        {% if pourcentage < 61  %}
                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 55%"></div>
                                                                                                            {% else %}
                                                                                                                {% if pourcentage < 71 %}
                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal" style="width: 65%"></div>
                                                                                                                    {% else %}
                                                                                                                        {% if pourcentage < 81 %}
                                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal" style="width: 75%"></div>
                                                                                                                            {% else %}
                                                                                                                                {% if pourcentage < 91 %}
                                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 85%"></div>
                                                                                                                                    {% else %}
                                                                                                                                        {% if pourcentage < 99 %}
                                                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 95%"></div>
                                                                                                                                            {% else %}
                                                                                                                                                {% if pourcentage < 101 %}
                                                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 100%"></div>
                                                                                                                                                {% endif %}
                                                                                                                                                
                                                                                                                                        {% endif %}
                                                                                                                                        
                                                                                                                                {% endif %}
                                                                                                                                
                                                                                                                        {% endif %}
                                                                                                                        
                                                                                                                {% endif %}
                                                                                                                
                                                                                                        {% endif %}
                                                                                                        
                                                                                                {% endif %}
                                                                                                
                                                                                        {% endif %}
                                                                                        
                                                                                {% endif %}
                                                                                
                                                                        {% endif %}
                                                                        
                                                                {% endif %}
                                                            
                                                            {% endif %}
                                                            

                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <span>({{ sommeNotes ? ((cinqEtoile / sommeNotes) * 100)|slice(0, 2 ) :0 }} %)</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <span>4 étoiles</span>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="progress progress-sm mb-5">
                                                            {% set pourcentage = sommeNotes ? ((quatreEtoile / sommeNotes) * 100)|slice(0, 2 ) :0 %}
                                                            {% if pourcentage == 0 %}
                                                                <div class="progress-bar bg-warning" style="width: 0%"></div>
                                                                {% else %}
                                                                    {% if pourcentage < 11 %}
                                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 10%"></div>
                                                                    {% else %}
                                                                        {% if pourcentage < 21 %}
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 17%"></div>
                                                                            {% else %}
                                                                                {% if pourcentage < 31 %}
                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 25%"></div>
                                                                                    {% else %}
                                                                                        {% if pourcentage < 41  %}
                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 35%"></div>
                                                                                            {% else %}
                                                                                                {% if pourcentage < 51  %}
                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 45%"></div>
                                                                                                    {% else %}
                                                                                                        {% if pourcentage < 61  %}
                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 55%"></div>
                                                                                                            {% else %}
                                                                                                                {% if pourcentage < 71 %}
                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal" style="width: 65%"></div>
                                                                                                                    {% else %}
                                                                                                                        {% if pourcentage < 81 %}
                                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal" style="width: 75%"></div>
                                                                                                                            {% else %}
                                                                                                                                {% if pourcentage < 91 %}
                                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 85%"></div>
                                                                                                                                    {% else %}
                                                                                                                                        {% if pourcentage < 99 %}
                                                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 95%"></div>
                                                                                                                                            {% else %}
                                                                                                                                                {% if pourcentage < 101 %}
                                                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 100%"></div>
                                                                                                                                                {% endif %}
                                                                                                                                                
                                                                                                                                        {% endif %}
                                                                                                                                        
                                                                                                                                {% endif %}
                                                                                                                                
                                                                                                                        {% endif %}
                                                                                                                        
                                                                                                                {% endif %}
                                                                                                                
                                                                                                        {% endif %}
                                                                                                        
                                                                                                {% endif %}
                                                                                                
                                                                                        {% endif %}
                                                                                        
                                                                                {% endif %}
                                                                                
                                                                        {% endif %}
                                                                        
                                                                {% endif %}
                                                            
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <span>({{ sommeNotes ? ((quatreEtoile / sommeNotes) * 100)|slice(0, 2 ) :0  }}%)</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <span>3 étoiles</span>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="progress progress-sm mb-5">
                                                            {% set pourcentage = sommeNotes ? ((troisEtoile / sommeNotes) * 100)|slice(0, 2 ) :0 %}

                                                            {% if pourcentage == 0 %}
                                                                <div class="progress-bar bg-warning" style="width: 0%"></div>
                                                                {% else %}
                                                                    {% if pourcentage < 11 %}
                                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 10%"></div>
                                                                    {% else %}
                                                                        {% if pourcentage < 21 %}
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 17%"></div>
                                                                            {% else %}
                                                                                {% if pourcentage < 31 %}
                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 25%"></div>
                                                                                    {% else %}
                                                                                        {% if pourcentage < 41  %}
                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 35%"></div>
                                                                                            {% else %}
                                                                                                {% if pourcentage < 51  %}
                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 45%"></div>
                                                                                                    {% else %}
                                                                                                        {% if pourcentage < 61  %}
                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 55%"></div>
                                                                                                            {% else %}
                                                                                                                {% if pourcentage < 71 %}
                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal" style="width: 65%"></div>
                                                                                                                    {% else %}
                                                                                                                        {% if pourcentage < 81 %}
                                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal" style="width: 75%"></div>
                                                                                                                            {% else %}
                                                                                                                                {% if pourcentage < 91 %}
                                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 85%"></div>
                                                                                                                                    {% else %}
                                                                                                                                        {% if pourcentage < 99 %}
                                                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 95%"></div>
                                                                                                                                            {% else %}
                                                                                                                                                {% if pourcentage < 101 %}
                                                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 100%"></div>
                                                                                                                                                {% endif %}
                                                                                                                                                
                                                                                                                                        {% endif %}
                                                                                                                                        
                                                                                                                                {% endif %}
                                                                                                                                
                                                                                                                        {% endif %}
                                                                                                                        
                                                                                                                {% endif %}
                                                                                                                
                                                                                                        {% endif %}
                                                                                                        
                                                                                                {% endif %}
                                                                                                
                                                                                        {% endif %}
                                                                                        
                                                                                {% endif %}
                                                                                
                                                                        {% endif %}
                                                                        
                                                                {% endif %}
                                                            
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <span>({{ sommeNotes ? ((troisEtoile / sommeNotes) * 100)|slice(0, 2 ) :0  }}%)</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <span>2 étoiles</span>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="progress progress-sm mb-5">
                                                            {% set pourcentage = sommeNotes ? ((deuxEtoile / sommeNotes) * 100)|slice(0, 2 ) :0 %}

                                                            {% if pourcentage == 0 %}
                                                                <div class="progress-bar bg-warning" style="width: 0%"></div>
                                                                {% else %}
                                                                    {% if pourcentage < 11 %}
                                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 10%"></div>
                                                                    {% else %}
                                                                        {% if pourcentage < 21 %}
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 17%"></div>
                                                                            {% else %}
                                                                                {% if pourcentage < 31 %}
                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 25%"></div>
                                                                                    {% else %}
                                                                                        {% if pourcentage < 41  %}
                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 35%"></div>
                                                                                            {% else %}
                                                                                                {% if pourcentage < 51  %}
                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 45%"></div>
                                                                                                    {% else %}
                                                                                                        {% if pourcentage < 61  %}
                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 55%"></div>
                                                                                                            {% else %}
                                                                                                                {% if pourcentage < 71 %}
                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal" style="width: 65%"></div>
                                                                                                                    {% else %}
                                                                                                                        {% if pourcentage < 81 %}
                                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal" style="width: 75%"></div>
                                                                                                                            {% else %}
                                                                                                                                {% if pourcentage < 91 %}
                                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 85%"></div>
                                                                                                                                    {% else %}
                                                                                                                                        {% if pourcentage < 99 %}
                                                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 95%"></div>
                                                                                                                                            {% else %}
                                                                                                                                                {% if pourcentage < 101 %}
                                                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 100%"></div>
                                                                                                                                                {% endif %}
                                                                                                                                                
                                                                                                                                        {% endif %}
                                                                                                                                        
                                                                                                                                {% endif %}
                                                                                                                                
                                                                                                                        {% endif %}
                                                                                                                        
                                                                                                                {% endif %}
                                                                                                                
                                                                                                        {% endif %}
                                                                                                        
                                                                                                {% endif %}
                                                                                                
                                                                                        {% endif %}
                                                                                        
                                                                                {% endif %}
                                                                                
                                                                        {% endif %}
                                                                        
                                                                {% endif %}
                                                            
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <span>({{ sommeNotes ? ((deuxEtoile / sommeNotes) * 100)|slice(0, 2 ) :0  }}%)</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <span>1 étoile</span>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="progress progress-sm">
                                                            {% set pourcentage = sommeNotes ? ((uneEtoile / sommeNotes) * 100)|slice(0, 2 ) :0 %}

                                                            {% if pourcentage == 0 %}
                                                                <div class="progress-bar bg-warning" style="width: 0%"></div>
                                                                {% else %}
                                                                    {% if pourcentage < 11 %}
                                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 10%"></div>
                                                                    {% else %}
                                                                        {% if pourcentage < 21 %}
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 17%"></div>
                                                                            {% else %}
                                                                                {% if pourcentage < 31 %}
                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 25%"></div>
                                                                                    {% else %}
                                                                                        {% if pourcentage < 41  %}
                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 35%"></div>
                                                                                            {% else %}
                                                                                                {% if pourcentage < 51  %}
                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 45%"></div>
                                                                                                    {% else %}
                                                                                                        {% if pourcentage < 61  %}
                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 55%"></div>
                                                                                                            {% else %}
                                                                                                                {% if pourcentage < 71 %}
                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal" style="width: 65%"></div>
                                                                                                                    {% else %}
                                                                                                                        {% if pourcentage < 81 %}
                                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal" style="width: 75%"></div>
                                                                                                                            {% else %}
                                                                                                                                {% if pourcentage < 91 %}
                                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 85%"></div>
                                                                                                                                    {% else %}
                                                                                                                                        {% if pourcentage < 99 %}
                                                                                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 95%"></div>
                                                                                                                                            {% else %}
                                                                                                                                                {% if pourcentage < 101 %}
                                                                                                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 100%"></div>
                                                                                                                                                {% endif %}
                                                                                                                                                
                                                                                                                                        {% endif %}
                                                                                                                                        
                                                                                                                                {% endif %}
                                                                                                                                
                                                                                                                        {% endif %}
                                                                                                                        
                                                                                                                {% endif %}
                                                                                                                
                                                                                                        {% endif %}
                                                                                                        
                                                                                                {% endif %}
                                                                                                
                                                                                        {% endif %}
                                                                                        
                                                                                {% endif %}
                                                                                
                                                                        {% endif %}
                                                                        
                                                                {% endif %}
                                                            
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <span>({{ sommeNotes ? ((uneEtoile / sommeNotes) * 100)|slice(0, 2 ) :0  }}%)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="expanel expanel-primary border-primary">
                                            <div class="expanel-heading">
                                                <h3 class="expanel-title">Ajouter un commentaire</h3>
                                            </div>
                                            <div class="expanel-body">
                                                <form class="form-horizontal m-t-20" action="{{ path('ajout_commentaire', {'idProduit': produit.id }) }}" method="post">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <h5 class="mb-3">Notez : </h5>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="étoiles">
                                                                    <i class="lar la-star" data-value="1"></i>
                                                                    <i class="lar la-star" data-value="2"></i>
                                                                    <i class="lar la-star" data-value="3"></i>
                                                                    <i class="lar la-star" data-value="4"></i>
                                                                    <i class="lar la-star" data-value="5"></i>
                                                                </div>
                                                                <input type="hidden" name="note" id="note" value="0">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <textarea class="form-control" rows="2" name="commentaire" placeholder="Votre commentaire" required="required"></textarea>
                                                        </div>
                                                    </div>

                                                    
                                                    <div class="row">
                                                        <div class="col-lg-4"></div>
                                                        <div class="col-lg-4"></div>
                                                        <div class="col-lg-4">
                                                            <button type="submit" class="btn btn-outline-primary btn-rounded  waves-effect waves-light"><i class="fa fa-send"></i> Envoyer</button>
                                                        </div>
                                                            
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-lg-6 col-sm-12 col-md-12">
                                <div class="card border-primary">
                                    <div class="card-header">
                                        <div class="card-title"> {{ commentaires | length }} Commentaires</div>
                                    </div>
                                    <div class="card-body">
                                        {% for commentaire in commentaires %}
                                            
                                                <div class="d-sm-flex mt-0 mb-4 sub-review-section border-bottom-0 br-bl-0 br-br-0">
                                                    <div class="d-flex me-3">
                                                        <a href="javascript:void(0);"><img class="media-object brround avatar-md" alt="64x64" src="{{ commentaire.user.photo ? asset('images/users/' ~ commentaire.user.photo) : asset('images/users/user1.jpg')}}"> </a>
                                                    </div>
                                                    <div class="media-body Comments1">
                                                        <h5 class="mt-0 mb-1 font-weight-semibold">{{ commentaire.user.fullName }}
                                                            <span class="fs-14 ms-0" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="verified"><i class="fa fa-check-circle-o text-success"></i></span>
                                                            <span class="fs-14 ms-2"> {{ commentaire.note }} <i class="fa fa-star text-yellow"></i></span>
                                                            <span>
                                                            <a href="{{ path('bon', {'idProduit': commentaire.produit.id, 'idCommentaire': commentaire.id }) }}" class="new ms-3"><i class="text-success br-7 text-success fe fe-thumbs-up fs-16 text-icon "></i> {{ commentaire.bon }}</a>
                                                            <a href="{{ path('pas_bon', {'idProduit': commentaire.produit.id, 'idCommentaire': commentaire.id }) }}" class="new ms-3 mt-6"><i class="text-danger br-7 text-danger fe fe-thumbs-down  fs-16 text-icon"></i> {{ commentaire.pasBon }}</a>
                                                            </span>
                                                        </h5>
                                                        <p class="font-13  mb-2 mt-2 text-muted">
                                                            {{ commentaire.commentaire }}
                                                        </p>
                                                        <a href="" class="me-2 mt-1"><span class="badge badge-sm bg-primary-transparent text-primary border-primary">Helpful</span></a>
                                                        <a href="" class="me-2 mt-1"><span class="border-info badge bg-info-transparent text-info">Comment</span></a>
                                                        <a href="" class="me-2 mt-1"><span class="border-danger badge bg-danger-transparent text-danger">Report</span></a>
                                                    </div>
                                                </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->

            </div><!-- right app-content-->
        </div>

    </div>
    <!-- End app-content-->
{% endblock %}