{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Liste des recettes du jour{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}



{% block body %}
<!-- App-Content -->
<div class="hor-content main-content">
	<div class="container">

		<!--Page header-->
		<div class="page-header">
			<div class="page-leftheader">
				<h4 class="page-title mb-0 text-primary">{% trans %}Toutes les recettes {% endtrans %}</h4>
			</div>
			<div class="page-rightheader">
				<div class="btn-list">
					{% if is_granted('ROLE_REGIES_DES_RECETTES') or is_granted('ROLE_ADMINISTRATEUR') %}
						{# <a href="{{ path ('ajouter_recette') }}" class="btn btn-outline-primary"><i class="fe fe-plus me-2"></i>
							{% trans %}Ajouter un recette{% endtrans %}
						</a> #}
						{# <a href="javascript:void(0);" class="btn btn-outline-primary" traget="_blanl"><i class="fe fe-printer me-2"></i>
							{% trans %}Imprimer toutes les recettes{% endtrans %}
						</a> #}
						<button class="btn btn-outline-primary">
							<span>{% trans %}Nombres de recettes{% endtrans %}</span>
							<span class="badge  bg-primary rounded-pill">{{ nombreRecettes|length }}</span>
						</button>
					{% endif %}
					{% if is_granted('ROLE_CAISSIERE') or is_granted('ROLE_ADMINISTRATEUR')%}
						<a href="{{ path ('afficher_produit') }}" class="btn btn-outline-primary"><i class="fe fe-eye me-2"></i>
							{% trans %}Afficher produit{% endtrans %}
						</a>
					{% endif %}
					
				</div>
			</div>
		</div>
		<!--End Page header-->

		<!--Row-->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card border-primary">
					<div class="card-header">
						<div class="col-xl-6 col-lg-6 col-md-6">
							<h3 class="card-title">{% trans %}Toutes les recettes{% endtrans %}</h3>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6">
							<form method="post" action="{{ path ('recette_periode') }}" class="row g-3 needs-validation" novalidate>
								<div class="col-md-4 position-relative">
								<input type="date" name="dateDebut" class="form-control" id="validationCustom01" required>
								<div class="invalid-feedback">
									{% trans %}Champ requis{% endtrans %}
								</div>
								</div>
								<div class="col-md-4 position-relative">
								<input type="date" name="dateFin" class="form-control" id="validationCustom01" required>
								<div class="invalid-feedback">
									{% trans %}Champ requis{% endtrans %}
								</div>
								</div>
								<div class="col-md-4">
								<button class="btn btn-outline-primary" type="submit" name="impressionFicheVente"><i class="si si-eye me-2"></i>{% trans %}Afficher{% endtrans %}</button>
								</div>
							</form>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-striped card-table table-vcenter text-nowrap" id="datatable">
								<thead>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Photo{% endtrans %}</th>
										<th>{% trans %}Caissière{% endtrans %}</th>
										<th>{% trans %}Recette{% endtrans %}</th>
										<th>{% trans %}Mode paiement{% endtrans %}</th>
										<th>{% trans %}Nombre{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Photo{% endtrans %}</th>
										<th>{% trans %}Caissière{% endtrans %}</th>
										<th>{% trans %}Recette{% endtrans %}</th>
										<th>{% trans %}Mode paiement{% endtrans %}</th>
										<th>{% trans %}Nombre{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</tfoot>
								<tbody>
									{% set i = 1 %}
									{% for recette in recettes %}
										<tr>
											<td>{{ i }}</td>
											<td>
												<img class="avatat avatar-md brround me-2" src="{{ recette.PHOTO ? asset('images/photoUsers/' ~ recette.PHOTO) : asset('images/photoUsers/user.png')}}" alt="img">

                                            </td>

											<td>
												<a class="font-weight-normal1" href="">{{ recette.CAISSIERE }}</a>
											</td>
											<td>
												<a class="font-weight-normal1" href="">{{ recette.SOMME }} FCFA</a>
											</td>
											<td>
												{% if recette.PAIEMENT == 'CASH' %}
													<span class="badge bg-success-light border-primary fs-11">{{ recette.PAIEMENT }}</span>
													{% else %}
													{% if recette.PAIEMENT == 'CRÉDIT' %}
														<span class="badge bg-danger-light border-danger fs-11">{{ recette.PAIEMENT }}</span>
														{% else %}
														<span class="badge bg-primary-light border-primary fs-11">{{ recette.PAIEMENT }}</span>
													
													{% endif %}
												{% endif %}
											</td>

                                            <td>
												<a class="font-weight-normal1" href="">{{ recette.NOMBRE }} </a>
											</td>
											
											<td>
												<a href="{{ path ('impression_fiche_de_vente', {'recette': recette.id }) }}" target="_blank" class="btn btn-outline-primary" data-bs-toggle="tooltip" title="{% trans %}Imprimer{% endtrans %}"><i class="fe fe-printer"></i></a>
											</td>
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
									
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End app-content-->
{% endblock %}

{% block javascripts %}
    <script>
		function confirmation(){
            
			swal({
				title: "{% trans %}Avertissement !{% endtrans %}",
				text: "{% trans %}Voulez-vous vraiment supprimer cette catégorie ?{% endtrans %}",
				type: "warning",
				showCancelButton: true,
				confirmButtonText: '{% trans %}Oui{% endtrans %}',
				cancelButtonText: '{% trans %}Non{% endtrans %}'
			});
			
		};
        
    </script>
{% endblock %}