{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Liste des recettes du jour{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}



{% block body %}
<!-- App-Content -->
<div class="hor-content main-content">
	<div class="container">

		<!--Page header-->
		<div class="page-header">
			<div class="page-leftheader">
				<h4 class="page-title mb-0 text-primary">{% trans %}Recettes du jour {% endtrans %}</h4>
			</div>
			<div class="page-rightheader">
				<div class="btn-list">
					{% if is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_REGIES_DES_RECETTES') or is_granted('ROLE_ADMINISTRATEUR') %}
						{# <a href="{{ path ('ajouter_recette') }}" class="btn btn-outline-primary"><i class="fe fe-plus me-2"></i>
							{% trans %}Ajouter un recette{% endtrans %}
						</a> #}
						{# <a href="javascript:void(0);" class="btn btn-outline-primary" traget="_blanl"><i class="fe fe-printer me-2"></i>
							{% trans %}Imprimer toutes les recettes du jour{% endtrans %}
						</a> #}
						<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
							<span>{% trans %}Nombres de recettes soldés du jour{% endtrans %}</span>
							<span class="badge bg-white text-dark">{{ nombreRecetteDuJour|length }}</span>
						</button>
						
					{% endif %}
					{% if is_granted('ROLE_CAISSIERE') or is_granted('ROLE_ADMINISTRATEUR') %}
						<a href="{{ path ('afficher_produit') }}" class="btn btn-outline-primary"><i class="fe fe-eye me-2"></i>
							{% trans %}Afficher produit{% endtrans %}
						</a>
					{% endif %}
					
				</div>
			</div>
		</div>
		<!--End Page header-->

		<!--Row-->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card border-primary">
					<div class="card-header">
						<div class="col-xl-8 col-lg-8 col-md-8">
							<h3 class="card-title">{% trans %}Recettes du jour soldés{% endtrans %}</h3>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 text-right">
							<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
								<span>{% trans %}Recette du jour {% endtrans %}</span>
								<span class="badge bg-white text-dark">{{ recetteDuJourSolde|number_format }} FCFA</span>
							</button>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-striped card-table table-vcenter text-nowrap" id="example1">
								<thead>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Photo{% endtrans %}</th>
										<th>{% trans %}Caissière{% endtrans %}</th>
										<th>{% trans %}Recette{% endtrans %}</th>
										<th>{% trans %}Mode paiement{% endtrans %}</th>
										<th>{% trans %}Nombre{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Photo{% endtrans %}</th>
										<th>{% trans %}Caissière{% endtrans %}</th>
										<th>{% trans %}Recette{% endtrans %}</th>
										<th>{% trans %}Mode paiement{% endtrans %}</th>
										<th>{% trans %}Nombre{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</tfoot>
								<tbody>
									{% set i = 1 %}
									{% for recette in recettesDuJourSolde %}
										<tr>
											<td><span class="badge bg-primary">{{ i }}</span> </td>
											<td>
												<img class="avatat avatar-md brround me-2" src="{{ recette.PHOTO ? asset('images/photoUsers/' ~ recette.PHOTO) : asset('images/photoUsers/user.png')}}" alt="img">

                                            </td>

											<td>
												<span class="bg-primary px-2 py-1 text-white br-7">{{ recette.CAISSIERE }}</span>
											</td>
											<td>
												<span class="bg-success px-2 py-1 text-white br-7" href="">{{ recette.SOMME|number_format }} FCFA</span>
											</td>
											<td>
												{% if recette.PAIEMENT == 'PRIS EN CHARGE' %}
													<span class="badge bg-warning-light border-warning fs-11">{{ recette.PAIEMENT }} </span>
												{% endif %}
												{% if recette.PAIEMENT == 'CRÉDIT' %}
													<span class="badge bg-danger-light border-danger fs-11">{{ recette.PAIEMENT }} </span>
												{% endif %}
												{% if recette.PAIEMENT == 'CASH' %}
													<span class="badge bg-success-light border-success fs-11">{{ recette.PAIEMENT }} </span>
												{% endif %}
												
											</td>

                                            <td>
												<span class="bg-primary px-2 py-1 text-white br-7">{{ recette.NOMBRE|number_format }} </span>
											</td>
											
											<td>
												<a href="{{ path ('impression_fiche_de_vente', {'id': recette.id }) }}" target="_blank" class="btn btn-outline-primary" data-bs-toggle="tooltip" title="{% trans %}Imprimer{% endtrans %}"><i class="fe fe-printer"></i></a>
											</td>
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
									
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# les avances du jour  #}
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card border-danger">
					<div class="card-header">
						<div class="col-xl-8 col-lg-8 col-md-8">
							<h3 class="card-title">{% trans %}Les avances du jour{% endtrans %}</h3>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 text-right">
							<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
								<span>{% trans %}Recette du jour non soldé{% endtrans %}</span>
								<span class="badge bg-white text-dark">{{ recetteAvanceDuJour|number_format }} FCFA</span>
							</button>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-striped card-table table-vcenter text-nowrap" id="example-1">
								<thead>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Caissière{% endtrans %}</th>
										<th>{% trans %}Net à payer{% endtrans %}</th>
										<th>{% trans %}Avance du jour{% endtrans %}</th>
										<th>{% trans %}Reste{% endtrans %}</th>
										<th>{% trans %}Mode paiement{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Caissière{% endtrans %}</th>
										<th>{% trans %}Net à payer{% endtrans %}</th>
										<th>{% trans %}Avance du jour{% endtrans %}</th>
										<th>{% trans %}Reste{% endtrans %}</th>
										<th>{% trans %}Mode paiement{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</tfoot>
								<tbody>
									{% set i = 1 %}
									{% for avanceDuJour in avancesDuJour %}
										<tr>
											<td><span class="badge bg-primary">{{ i }}</span> </td>
											<td>
												<img class="avatat avatar-md brround me-2" src="{{ avanceDuJour.PHOTO ? asset('images/photoUsers/' ~ avanceDuJour.PHOTO) : asset('images/photoUsers/user.png')}}" alt="img">

												<span class="bg-primary px-2 py-1 text-white br-7" >{{ avanceDuJour.caissiere }}</span>
											</td>
											<td>
												<span class="bg-success px-2 py-1 text-white br-7" >{{ avanceDuJour.netAPayer|number_format }} FCFA</span>
											</td>
											<td>
												<span class="bg-warning px-2 py-1 text-white br-7" >{{ avanceDuJour.avance|number_format }} FCFA </span>
											</td>

                                            <td>
												<span class="bg-danger px-2 py-1 text-white br-7">{{ (avanceDuJour.netAPayer - avanceDuJour.avance)|number_format }} FCFA </span>
											</td>

											<td>
												{% if avanceDuJour.modePaiement == 'PRIS EN CHARGE' %}
													<span class="badge bg-warning-light border-warning fs-11">{{ avanceDuJour.modePaiement }} </span>
												{% endif %}
												{% if avanceDuJour.modePaiement == 'CRÉDIT' %}
													<span class="badge bg-danger-light border-danger fs-11">{{ avanceDuJour.modePaiement }} </span>
												{% endif %}
												{% if avanceDuJour.modePaiement == 'CASH' %}
													<span class="badge bg-success-light border-success fs-11">{{ avanceDuJour.modePaiement }} </span>
												{% endif %}
											</td>
											
											<td>
												<a href="{{ path ('impression_fiche_de_vente', {'id': avanceDuJour.id }) }}" target="_blank" class="btn btn-outline-primary" data-bs-toggle="tooltip" title="{% trans %}Imprimer{% endtrans %}"><i class="fe fe-printer"></i></a>
											</td>
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
									
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="card border-danger">
					<div class="card-header">
						<div class="col-xl-8 col-lg-8 col-md-8">
							<h3 class="card-title">{% trans %}Recettes à crédit ou pris en charge{% endtrans %}</h3>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 text-right">
							<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
								<span>{% trans %}Recette du jour non soldé{% endtrans %}</span>
								<span class="badge bg-white text-dark">{{ recetteDuJourNonSolde|number_format }} FCFA</span>
							</button>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-striped card-table table-vcenter text-nowrap" id="datatable">
								<thead>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Photo{% endtrans %}</th>
										<th>{% trans %}Caissière{% endtrans %}</th>
										<th>{% trans %}Recette{% endtrans %}</th>
										<th>{% trans %}Mode paiement{% endtrans %}</th>
										<th>{% trans %}Nombre{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Photo{% endtrans %}</th>
										<th>{% trans %}Caissière{% endtrans %}</th>
										<th>{% trans %}Recette{% endtrans %}</th>
										<th>{% trans %}Mode paiement{% endtrans %}</th>
										<th>{% trans %}Nombre{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</tfoot>
								<tbody>
									{% set i = 1 %}
									{% for recette in recettesDuJourNonSolde %}
										<tr>
											<td><span class="badge bg-primary">{{ i }}</span> </td>
											<td>
												<img class="avatat avatar-md brround me-2" src="{{ recette.PHOTO ? asset('images/photoUsers/' ~ recette.PHOTO) : asset('images/photoUsers/user.png')}}" alt="img">

                                            </td>

											<td>
												<span class="bg-primary px-2 py-1 text-white br-7" >{{ recette.CAISSIERE }}</span>
											</td>
											<td>
												<span class="bg-success px-2 py-1 text-white br-7">{{ recette.SOMME|number_format }} FCFA</span>
											</td>
											<td>
												{% if recette.PAIEMENT == 'PRIS EN CHARGE' %}
													<span class="badge bg-warning-light border-warning fs-11">{{ recette.PAIEMENT }} </span>
												{% endif %}
												{% if recette.PAIEMENT == 'CRÉDIT' %}
													<span class="badge bg-danger-light border-danger fs-11">{{ recette.PAIEMENT }} </span>
												{% endif %}
												{% if recette.PAIEMENT == 'CASH' %}
													<span class="badge bg-success-light border-success fs-11">{{ recette.PAIEMENT }} </span>
												{% endif %}
											</td>

                                            <td>
												<span class="bg-primary px-2 py-1 text-white br-7">{{ recette.NOMBRE|number_format }} </span>
											</td>
											
											<td>
												<a href="{{ path ('impression_fiche_de_vente', {'id': recette.id }) }}" target="_blank" class="btn btn-outline-primary" data-bs-toggle="tooltip" title="{% trans %}Imprimer{% endtrans %}"><i class="fe fe-printer"></i></a>
											</td>
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
									
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End app-content-->
{% endblock %}
