            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary">{% trans %}Tableau de bord{% endtrans %}</h4>
                </div>
                <div class="page-rightheader">
                    <div class="btn-list">
                        <a href="javascript:void(0);" target="_blank" class="btn btn-outline-primary"><i class="si si-book-open me-2"></i> {% trans %}Manuel d'utilisation{% endtrans %}</a>
                        
                        <a href="javascript:void(0);" class="btn btn-outline-danger"><i class="si si-calendar me-2"></i> {% trans %}Il vous reste {% endtrans %} {{ nombreDeJoursRestants }} {% trans %}jours d'utilisation{% endtrans %}</a>
                           
                        
                    </div>
                </div>
            </div>
            <!--End Page header-->

            <!-- DONNEES DU JOUR -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14">CASH</span>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombreCashDuJour }}</h5>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantCashDuJour }} FCFA</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14 font-weight-normal">{% trans %}PRIS EN CHARGE{% endtrans %}</span>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombrePrisEnChargeDuJour }}</h5>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantPrisEnChargeDuJour }} FCFA</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14">{% trans %}CRÉDIT{% endtrans %}</span>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombreCreditDuJour }}</h5>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantCreditDuJour }} FCFA</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="text-justify">
                                        <span>Total</span>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombreCashDuJour + nombrePrisEnChargeDuJour + nombreCreditDuJour }}</h5>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantCashDuJour + montantPrisEnChargeDuJour + montantCreditDuJour }} FCFA</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row-1 -->


            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary"><i class="si si-wallet"></i> {% trans %}Toutes les recettes{% endtrans %}</h4>
                </div>
                <div class="page-rightheader">
                    <div class="btn-list">
                        {# <a href="javascript:void(0);"  class="btn btn-outline-primary btn-pill">
                            <i class="si si-magnifier me-2 fs-14"></i>
                            {% trans %}Afficher les recettes d'une période{% endtrans %}
                        </a>
                        <a href="javascript:void(0);"  class="btn btn-outline-primary btn-pill">
                            <i class="si si-printer me-2 fs-14"></i>
                            {% trans %}Imprimer{% endtrans %}
                        </a> #}
                    </div>
                </div>
            </div>
            <!--End Page header-->

            <!-- TOUTES LES DONNEES -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14">CASH</span>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombreCash }}</h5>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantCash }} FCFA</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14 font-weight-normal">{% trans %}PRIS EN CHARGE{% endtrans %}</span>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombrePrisEnCharge }}</h5>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantPrisEnCharge }} FCFA</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14">{% trans %}CRÉDIT{% endtrans %}</span>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombreCredit }}</h5>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantCredit }} FCFA</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="text-justify">
                                        <span>Total</span>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombreCash + nombrePrisEnCharge + nombreCredit }}</h5>
                                        <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantCash + montantPrisEnCharge + montantCredit }} FCFA</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row-1 -->

            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary"><i class="fe fe-database me-2"></i> {% trans %}Produits{% endtrans %}</h4>
                </div>
                <div class="page-rightheader">
                    <div class="btn-list">
                        <a href="{{ path ('impression_etat_stock') }}" target="_blank" class="btn btn-outline-primary btn-pill">
                            <i class="fe fe-printer me-2 fs-14"></i> 
                            {% trans %}Imprimer l'état du stock{% endtrans %}
                        </a>
                        
                    </div>
                </div>
            </div>
            <!--End Page header-->
            <!-- Row-1 -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14 font-weight-normal">{% trans %}Total commandes{% endtrans %}</span>
                                        <h2 class="mb-2 number-font carn1 font-weight-bold">{{ commandes|length }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14 font-weight-normal">{% trans %}Produits{% endtrans %}</span>
                                        <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">{{ tousLesProduits|length - produitsPerimes|length }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14 font-weight-normal">{% trans %}Produits périmés nas 3 mois{% endtrans %}</span>
                                        <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">{{ produitsBientotPerimes|length }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14">{% trans %}Produits périmés{% endtrans %}</span>
                                        <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">{{ produitsPerimes|length }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row-1 -->




				