<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary"><i class="fa fa-dashboard me-2"></i> {% trans %}Tableau de bord de : {% endtrans %} {{ app.user.nom }}</h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list">
            <a href="javascript:void(0);" target="_blank" class="btn btn-outline-primary">
                <i class="si si-book-open me-2"></i> 
                {% trans %}Manuel d'utilisation{% endtrans %}
            </a>
                 
        </div>
    </div>
</div>
<!--End Page header-->

<!-- Row-1 -->
<div class="row">
    {% if is_granted('ROLE_PHARMACIEN') %}
        <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
            <div class="card overflow-hidden dash1-card border-0 dash1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="">
                                <span class="fs-14 font-weight-normal">{% trans %}Total Lots{% endtrans %}</span>
                                <h2 class="mb-2 number-font carn1 font-weight-bold">{{ lots|length }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if is_granted('ROLE_SECRETAIRE') %}
        <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
            <div class="card overflow-hidden dash1-card border-0 dash1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="">
                                <span class="fs-14 font-weight-normal">{% trans %}Total Commandes{% endtrans %}</span>
                                <h2 class="mb-2 number-font carn1 font-weight-bold">{{ commandes|length }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
        <div class="card overflow-hidden dash1-card border-0 dash2">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="">
                            <span class="fs-14 font-weight-normal">{% trans %}Produits{% endtrans %}</span>
                            <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">{{ tousLesProduits|length - produitsPerimes|length }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
        <div class="card overflow-hidden dash1-card border-0 dash4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="">
                            <span class="fs-14 font-weight-normal">{% trans %}Produits périmés dans 3 mois{% endtrans %}</span>
                            <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">{{ produitsBientotPerimes|length }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
        <div class="card overflow-hidden dash1-card border-0 dash3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="">
                            <span class="fs-14">{% trans %}Produits périmés{% endtrans %}</span>
                            <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">{{ produitsPerimes|length }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-1 -->

<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary"><i class="fa fa-cubes me-2"></i> {% trans %}Produits{% endtrans %}</h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list">
            {% if is_granted('ROLE_PHARMACIEN') %}
                <a href="{{ path ('ajouter_produit') }}" class="btn btn-outline-primary"><i class="fe fe-plus me-2"></i>
                    {% trans %}Ajouter un produit{% endtrans %}
                </a>
            {% endif %}
            <a href="{{ path ('impression_etat_stock') }}" target="_blank" class="btn btn-outline-primary btn-pill">
                <i class="fe fe-printer me-2 fs-14"></i> 
                {% trans %}Imprimer l'état du stock{% endtrans %}
            </a>
            
        </div>
    </div>
</div>
<!--End Page header-->

<!--Row-->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card border-danger">
            <div class="card-header">
                <div class="col-md-9">
                    <h3 class="card-title"><i class="fa fa-cubes me-2"></i> {% trans %}Nos Produits{% endtrans %}</h3>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-primary mt-1 mb-1 me-3">
                        <span>{% trans %}Nombre de produits{% endtrans %}</span>
                        <span class="badge  bg-primary rounded-pill">{{ tousLesProduits|length }}</span>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {% include "includes/_tableProduits.html.twig" %}
                </div>
            </div>
        </div>
    </div>
</div>
				