{% if app.user %}
    <!--app header-->
    <div class="hor-header header top-header" style="background-color: #0f1e63;">
        <div class="container">
            <div class="d-flex">
                <a class="animated-arrow hor-toggle horizontal-navtoggle"><span></span></a>
                <a class="header-brand" href="">
                    <img src="{{ asset ('assets/images/brand/logo.png') }}" class="header-brand-img desktop-lgo" alt="logo">
                    <img src="{{ asset ('assets/images/brand/logo.png') }}" class="header-brand-img dark-logo" alt="logo">
                    <img src="{{ asset ('assets/images/brand/logo.png') }}" class="header-brand-img mobile-logo" alt="logo">
                    <img src="{{ asset ('assets/images/brand/logo.png') }}" class="header-brand-img darkmobile-logo" alt="logo">
                </a>
                <div class="mt-1 d-md-block d-none text-center">
                    <form class="form-inline text-center">
                        <div class="search-element text-center">
                            <h2 class="mt-2 page-title mb-0 text-primary" style="font-size: 25px; text-align:center; color: #ffffff !important; ">
                                <b>QuickPay</b>
                            </h2>
                            
                        </div>
                    </form>
                </div>
                <div class="d-flex order-lg-2 ms-auto main-header-end">
                    <button  class="navbar-toggler navresponsive-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="true" aria-label="Toggle navigation">
                        <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
                    </button>
                    <div class="navbar navbar-expand-lg navbar-collapse responsive-navbar p-0">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                            <div class="d-flex order-lg-2">
                                <div class="dropdown country-selector d-flex">
                                    <a href="javascript:void(0);" class="nav-link leading-none" data-bs-toggle="dropdown">
                                        <span class="header-avatar1">
                                            <img src="{{ asset ('assets/images/us_flag.jpg') }}" alt="img" class="me-2 country">
                                            <span class="fs-14 font-weight-semibold"> English</span>
                                        </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow animated">
                                        <a class="dropdown-item d-flex" href="profile-1.html">
                                            <img src="{{ asset ('assets/images/french_flag.jpg') }}" alt="img" class="me-2 country mt-1">
                                            <span class="fs-13"> Français</span>
                                        </a>
                                        <a class="dropdown-item d-flex" href="profile-1.html">
                                            <img src="{{ asset ('assets/images/germany_flag.jpg') }}" alt="img" class="me-2 country mt-1">
                                            <span class="fs-13"> Germany</span>
                                        </a>
                                        <a class="dropdown-item d-flex" href="search.html">
                                            <img src="{{ asset ('assets/images/italy_flag.jpg') }}" alt="img" class="me-2 country mt-1">
                                            <span class="fs-13"> Italy</span>
                                        </a>
                                        <a class="dropdown-item d-flex" href="chat.html">
                                            <img src="{{ asset ('assets/images/russia_flag.jpg') }}" alt="img" class="me-2 country mt-1">
                                            <span class="fs-13"> Russia</span>
                                        </a>
                                        <a class="dropdown-item d-flex" href="login-1.html">
                                            <img src="{{ asset ('assets/images/spain_flag.jpg') }}" alt="img" class=" me-2 country mt-1">
                                            <span class="fs-13"> Spain</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="dropdown header-message d-flex">
                                    <a class="nav-link icon" data-bs-toggle="dropdown">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="header-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"/></svg>
                                        <span class="badge bg-success side-badge">5</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow  animated">
                                        <div class="dropdown-header">
                                            <h6 class="mb-0">Messages</h6>
                                            <span class="badge fs-10 bg-secondary br-7 ms-auto">New</span>
                                        </div>
                                        <div class="notify-menu">
                                            <a href="email-inbox.html" class="dropdown-item border-bottom d-flex ps-4">
                                                <div class="notifyimg  text-primary bg-primary-transparent border-primary"> <i class="fa fa-envelope"></i> </div>
                                                <div>
                                                    <span class="fs-13">{% trans %}Transactions reçus{% endtrans %}</span> <span class="ms-auto badge bg-primary me-2">4</span>
                                                    <div class="small text-muted">3 hours ago</div>
                                                </div>
                                            </a>
                                            <a href="email-inbox.html" class="dropdown-item border-bottom d-flex ps-4">
                                                <div class="notifyimg  text-secondary bg-secondary-transparent border-secondary"> <i class="fa fa-shopping-cart"></i></div>
                                                <div>
                                                    <span class="fs-13">Order Placed</span>
                                                    <div class="small text-muted">5  hour ago</div>
                                                </div>
                                            </a>
                                            <a href="email-inbox.html" class="dropdown-item border-bottom d-flex ps-4">
                                                <div class="notifyimg  text-danger bg-danger-transparent border-danger"> <i class="fa fa-gift"></i> </div>
                                                <div>
                                                    <span class="fs-13">Event Started</span>
                                                    <div class="small text-muted">45 mintues ago</div>
                                                </div>
                                            </a>
                                            <a href="email-inbox.html" class="dropdown-item border-bottom d-flex ps-4 mb-2">
                                                <div class="notifyimg  text-success  bg-success-transparent border-success"> <i class="fa fa-windows"></i> </div>
                                                <div>
                                                    <span class="fs-13">Your Admin lanuched</span>
                                                    <div class="small text-muted">1 daya ago</div>
                                                </div>
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="dropdown country-selector d-flex">
                                    <a href="javascript:void(0);" class="nav-link leading-none" data-bs-toggle="dropdown">
                                        <span class="header-avatar1">
                                            <span class="fs-14 font-weight-semibold">{% trans %}Bienvenue : {% endtrans %} {{ app.user.username }}</span>
                                        </span>
                                    </a>
                                </div>
                                <div class="dropdown profile-dropdown d-flex">
                                    <a href="javascript:void(0);" class="nav-link pe-0 leading-none" data-bs-toggle="dropdown">
                                        
                                        <span class="header-avatar1">
                                            <img src="{{ app.user.photo ? asset ('images/photoUsers/' ~ app.user.photo ) : asset ('assets/images/brand/administrateur.png')}}" alt="img" class="avatar avatar-md brround">
                                        </span>

                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow animated border-primary">
                                        <div class="text-center">
                                            <div class="text-center user pb-0 font-weight-bold">{{ app.user.username }}</div>
                                            <span class="text-center user-semi-title">
                                                {# {{ app.user.typeUtilisateur.typeUtilisateur }} #}
                                            </span>
                                            <div class="dropdown-divider"></div>
                                        </div>
                                        <a class="dropdown-item d-flex" href="{{ path ('afficher_profil')}}">
                                            <svg class="header-icon me-2" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z"/></svg>
                                            <div class="fs-13">{% trans %}Mon Profil{% endtrans %}</div>
                                        </a>
                                        <a class="dropdown-item d-flex" href="{{ path ('modifier_mot_de_passe')}}">
                                            <svg class="header-icon me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                </svg>
                                            <div class="fs-13">{% trans %}Modifier mon mot de passe{% endtrans %}</div>
                                        </a>
                                        <a class="dropdown-item d-flex" href="{{ path ('app_logout') }}">
                                            <svg class="header-icon me-2" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24"/></g><g><path d="M11,7L9.6,8.4l2.6,2.6H2v2h10.2l-2.6,2.6L11,17l5-5L11,7z M20,19h-8v2h8c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2h-8v2h8V19z"/></g></svg>
                                            <div class="fs-13">{% trans %}Déconnexion{% endtrans %}</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/app header-->
{% endif %}