<!--Page header-->
    <div class="page-header">
        <div class="page-leftheader">
            <h4 class="page-title mb-0 text-primary"><i class="si si-doc me-2"></i> {% trans %}Impression des fiches{% endtrans %}</h4>
        </div>
        <div class="page-rightheader">
            <div class="btn-list">
                <a href="{{ path ('afficher_produit') }}"  class="btn btn-outline-primary btn-pill" >
                    <i class="fa fa-cubes me-2 fs-14"></i> {% trans %}Les Produits{% endtrans %}
                </a>
                {% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_ADMINISTRATEUR')%}
                    <a href="{{ path ('liste_commande', {'a': 1}) }}"  class="btn btn-outline-primary btn-pill" >
                        <i class="fa fa-folder me-2 fs-14"></i> {% trans %}Les commandes{% endtrans %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <!--End Page header-->

    <!-- Row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card border-primary">
                <div class="card-header">
                    <h3 class="card-title"><i class="fe fe-printer me-2"></i> {% trans %}Impression des fiches{% endtrans %}</h3>
                </div>
                <div class="card-body">
                    {# fiche de stock et fiche d'état de vente#}
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <div class="expanel expanel-primary border-primary">
                                <div class="expanel-heading">
                                    <h3 class="expanel-title">{% trans %}Etat du stock{% endtrans %}</h3>
                                </div>
                                <div class="expanel-body text-center">
                                <a href="{{ path ('impression_etat_stock') }}" class="btn btn-outline-primary" target="_blank"><i class="si si-printer me-2"></i>{% trans %}Imprimer l'état du stock{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                        {% if not is_granted('ROLE_PHARMACIEN')  %}
                            {% if not is_granted('ROLE_SECRETAIRE') %}
                            <div class="col-lg-6">
                                <div class="expanel expanel-primary border-primary">
                                    <div class="expanel-heading">
                                        <h3 class="expanel-title">{% trans %}Fiche d'état de vente{% endtrans %}</h3>
                                    </div>
                                    <div class="expanel-body text-center">
                                    <a href="{{ path ('impression_etat_de_vente') }}" class="btn btn-outline-primary" target="_blank"><i class="si si-printer me-2"></i>{% trans %}Imprimer la fiche d'état de vente{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                        
                    </div>

                    {# fiche d'entrée #}
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <div class="expanel expanel-primary border-primary">
                                <div class="expanel-heading">
                                    <h3 class="expanel-title">{% trans %}Fiche d'entrée{% endtrans %}</h3>
                                </div>
                                <div class="expanel-body text-center">
                                <a href="{{ path ('impression_fiche_entree') }}" class="btn btn-outline-primary" target="_blank"><i class="si si-printer me-2"></i>{% trans %}Imprimer le fiche d'entrée{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="expanel expanel-primary border-primary">
                                <div class="expanel-heading">
                                    <h3 class="expanel-title">{% trans %}Fiche d'entrée d'une période{% endtrans %}</h3>
                                </div>
                                <div class="expanel-body text-center">
                                    <form method="post" action="{{ path ('impression_fiche_entree', {'periode': 1 }) }}" class="row g-3 needs-validation" novalidate target="_blank">
                                        <div class="col-md-4 position-relative">
                                        <input type="date" name="dateDebut" class="form-control" id="validationCustom01" required>
                                        <div class="invalid-feedback">
                                            {% trans %}Champ requis{% endtrans %}
                                        </div>
                                        </div>
                                        <div class="col-md-4 position-relative">
                                        <input type="date" name="dateFin" class="form-control" id="validationCustom01" required>
                                        <div class="invalid-feedback">
                                            {% trans %}Champ requis{% endtrans %}
                                        </div>
                                        </div>
                                        <div class="col-md-4">
                                        <button class="btn btn-outline-primary" type="submit" name="impressionFicheEntree"><i class="si si-printer me-2"></i>{% trans %}Imprimer {% endtrans %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    {# fiche de vente #}
                  {% if not is_granted('ROLE_PHARMACIEN') %}
                    {% if not is_granted('ROLE_SECRETAIRE') %}
                        <div class="row mt-4">
                            <div class="col-lg-6">
                                <div class="expanel expanel-primary border-primary">
                                    <div class="expanel-heading">
                                        <h3 class="expanel-title">{% trans %}Fiche de vente{% endtrans %}</h3>
                                    </div>
                                    <div class="expanel-body text-center">
                                    <a href="{{ path ('impression_fiche_de_vente') }}" class="btn btn-outline-primary" target="_blank"><i class="si si-printer me-2"></i>{% trans %}Imprimer le fiche de vente{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="expanel expanel-primary border-primary">
                                    <div class="expanel-heading">
                                        <h3 class="expanel-title">{% trans %}Fiche de vente d'une période{% endtrans %}</h3>
                                    </div>
                                    <div class="expanel-body text-center">
                                        <form method="post" action="{{ path('impression_fiche_de_vente') }}" class="row g-3 needs-validation" novalidate target="_blank">
                                            <div class="col-md-4 position-relative">
                                            <input type="date" name="dateDebut" class="form-control" id="validationCustom01" required>
                                            <div class="invalid-feedback">
                                                {% trans %}Champ requis{% endtrans %}
                                            </div>
                                            </div>
                                            <div class="col-md-4 position-relative">
                                            <input type="date" name="dateFin" class="form-control" id="validationCustom01" required>
                                            <div class="invalid-feedback">
                                                {% trans %}Champ requis{% endtrans %}
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <button class="btn btn-outline-primary" type="submit" name="impressionFicheVente"><i class="si si-printer me-2"></i>{% trans %}Imprimer{% endtrans %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                  {% endif %}
                    

                    {# fiche des produits presque périmés #}
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <div class="expanel expanel-primary border-info">
                                <div class="expanel-heading">
                                    <h3 class="expanel-title">{% trans %}Fiche des produits presque périmés{% endtrans %}</h3>
                                </div>
                                <div class="expanel-body text-center">
                                    <a href="{{ path ('produits_perimes', {'bientot': 1 }) }}" class="btn btn-outline-info" target="_blank"><i class="si si-printer me-2"></i>{% trans %}Imprimer les produits presque périmés {% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="expanel expanel-danger border-danger">
                                <div class="expanel-heading">
                                    <h3 class="expanel-title">{% trans %}Produits périmés{% endtrans %}</h3>
                                </div>
                                <div class="expanel-body text-center">
                                    <a href="{{ path ('produits_perimes') }}" class="btn btn-outline-danger" target="_blank"><i class="si si-printer me-2"></i>{% trans %}Imprimer la fiche des produits périmés{% endtrans %}</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    {# fiche des diagrammes #}
                    {# <div class="row mt-4">
                        <div class="col-lg-6">
                            <div class="expanel expanel-danger">
                                <div class="expanel-heading">
                                    <h3 class="expanel-title">{% trans %}Diagramme de vente hebdomadaire{% endtrans %}</h3>
                                </div>
                                <div class="expanel-body text-center">
                                <a href="javascript:void(0);" class="btn btn-outline-primary" target="_blank"><i class="si si-printer me-2"></i>{% trans %}Imprimer{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="expanel expanel-danger">
                                <div class="expanel-heading">
                                    <h3 class="expanel-title">{% trans %}Diagramme de vente mensuel {% endtrans %}</h3>
                                </div>
                                <div class="expanel-body text-center">
                                    <form method="post" action="javascript:void(0);" class="row g-3 needs-validation" novalidate target="_blank">
                                        <div class="col-md-4 position-relative">
                                        <input type="date" name="dateDebut" class="form-control" id="validationCustom01" required>
                                        <div class="invalid-feedback">
                                            {% trans %}Champ requis{% endtrans %}
                                        </div>
                                        </div>
                                        <div class="col-md-4 position-relative">
                                        <input type="date" name="dateFin" class="form-control" id="validationCustom01" required>
                                        <div class="invalid-feedback">
                                            {% trans %}Champ requis{% endtrans %}
                                        </div>
                                        </div>
                                        <div class="col-md-4">
                                        <button class="btn btn-outline-primary" type="submit" name="impressionFicheVente"><i class="si si-printer me-2"></i>{% trans %}Imprimer{% endtrans %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> #}
                </div>
            </div>
        </div>
    </div>
    <!--End Row -->