
				{% if app.user %}
					
					{% if is_granted('ROLE_SUPER_ADMINISTRATEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_UTILISATEUR') %}
						<!--/Horizontal-main -->
						<div class="sticky">
							<div class="horizontal-main hor-menu clearfix">
								<div class="horizontal-mainwrapper container clearfix">
									<nav class="horizontalMenu clearfix">
										<ul class="horizontalMenu-list">
											<li aria-haspopup="true">
												<a href="{{ path ('tableau_de_bord') }}" class="sub-icon">
													
													<svg class="hor-icon" class="side-menu__icon" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M18.5 3H16C15.7239 3 15.5 3.22386 15.5 3.5V3.55891L19 6.35891V3.5C19 3.22386 18.7762 3 18.5 3Z" fill="#1C274C"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M10.75 9.5C10.75 8.80964 11.3097 8.25 12 8.25C12.6904 8.25 13.25 8.80964 13.25 9.5C13.25 10.1904 12.6904 10.75 12 10.75C11.3097 10.75 10.75 10.1904 10.75 9.5Z" fill="#1C274C"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M20.75 10.9605L21.5315 11.5857C21.855 11.8444 22.3269 11.792 22.5857 11.4685C22.8444 11.1451 22.792 10.6731 22.4685 10.4143L14.3426 3.91362C12.9731 2.81796 11.027 2.81796 9.65742 3.91362L1.53151 10.4143C1.20806 10.6731 1.15562 11.1451 1.41438 11.4685C1.67313 11.792 2.1451 11.8444 2.46855 11.5857L3.25003 10.9605V21.25H2.00003C1.58581 21.25 1.25003 21.5858 1.25003 22C1.25003 22.4142 1.58581 22.75 2.00003 22.75H22C22.4142 22.75 22.75 22.4142 22.75 22C22.75 21.5858 22.4142 21.25 22 21.25H20.75V10.9605ZM9.25003 9.5C9.25003 7.98122 10.4812 6.75 12 6.75C13.5188 6.75 14.75 7.98122 14.75 9.5C14.75 11.0188 13.5188 12.25 12 12.25C10.4812 12.25 9.25003 11.0188 9.25003 9.5ZM12.0494 13.25C12.7143 13.25 13.2871 13.2499 13.7459 13.3116C14.2375 13.3777 14.7088 13.5268 15.091 13.909C15.4733 14.2913 15.6223 14.7625 15.6884 15.2542C15.7462 15.6842 15.7498 16.2146 15.75 16.827C15.75 16.8679 15.75 16.9091 15.75 16.9506L15.75 21.25H14.25V17C14.25 16.2717 14.2484 15.8009 14.2018 15.454C14.1581 15.1287 14.0875 15.0268 14.0304 14.9697C13.9733 14.9126 13.8713 14.842 13.546 14.7982C13.1991 14.7516 12.7283 14.75 12 14.75C11.2717 14.75 10.8009 14.7516 10.4541 14.7982C10.1288 14.842 10.0268 14.9126 9.9697 14.9697C9.9126 15.0268 9.84199 15.1287 9.79826 15.454C9.75162 15.8009 9.75003 16.2717 9.75003 17V21.25H8.25003L8.25003 16.9506C8.24999 16.2858 8.24996 15.7129 8.31163 15.2542C8.37773 14.7625 8.52679 14.2913 8.90904 13.909C9.29128 13.5268 9.76255 13.3777 10.2542 13.3116C10.7129 13.2499 11.2858 13.25 11.9507 13.25H12.0494Z" fill="#1C274C"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M10.75 9.5C10.75 8.80964 11.3097 8.25 12 8.25C12.6904 8.25 13.25 8.80964 13.25 9.5C13.25 10.1904 12.6904 10.75 12 10.75C11.3097 10.75 10.75 10.1904 10.75 9.5Z" fill="#1C274C"/>
													</svg>

													{% trans %}Tableau de bord{% endtrans %}
												</a>
											</li>

											{% if is_granted('ROLE_SUPER_ADMINISTRATEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
												<li aria-haspopup="true">
													<a href="javascript:void(0);" class="sub-icon">
														<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg"  class="side-menu__icon" width="24" height="24" viewBox="0 0 24 24"><path d="M20 17V7c0-2.168-3.663-4-8-4S4 4.832 4 7v10c0 2.168 3.663 4 8 4s8-1.832 8-4zM12 5c3.691 0 5.931 1.507 6 1.994C17.931 7.493 15.691 9 12 9S6.069 7.493 6 7.006C6.069 6.507 8.309 5 12 5zM6 9.607C7.479 10.454 9.637 11 12 11s4.521-.546 6-1.393v2.387c-.069.499-2.309 2.006-6 2.006s-5.931-1.507-6-2V9.607zM6 17v-2.393C7.479 15.454 9.637 16 12 16s4.521-.546 6-1.393v2.387c-.069.499-2.309 2.006-6 2.006s-5.931-1.507-6-2z"/></svg>
														{% trans %}Données{% endtrans %}  <i class="fa fa-angle-down horizontal-icon"></i>
													</a>
													<div class="horizontal-megamenu clearfix">
														<div class="container">
															<div class="mega-menubg border-primary">
																<div class="row">
																	<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li><h2 class="fs-14 font-weight-bold"><i class="fa fa-adjust me-2"></i>Etats Garde</h2></li>
																			<li aria-haspopup="true"><a href="javascript:void(0);"><i class="si si-plus me-2"></i>{% trans %}Ajouter un état garde{% endtrans %}</a></li>
																			<li aria-haspopup="true"><a href="javascript:void(0);"><i class="si si-list me-2"></i>{% trans %}Les états garde{% endtrans %}</a></li>
																		</ul>
																	</div>

																	<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li><h2 class="fs-14 font-weight-bold"><i class="fa fa-mortar-board me-2"></i>Grades</h2></li>
																			<li aria-haspopup="true">
																				<a href="javascript:void(0);"><i class="si si-plus me-2"></i>{% trans %}Ajouter un grade{% endtrans %}</a>
																			</li>
																			<li aria-haspopup="true">
																				<a href="javascript:void(0);"><i class="si si-list me-2"></i>{% trans %}Les grades{% endtrans %}</a>
																			</li>
																		</ul>
																	</div>

																	<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li><h2 class="fs-14 font-weight-bold"><i class="fa fa-id-badge me-2"></i>Postes</h2></li>
																			<li aria-haspopup="true">
																				<a href="javascript:void(0);"><i class="si si-plus me-2"></i>{% trans %}Ajouter un poste{% endtrans %}</a>
																			</li>
																			<li aria-haspopup="true">
																				<a href="javascript:void(0);"><i class="si si-list me-2"></i>{% trans %}Les postes{% endtrans %}</a>
																			</li>
																		</ul>
																	</div>

																	<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li><h2 class="fs-14 font-weight-bold"><i class="fa fa-gears me-2"></i>Services</h2></li>
																			<li aria-haspopup="true"><a href="javascript:void(0);"><i class="si si-plus me-2"></i>{% trans %}Ajouter une service{% endtrans %}</a></li>
																			<li aria-haspopup="true"><a href="javascript:void(0);"><i class="si si-list me-2"></i>{% trans %}Les services{% endtrans %}</a></li>
																		</ul>
																	</div>

																	<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li><h2 class="fs-14 font-weight-bold"><i class="fa fa-street-view me-2"></i>Type garde</h2></li>
																			<li aria-haspopup="true"><a href="javascript:void(0);"><i class="si si-plus me-2"></i>{% trans %}Ajouter un type{% endtrans %}</a></li>
																			<li aria-haspopup="true"><a href="javascript:void(0);"><i class="si si-list me-2"></i>{% trans %}Les types garde{% endtrans %}</a></li>
																		</ul>
																	</div>
																	
																	<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li><h2 class="fs-14 font-weight-bold mb-1"><i class="fa fa-users me-2"></i>{% trans %}Utilisateurs{% endtrans %}</h2></li>
																			<li aria-haspopup="true">
																				<a href="{{ path ('ajouter_utilisateur') }}"><i class="si si-plus me-2"></i>{% trans %}Ajouter un utilisateur{% endtrans %}</a>
																			</li>
																			<li aria-haspopup="true">
																				<a href="{{ path ('afficher_utilisateur', {'a': 1 }) }}"><i class="si si-people me-2"></i>{% trans %}Les utilisateurs{% endtrans %}</a>
																			</li>
																		</ul>
																	</div>
																	
																</div>
															</div>
														</div>
													</div>
												</li>
											{% endif %}

											{% if is_granted('ROLE_SUPER_ADMINISTRATEUR') or is_granted('ROLE_ADMINISTRATEUR')  or is_granted('ROLE_GESTIONNAIRE') %}
												<li aria-haspopup="true">
													<a href="javascript:void(0);" class="sub-icon">
														<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>
														{% trans %}Gestion{% endtrans %}<i class="fa fa-angle-down horizontal-icon"></i>
													</a>
													<ul class="sub-menu border-primary">
														<li aria-haspopup="true"><a href="{{path('compte_marchand')}}"><i class="fa fa-user-plus"></i>{% trans %}Compte marchand{% endtrans %}</a></li>
														<li aria-haspopup="true"><a href="{{path('liste_marchand')}}"><i class="fa fa-usd"></i>{% trans %}Opérations financières{% endtrans %}</a></li>
													</ul>
													
												</li>
											{% endif %}

											<li aria-haspopup="true">
												<a href="javascript:void(0);" class="sub-icon">
													
													<svg class="hor-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 101.33" style="enable-background:new 0 0 122.88 101.33" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;}</style><g><path class="st0" d="M90.62,33.32h18.4v-2.79c-2.88-10.73-10.2-10.66-19.25-10.57c-1.49,0.02-2.84,0.03-2.92,0.03H18.07 c-1.58,0-2.86-1.28-2.86-2.86c0-1.58,1.28-2.86,2.86-2.86h68.78c2.03,0,2.46,0,2.87-0.01c7.74-0.08,14.5-0.15,19.3,4.38v-1.31 c0-3.2-1.31-6.1-3.42-8.21c-2.11-2.11-5.02-3.42-8.21-3.42H17.34c-3.2,0-6.1,1.31-8.21,3.42c-2.11,2.11-3.42,5.02-3.42,8.21v66.64 c0,3.2,1.31,6.1,3.42,8.21c2.11,2.11,5.02,3.42,8.21,3.42h80.04c3.2,0,6.1-1.31,8.21-3.42c2.11-2.11,3.42-5.02,3.42-8.21v-9.46 h-18.4c-5.55,0-10.6-2.27-14.25-5.92c-3.65-3.65-5.92-8.7-5.92-14.25v-0.87c0-5.55,2.27-10.6,5.92-14.25 C80.02,35.59,85.06,33.32,90.62,33.32L90.62,33.32z M114.73,33.43c2.07,0.31,3.92,1.29,5.33,2.71c1.74,1.74,2.81,4.14,2.81,6.78 v21.6c0,2.76-1.12,5.26-2.93,7.07c-1.39,1.39-3.2,2.38-5.21,2.76v9.63c0,4.77-1.95,9.11-5.09,12.25 c-3.14,3.14-7.48,5.09-12.25,5.09H17.34c-4.77,0-9.11-1.95-12.25-5.09C1.95,93.1,0,88.76,0,83.99V17.34 c0-4.77,1.95-9.11,5.09-12.25C8.23,1.95,12.57,0,17.34,0h80.04c4.77,0,9.11,1.95,12.25,5.09c3.14,3.14,5.09,7.48,5.09,12.25V33.43 L114.73,33.43z M88.14,46.11c4.05,0,7.33,3.28,7.33,7.33c0,4.05-3.28,7.33-7.33,7.33c-4.05,0-7.33-3.28-7.33-7.33 C80.81,49.39,84.09,46.11,88.14,46.11L88.14,46.11z"/></g></svg>
													{% trans %}Portefueille{% endtrans %} <i class="fa fa-angle-down horizontal-icon"></i>
												</a>
												<ul class="sub-menu border-primary">
													<li aria-haspopup="true"><a href="{{ path ('ajouter_argent')}}"> <i class="fa fa-plus me-2"></i>{% trans %}Ajouter de l'argent{% endtrans %}</a></li>
													<li aria-haspopup="true"><a href="{{ path ('retirer_argent')}}"><i class="fe fe-minus me-2"></i>{% trans %}Retirer de l'argent{% endtrans %}</a></li>
													<li aria-haspopup="true"><a href="javascript:void(0);"><i class="si si-credit-card me-2"></i>{% trans %}Gérer les cartes ou moyens de paiements{% endtrans %}</a></li>
												
												</ul>
											</li>
												
											<li aria-haspopup="true">
												<a href="javascript:void(0);" class="sub-icon">
													<svg  class="hor-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 80.59" style="enable-background:new 0 0 122.88 80.59" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;}</style><g><path class="st0" d="M122.88,27.53L94.25,0v17.72h-22.7v19.62h22.7v17.72L122.88,27.53L122.88,27.53L122.88,27.53z M0,53.06 l28.63,27.53V62.87h22.7V43.25h-22.7V25.53L0,53.06L0,53.06z M54.84,62.87h13.56V43.25H54.84V62.87L54.84,62.87z M71.64,62.87h7.7 V43.25h-7.7V62.87L71.64,62.87z M51.24,17.72h-7.7v19.62h7.7V17.72L51.24,17.72z M68.04,17.72H54.49v19.62h13.56V17.72L68.04,17.72 z"/></g></svg>

													{% trans %}Transactions{% endtrans %}<i class="fa fa-angle-down horizontal-icon"></i>
												</a>
												<ul class="sub-menu border-primary">
													<li aria-haspopup="true"><a href="{{ path ('transaction', {'r': 1 })}}"><i class="si si-list me-2"></i>{% trans %}Reçues{% endtrans %}</a></li>
													<li aria-haspopup="true"><a href="{{ path ('transaction', {'e': 1 })}}"><i class="si si-list me-2"></i>{% trans %}Envoyées{% endtrans %}</a></li>
													<li aria-haspopup="true"><a href="{{ path ('transaction', {'t': 1 })}}"><i class="si si-list me-2"></i>{% trans %}Toutes{% endtrans %}</a></li>
													
													
												</ul>
												
											</li>
											
											{% if is_granted('ROLE_SUPER_ADMINISTRATEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
												<li aria-haspopup="true">
													<a href="javascript:void(0);" class="sub-icon">
														<svg class="hor-icon" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
																viewBox="0 0 488.9 488.9" xml:space="preserve">
															<g>
																<g>
																	<path style="fill:#94A4A4;" d="M108.05,130.2V25.7c0-9.2,7.4-16.6,16.6-16.6h239.4c9.2,0,16.6,7.4,16.6,16.6v104.6"/>
																	<path style="fill:#94A4A4;" d="M364.15,479.7h-239.4c-9.2,0-16.6-7.4-16.6-16.6V252h272.7v211.2
																		C380.75,472.3,373.35,479.7,364.15,479.7z"/>
																	<path style="fill:#2C2F33;" d="M48.55,382.8h50.5v80.4c0,14.2,11.5,25.7,25.7,25.7h239.4c14.2,0,25.7-11.5,25.7-25.7v-80.4h50.5
																		c22.3,0,40.4-18.1,40.4-40.4V161.5c0-22.3-18.1-40.4-40.4-40.4h-50.6V25.7c0-14.2-11.5-25.7-25.7-25.7h-239.4
																		c-14.2,0-25.7,11.5-25.7,25.7v95.5h-50.4c-22.3,0-40.4,18.1-40.4,40.4v180.8C8.15,364.7,26.25,382.8,48.55,382.8z M371.75,463.1
																		c0,4.2-3.4,7.5-7.5,7.5h-239.5c-4.2,0-7.5-3.4-7.5-7.5V261h254.5V463.1z M117.15,25.7c0-4.2,3.4-7.5,7.5-7.5h239.4
																		c4.2,0,7.5,3.4,7.5,7.5v95.5h-254.4C117.15,121.2,117.15,25.7,117.15,25.7z M26.35,161.5c0-12.3,10-22.2,22.2-22.2h391.8
																		c12.3,0,22.2,10,22.2,22.2v180.9c0,12.3-10,22.2-22.2,22.2h-50.5V252c0-5-4.1-9.1-9.1-9.1h-272.6c-5,0-9.1,4.1-9.1,9.1v112.7
																		h-50.5c-12.3,0-22.2-10-22.2-22.2C26.35,342.5,26.35,161.5,26.35,161.5z"/>
																	<path style="fill:#2C2F33;" d="M77.75,199.9c2.4,0,4.7-1,6.4-2.7c1.7-1.7,2.6-4,2.6-6.4s-1-4.7-2.6-6.4c-1.7-1.7-4-2.7-6.4-2.7
																		s-4.7,1-6.4,2.7c-1.7,1.7-2.7,4-2.7,6.4s1,4.7,2.7,6.4C73.05,198.9,75.35,199.9,77.75,199.9z"/>
																	<path style="fill:#2C2F33;" d="M314.65,356.8h-140.4c-5,0-9.1,4.1-9.1,9.1s4.1,9.1,9.1,9.1h140.5c5,0,9.1-4.1,9.1-9.1
																		S319.65,356.8,314.65,356.8z"/>
																	<path style="fill:#2C2F33;" d="M314.65,413h-140.4c-5,0-9.1,4.1-9.1,9.1s4.1,9.1,9.1,9.1h140.5c5,0,9.1-4.1,9.1-9.1
																		C323.75,417,319.65,413,314.65,413z"/>
																	<path style="fill:#2C2F33;" d="M314.65,300.6h-140.4c-5,0-9.1,4.1-9.1,9.1s4.1,9.1,9.1,9.1h140.5c5,0,9.1-4.1,9.1-9.1
																		S319.65,300.6,314.65,300.6z"/>
																</g>
															</g>
															</svg>
														{% trans %}Impression{% endtrans %}
													</a>
												</li>
											
												<li aria-haspopup="true">
													<a href="{{ path ('audit_log') }}" class="sub-icon">
														<svg class="hor-icon" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
																viewBox="0 0 488.9 488.9" xml:space="preserve">
															<g>
																<g>
																	<path style="fill:#94A4A4;" d="M108.05,130.2V25.7c0-9.2,7.4-16.6,16.6-16.6h239.4c9.2,0,16.6,7.4,16.6,16.6v104.6"/>
																	<path style="fill:#94A4A4;" d="M364.15,479.7h-239.4c-9.2,0-16.6-7.4-16.6-16.6V252h272.7v211.2
																		C380.75,472.3,373.35,479.7,364.15,479.7z"/>
																	<path style="fill:#2C2F33;" d="M48.55,382.8h50.5v80.4c0,14.2,11.5,25.7,25.7,25.7h239.4c14.2,0,25.7-11.5,25.7-25.7v-80.4h50.5
																		c22.3,0,40.4-18.1,40.4-40.4V161.5c0-22.3-18.1-40.4-40.4-40.4h-50.6V25.7c0-14.2-11.5-25.7-25.7-25.7h-239.4
																		c-14.2,0-25.7,11.5-25.7,25.7v95.5h-50.4c-22.3,0-40.4,18.1-40.4,40.4v180.8C8.15,364.7,26.25,382.8,48.55,382.8z M371.75,463.1
																		c0,4.2-3.4,7.5-7.5,7.5h-239.5c-4.2,0-7.5-3.4-7.5-7.5V261h254.5V463.1z M117.15,25.7c0-4.2,3.4-7.5,7.5-7.5h239.4
																		c4.2,0,7.5,3.4,7.5,7.5v95.5h-254.4C117.15,121.2,117.15,25.7,117.15,25.7z M26.35,161.5c0-12.3,10-22.2,22.2-22.2h391.8
																		c12.3,0,22.2,10,22.2,22.2v180.9c0,12.3-10,22.2-22.2,22.2h-50.5V252c0-5-4.1-9.1-9.1-9.1h-272.6c-5,0-9.1,4.1-9.1,9.1v112.7
																		h-50.5c-12.3,0-22.2-10-22.2-22.2C26.35,342.5,26.35,161.5,26.35,161.5z"/>
																	<path style="fill:#2C2F33;" d="M77.75,199.9c2.4,0,4.7-1,6.4-2.7c1.7-1.7,2.6-4,2.6-6.4s-1-4.7-2.6-6.4c-1.7-1.7-4-2.7-6.4-2.7
																		s-4.7,1-6.4,2.7c-1.7,1.7-2.7,4-2.7,6.4s1,4.7,2.7,6.4C73.05,198.9,75.35,199.9,77.75,199.9z"/>
																	<path style="fill:#2C2F33;" d="M314.65,356.8h-140.4c-5,0-9.1,4.1-9.1,9.1s4.1,9.1,9.1,9.1h140.5c5,0,9.1-4.1,9.1-9.1
																		S319.65,356.8,314.65,356.8z"/>
																	<path style="fill:#2C2F33;" d="M314.65,413h-140.4c-5,0-9.1,4.1-9.1,9.1s4.1,9.1,9.1,9.1h140.5c5,0,9.1-4.1,9.1-9.1
																		C323.75,417,319.65,413,314.65,413z"/>
																	<path style="fill:#2C2F33;" d="M314.65,300.6h-140.4c-5,0-9.1,4.1-9.1,9.1s4.1,9.1,9.1,9.1h140.5c5,0,9.1-4.1,9.1-9.1
																		S319.65,300.6,314.65,300.6z"/>
																</g>
															</g>
															</svg>
														{% trans %}Log et audit{% endtrans %}
													</a>
												</li>

												
											{% endif %}

											<li aria-haspopup="true">
												<a href="{{ path ('facture_billet')}}" class="sub-icon">
													<svg  class="hor-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 96.41 122.88" style="enable-background:new 0 0 96.41 122.88" xml:space="preserve"><g><path d="M65.07,122.88H5.45c-1.47,0-2.85-0.61-3.85-1.61S0,118.94,0,117.42V5.45C0,3.94,0.61,2.6,1.6,1.6S3.94,0,5.45,0 c27.78,0,57.77,0,85.41,0c1.52,0,2.85,0.61,3.85,1.6c1,0.99,1.61,2.33,1.61,3.85v85.67c0.04,0.21,0.09,0.39,0.09,0.61 c0,0.74-0.34,1.39-0.83,1.86l-28.18,28.5C66.93,122.56,65.83,122.9,65.07,122.88L65.07,122.88z M12.78,13.73h3.33v13.94h-3.33 V13.73L12.78,13.73z M18.92,13.73h3.1l4.03,7.7v-7.7h3.14v13.94h-3.14l-4.01-7.66v7.66h-3.12V13.73L18.92,13.73z M30.74,13.73h3.47 l2.42,10.04l2.39-10.04h3.37L38.4,27.67h-3.6L30.74,13.73L30.74,13.73z M42.93,20.71c0-2.28,0.49-4.05,1.47-5.31 c0.98-1.27,2.34-1.9,4.09-1.9c1.79,0,3.17,0.62,4.14,1.87c0.97,1.24,1.45,2.99,1.45,5.23c0,1.63-0.21,2.96-0.63,4 c-0.42,1.04-1.04,1.85-1.83,2.43c-0.8,0.58-1.8,0.87-2.99,0.87c-1.21,0-2.22-0.25-3.01-0.75c-0.79-0.5-1.44-1.3-1.93-2.38 C43.18,23.7,42.93,22.34,42.93,20.71L42.93,20.71z M46.25,20.72c0,1.41,0.2,2.42,0.61,3.03c0.4,0.61,0.96,0.92,1.65,0.92 c0.71,0,1.27-0.3,1.66-0.9c0.39-0.6,0.59-1.68,0.59-3.24c0-1.31-0.21-2.27-0.61-2.87c-0.41-0.61-0.96-0.91-1.66-0.91 c-0.67,0-1.21,0.31-1.62,0.92C46.46,18.28,46.25,19.3,46.25,20.72L46.25,20.72z M56.39,13.73h3.33v13.94h-3.33V13.73L56.39,13.73z M69.66,21.97l2.91,1.14c-0.2,1.06-0.51,1.94-0.93,2.65c-0.42,0.71-0.94,1.25-1.57,1.61c-0.62,0.36-1.42,0.54-2.38,0.54 c-1.17,0-2.13-0.22-2.87-0.66c-0.74-0.44-1.38-1.22-1.92-2.32c-0.54-1.1-0.81-2.53-0.81-4.25c0-2.3,0.47-4.08,1.42-5.32 c0.95-1.24,2.29-1.86,4.02-1.86c1.35,0,2.42,0.35,3.2,1.06c0.77,0.71,1.35,1.8,1.73,3.27l-2.93,0.84c-0.1-0.42-0.21-0.73-0.32-0.92 c-0.19-0.33-0.42-0.58-0.68-0.76c-0.27-0.18-0.57-0.27-0.9-0.27c-0.76,0-1.33,0.39-1.73,1.17c-0.3,0.58-0.46,1.5-0.46,2.74 c0,1.54,0.18,2.6,0.54,3.17c0.36,0.57,0.87,0.86,1.53,0.86c0.64,0,1.12-0.23,1.44-0.69C69.28,23.52,69.51,22.85,69.66,21.97 L69.66,21.97z M74.57,13.73h8.89v2.98h-5.56v2.22h5.15v2.84h-5.15v2.75h5.72v3.16h-9.05V13.73L74.57,13.73z M27.57,91.41 c2.2,0,4.19,0.89,5.64,2.34c1.44,1.44,2.34,3.44,2.34,5.64c0,2.2-0.89,4.19-2.34,5.64c-1.44,1.44-3.44,2.33-5.64,2.33 s-4.19-0.89-5.64-2.33c-1.44-1.44-2.34-3.44-2.34-5.64c0-2.2,0.89-4.2,2.34-5.64C23.38,92.3,25.37,91.41,27.57,91.41L27.57,91.41z M31.16,95.8c-0.92-0.92-2.19-1.48-3.59-1.48s-2.67,0.57-3.59,1.48s-1.48,2.19-1.48,3.59c0,1.4,0.57,2.67,1.48,3.59 s2.19,1.48,3.59,1.48s2.67-0.57,3.59-1.48s1.48-2.19,1.48-3.59C32.65,97.98,32.08,96.71,31.16,95.8L31.16,95.8z M27.57,84.81 c4.02,0,7.66,1.63,10.3,4.27c2.64,2.64,4.27,6.28,4.27,10.3c0,4.02-1.63,7.66-4.27,10.29c-2.64,2.64-6.28,4.27-10.3,4.27 s-7.67-1.63-10.3-4.27c-2.64-2.64-4.27-6.28-4.27-10.3c0-4.02,1.63-7.67,4.27-10.3L17.36,89C19.99,86.41,23.6,84.81,27.57,84.81 L27.57,84.81z M35.83,91.13c-2.11-2.11-5.03-3.41-8.25-3.41c-3.19,0-6.08,1.28-8.19,3.35l-0.07,0.07 c-2.11,2.11-3.42,5.03-3.42,8.25c0,3.22,1.31,6.14,3.42,8.25c2.11,2.11,5.03,3.42,8.25,3.42s6.14-1.31,8.25-3.42 c2.11-2.11,3.42-5.03,3.42-8.25C39.24,96.16,37.94,93.24,35.83,91.13L35.83,91.13z M23.52,44.71c-0.97,0-1.75-0.78-1.75-1.75 s0.78-1.75,1.75-1.75h35.12c0.97,0,1.75,0.78,1.75,1.75s-0.78,1.75-1.75,1.75H23.52L23.52,44.71z M23.52,70.84 c-0.97,0-1.75-0.78-1.75-1.75c0-0.97,0.78-1.75,1.75-1.75h48.42c0.97,0,1.75,0.78,1.75,1.75c0,0.97-0.78,1.75-1.75,1.75H23.52 L23.52,70.84z M23.52,60.14c-0.97,0-1.75-0.78-1.75-1.75c0-0.97,0.78-1.75,1.75-1.75h35.12c0.97,0,1.75,0.78,1.75,1.75 c0,0.97-0.78,1.75-1.75,1.75H23.52L23.52,60.14z M79.32,51.71H17.09v23.93h62.23V51.71L79.32,51.71z M17.09,48.21h62.23V37.58 H17.09V48.21L17.09,48.21z M15.34,34.08h65.73c0.97,0,1.75,0.78,1.75,1.75v14.13V77.4c0,0.97-0.78,1.75-1.75,1.75H15.34 c-0.97,0-1.75-0.79-1.75-1.75V49.96V35.83C13.59,34.87,14.37,34.08,15.34,34.08L15.34,34.08z M63,117.98V96.65 c0-2.04,0.83-3.9,2.17-5.24c1.34-1.34,3.2-2.17,5.24-2.17h20.94V5.44c0-0.13-0.04-0.3-0.18-0.39c-0.09-0.09-0.22-0.18-0.39-0.18 c-21.99,0-63.97,0-85.36,0c-0.13,0-0.31,0.04-0.39,0.18C4.92,5.14,4.83,5.31,4.83,5.44v111.98c0,0.18,0.04,0.3,0.18,0.39 c0.09,0.09,0.22,0.18,0.39,0.18h57.54L63,117.98L63,117.98L63,117.98z M67.89,96.65v17.87l20.12-20.38H70.4 c-0.69,0-1.3,0.31-1.77,0.74C68.19,95.31,67.89,95.96,67.89,96.65L67.89,96.65L67.89,96.65z"/></g></svg>
													{% trans %}Facture et billets{% endtrans %}
												</a>
												
											</li>
											
										</ul>
									</nav>
									<!--Nav-->
								</div>
							</div>
						</div>
						<!--/Horizontal-main -->
					{% endif %}
					
				{% endif %}		