<table class="table table-bordered table-striped card-table table-vcenter text-nowrap" id="datatable">
	<thead>
		<tr>
			<th>{% trans %}N°{% endtrans %}</th>
			<th>{% trans %}Photo{% endtrans %}</th>
			<th>{% trans %}Produits{% endtrans %}</th>
			<th>{% trans %}Prix{% endtrans %}</th>
			<th>{% trans %}Qté seuil{% endtrans %}</th>
			{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_SECRETAIRE') %}
				<th>{% trans %}Etagère{% endtrans %}</th>
			{% endif %}
			{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_CAISSIERE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_SECRETAIRE') %}
				<th>{% trans %}Opérations{% endtrans %}</th>
			{% endif %}
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>{% trans %}N°{% endtrans %}</th>
			<th>{% trans %}Photo{% endtrans %}</th>
			<th>{% trans %}Produits{% endtrans %}</th>
			<th>{% trans %}Prix{% endtrans %}</th>
			<th>{% trans %}Qté seuil{% endtrans %}</th>
			{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_SECRETAIRE') %}
				<th>{% trans %}Etagère{% endtrans %}</th>
			{% endif %}
			{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_CAISSIERE') or is_granted('ROLE_PHARMACIEN')  %}
				<th>{% trans %}Opérations{% endtrans %}</th>
			{% endif %}
		</tr>
	</tfoot>
	<tbody>
		{% set i = 1 %}
		{% for produit in produits %}
			
			
				{% set dateDiff = date(aujourdhui|date()).diff(date(produit.lot.datePeremptionAt|date())).format('%R%a') %}

				<tr>
				
					<td><span class="badge bg-primary rounded-pill">{{ i }}</span></td>
					<td style="vertical-align: middle; text-align:center;">
						<div class="box-widget widget-user text-center">
							<div class="widget-user-image mx-auto">
								<a href="javascript:void(0);">
									<img alt="{{ produit.libelle }}" class="rounded-circle" src="{{ produit.photo ? asset('images/photoProduits/' ~ produit.photo) : asset('images/photoProduits/produit.png')}}" width="100" height="100">
								</a>

							</div>
						</div>
					</td>
					<td style="text-align: left !important;">
						<a class="font-weight-normal1" href="">{{ produit.libelle }}</a><br>
						<br>
						{% if produit.lot.quantite > 0 %}
							<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
								<span>{% trans %}Quantité en stock{% endtrans %}</span>
								<span class="badge bg-white text-dark">{{ produit.lot.quantite - produit.lot.vendu  }}</span>
							</button>
							{% else %}
							<button type="button" class="btn btn-danger mt-1 mb-1 me-3">
								<span>{% trans %}Quantité en stock{% endtrans %}</span>
								<span class="badge bg-white text-dark">{{ produit.lot.quantite - produit.lot.vendu  }}</span>
							</button>
						{% endif %}
						
						{% if is_granted('ROLE_CAISSIERE') or is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
							{% if  dateDiff <= 0 %}
								<span class="badge bg-danger mt-2">{% trans %}Ce produit est déja périmé{% endtrans %}</span>
							{% endif %}
						{% endif %}
						
					</td>
					<td>
						<a class="font-weight-normal1" href="">{{ produit.prixVente|number_format }} FCFA</a>
					</td>
					<td>
						<a class="font-weight-normal1" href="">{{ produit.quantiteSeuil }}</a><br>
						{% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
							
							{% if produit.quantiteSeuil >= (produit.lot.quantite - produit.lot.vendu) %}
								<span class="badge badge-gradient-danger mt-2">{% trans %}Seuil atteind ! {% endtrans %} <br> {% trans %}Veuillez passez la commande !{% endtrans %}</span>
							{% endif %}
						{% endif %}
					</td>
					{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_PHARMACIEN') %}
				
						<td>
							<div class="form-group">
								<label class="custom-switch">
									<input type="checkbox" class="custom-switch-input" data-id="{{ produit.id }}" {% if produit.retire %}checked{% endif %} >
									<span class="custom-switch-indicator custom-switch-indicator-lg"></span>
								</label>
							</div>
						</td>
					{% endif %}
					{# <form action="{{ path ('ajout_produit_panier', {'slug': produit.slug, 'position': 'listeProduit' } )}}" method="post" class="needs-validation" novalidate> #}
					
					<td>
						{% if is_granted('ROLE_CAISSIERE')  %}
							{% if produit.lot.quantite > 0 and dateDiff > 0 %}
								<div style="display: flex !important; justify-content: space-between !important;">
									<input type="number" value="1" min="1" step="1" class="form-control text-center quantite" id="validationCustom05" required="required" placeholder="Veuillez saisir la quantité">

									<button class="btn btn-outline-primary btn-md btn-block ajout-produit-panier" data-produit-id="{{ produit.id }}" data-bs-toggle="tooltip" title="{% trans %}Ajouter{% endtrans %} {{ produit.libelle }} {% trans %}dans la facture{% endtrans %}"><i class="si si-plus"></i></button>
								</div>
							{% endif %}
	
						{% endif %}
						{# </form> #}
						{% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
							<a href="{{ path ('modifier_produit', {'slug': produit.slug })}}" class="btn btn-outline-primary" data-bs-toggle="tooltip" title="{% trans %}Modifier{% endtrans %} {{ produit.libelle }}"><i class="fe fe-edit"></i></a>
							
						{% endif %}
						
						
						{% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
							
								<a class="btn btn-outline-danger" href="javascript:void(0);" 
									onclick="swal({
										'title': 'Attention', 
										'type': 'warning', 
										'text': 'Voulez-vous vraiment supprimer ce produit ?', 
										'showCancelButton': true, 
										'confirmButtonText': 'Oui', 
										'confirmButtonColor': '#f00', 
										'cancelButtonText': 'Non', 
										'cancelButtonColor': '#38cb89', 
										'confirmButtonPath': '{{ path ('supprimer_produit', {'slug': produit.slug })}} '});">
			
								<i class="fe fe-trash"></i></a>
				
						{% endif %}

					</td>
						
				</tr>
				{% set i = i + 1 %}
			
		{% endfor %}
		
		
	</tbody>
</table>
