 <table class="table table-bordered table-striped card-table table-vcenter text-nowrap" id="datatable">
    <thead>
        <tr>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-star"></i> {% trans %}N°{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-star"></i> {% trans %}Référence{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-user"></i> {% trans %}Patient{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-calendar"></i> Date
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Montant{% endtrans %}
            </th>
            <th class="wd-10p border-bottom-0">
                <i class="fa fa-credit-card"></i> {% trans %}Paiement{% endtrans %}
            </th>
            <th class="wd-10p border-bottom-0">
                <i class="fa fa-check"></i> {% trans %}Statut{% endtrans %}
            </th>

            <th class="wd-25p border-bottom-0">
                <i class="fa fa-config"></i> Options
            </th>
            
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-star"></i> {% trans %}N°{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-star"></i> {% trans %}Référence{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-user"></i> {% trans %}Patient{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-calendar"></i> Date
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Montant{% endtrans %}
            </th>
            <th class="wd-10p border-bottom-0">
                <i class="fa fa-credit-card"></i> {% trans %}Paiement{% endtrans %}
            </th>
            <th class="wd-10p border-bottom-0">
                <i class="fa fa-check"></i> {% trans %}Statut{% endtrans %}
            </th>
            <th class="wd-25p border-bottom-0">
                <i class="fa fa-config"></i> Options
            </th>
            
            
        </tr>
    </tfoot>
    <tbody>
        {% set i = 1 %}
        {% for facture in factures.factures %}
            <tr>
                <td class="infoTable">
                    <span class="badge bg-primary rounded-pill">{{ i }}</span>
                </td>
                <td class="infoTable">

                    <button type="button" class="btn btn-primary btn-sm btn-block position-relative me-5 mb-2">
                        {{ facture.reference }}
                    </button>
                    Par : {{ facture.caissiere ? facture.caissiere.nom : " " }}
                        
                </td>

                <td class="infoTable">
                    
                    {{ facture.nomPatient ? facture.nomPatient : (facture.patient ? facture.patient.nom: "NOM PAS SAISI") }}
                </td>

                <td class="infoTable">{{ facture.dateFactureAt | date('d-m-Y') }} <br> {% trans %}à{% endtrans %} {{ facture.heure | date('H:i:s') }}</td>
                <td class="infoTable">
                    <span class="badge bg-success-light border-success fs-11">{% trans %}Net à payer : {% endtrans %} {{ facture.netApayer|number_format }}FCFA</span> <br>
                    <span class="badge bg-primary-light border-primary fs-11">{% trans %}Avance : {% endtrans %} {{ facture.avance|number_format }}FCFA</span> <br>
                    <span class="badge bg-danger-light border-danger fs-11">{% trans %}Reste : {% endtrans %} {{ (facture.netApayer - facture.avance)|number_format  }} FCFA</span>
                </td>
                <td class="infoTable">
                    {% if facture.modePaiement.modePaiement == 'CASH' %}
                        <span class="badge bg-success-light border-primary fs-11">{{ facture.modePaiement.modePaiement }}</span>
                        {% else %}
                        {% if facture.modePaiement.modePaiement == 'CRÉDIT' %}
                            <span class="badge bg-danger-light border-danger fs-11">{{ facture.modePaiement.modePaiement }}</span>
                            {% else %}
                                <span class="badge bg-primary-light border-primary fs-11">{{ facture.modePaiement.modePaiement }}</span>
                        {% endif %}
                    {% endif %}
                    
                </td>
                
                <td class="infoTable">
                    {% if facture.netApayer - facture.avance == 0 %}
                        <span class="badge badge-gradient-success mt-2">{{ facture.etatFacture.etatFacture }}</span>
                        {% else %}
                        <span class="badge badge-gradient-danger mt-2">{{ facture.etatFacture.etatFacture }}</span>
                    {% endif %}
                </td>
                <td class="infoTable">
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="btn btn-light" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fe fe-more-vertical"></i></a>
                        <div class="dropdown-menu border-primary">
                            {% if is_granted('ROLE_CAISSIERE') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_REGIES_DES_RECETTES') or is_granted('ROLE_ADMINISTRATEUR') %}
                                <a class="dropdown-item" href="{{ path('details_facture', {'slug': facture.slug }) }}"><i class="fe fe-eye me-2"></i> Détails</a>
                                <a class="dropdown-item" href="{{ path('imprimer_facture', {'slug': facture.slug }) }}" target="_blank"><i class="fe fe-printer me-2"></i> Imprimer la facture</a>
                                <a class="dropdown-item" href="{{ path('imprimer_historique_paiement', {'slug': facture.slug }) }}" target="_blank"><i class="fe fe-printer me-2"></i> Imprimer l'historique de paiement</a>
                                {% if is_granted('ROLE_CAISSIERE') %}
                                    {% if facture.etatFacture.etatFacture == 'NON SOLDE' and facture.annulee == 0 %}
                                        <a class="dropdown-item" href="{{ path('ajout_avance', {'slug': facture.slug }) }}"><i class="fe fe-plus me-2"></i> Ajouter une avance</a>
                                        <a class="dropdown-item" href="{{ path('valider_facture', {'slug': facture.slug }) }}"><i class="fe fe-check-circle me-2"></i> Solder la facture</a>
                                    {% endif %}
                                {% endif %}

                            {% endif %}
                            
                            {% if factureAnnulee != 1 %}
                                {% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
                                    <a class="dropdown-item" href="javascript:void(0);"
                                        onclick="swal({
                                            'title': 'Attention', 
                                            'type': 'warning', 
                                            'text': 'Voulez-vous vraiment supprimer cette facture ?', 
                                            'showCancelButton': true, 
                                            'confirmButtonText': 'Oui', 
                                            'confirmButtonColor': '#f00', 
                                            'cancelButtonText': 'Non', 
                                            'cancelButtonColor': '#38cb89', 
                                            'confirmButtonPath': '{{ path('annuler_facture', {'slug': facture.slug }) }} '});">
                                    
                                    <i class="fe fe-x-circle me-2"></i> Annuler la facture</a>
                                {% endif %}
                            {% endif %}
                            
                        </div>
                    </div>

                </td>
                
            </tr>
            {% set i = i + 1 %}
        {% endfor %}
    </tbody>
</table>