<table class="table table-bordered table-striped card-table table-vcenter text-nowrap" id="datatable">
	<thead>
		<tr>
			<th>{% trans %}N°{% endtrans %}</th>
			<th>{% trans %}Photo{% endtrans %}</th>
			<th>{% trans %}Produits{% endtrans %}</th>
			<th>{% trans %}Prix{% endtrans %}</th>
			<th>{% trans %}Qté seuil{% endtrans %}</th>
			{% if is_granted('ROLE_CAISSIERE')  %}
				<th>{% trans %}Qté{% endtrans %}</th>
			{% endif %}
			{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_CAISSIERE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_SECRETAIRE') %}
				<th>{% trans %}Opérations{% endtrans %}</th>
			{% endif %}
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>{% trans %}N°{% endtrans %}</th>
			<th>{% trans %}Photo{% endtrans %}</th>
			<th>{% trans %}Produits{% endtrans %}</th>
			<th>{% trans %}Prix{% endtrans %}</th>
			<th>{% trans %}Qté seuil{% endtrans %}</th>
			{% if is_granted('ROLE_CAISSIERE')  %}
				<th>{% trans %}Qté{% endtrans %}</th>
			{% endif %}
			{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_CAISSIERE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_SECRETAIRE') %}
				<th>{% trans %}Opérations{% endtrans %}</th>
			{% endif %}
		</tr>
	</tfoot>
	<tbody>
		{% set i = 1 %}
		{% for produit in produits %}
			{% if produit.lot.quantite > 0 %}
			
				{% set dateDiff = date(aujourdhui|date()).diff(date(produit.lot.datePeremptionAt|date())).format('%R%a') %}

				<tr>
				
					<td><span class="badge bg-primary rounded-pill">{{ i }}</span></td>
					<td style="vertical-align: middle; text-align:center;">
						<div class="box-widget widget-user text-center">
							<div class="widget-user-image mx-auto">
								<a href="javascript:void(0);">
									<img alt="{{ produit.libelle }}" class="rounded-circle" src="{{ produit.photo ? asset('images/photoProduits/' ~ produit.photo) : asset('images/photoProduits/produit.png')}}" width="100" height="100">
								</a>

							</div>
						</div>
					</td>
					<td style="text-align: left !important;">
						<a class="font-weight-normal1" href="">{{ produit.libelle }}</a><br>
						<br>
						<button type="button" class="btn btn-outline-primary mt-1 mb-1 me-3">
							<span>Quantité en stock</span>
							<span class="badge  bg-primary rounded-pill">{{ produit.lot.quantite - produit.lot.vendu  }}</span>
						</button>
						{% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
							{% if  dateDiff <= 0 %}
								<span class="badge bg-danger mt-2">{% trans %}Ce produit est déja périmé{% endtrans %}</span>
							{% endif %}
						{% endif %}
						
					</td>
					<td>
						<a class="font-weight-normal1" href="">{{ produit.prixVente }} FCFA</a>
					</td>
					<td>
						<a class="font-weight-normal1" href="">{{ produit.quantiteSeuil }}</a><br>
						{% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
							{% if produit.quantiteSeuil == (produit.lot.quantite - produit.lot.vendu) %}
								<span class="badge badge-gradient-danger mt-2">{% trans %}Seuil atteind ! {% endtrans %} <br> {% trans %}Veuillez passez la commande !{% endtrans %}</span>
							{% endif %}
						{% endif %}
					</td>
					<form action="{{ path ('ajout_produit_panier', {'slug': produit.slug, 'position': 'listeProduit' } )}}" method="post" class="needs-validation" novalidate>
						{% if is_granted('ROLE_CAISSIERE')  %}
							<td>
								<input type="number" name="qte" value="1" min="1" step="1" class="form-control" id="validationCustom05" required="required" placeholder="Veuillez saisir la quantité">
								<div class="invalid-feedback">
									Veuillez saisir la quantité
								</div>
							</td>

							
						{% endif %}

						<td>
							{% if is_granted('ROLE_CAISSIERE')  %}
								
								<button type="submit" name="ajoutPanier" class="btn btn-outline-primary" data-bs-toggle="tooltip" title="{% trans %}Ajouter{% endtrans %} {{ produit.libelle }} {% trans %}dans la facture{% endtrans %}"><i class="fe fe-plus"></i></button>
								{# <a href="{{ path ('ajout_produit_panier', {'slug': produit.slug, 'position': 'listeProduit' } )}}" class="btn btn-outline-primary" data-bs-toggle="tooltip" title="{% trans %}Ajouter{% endtrans %} {{ produit.libelle }} {% trans %}dans la facture{% endtrans %}"><i class="fe fe-plus"></i></a> #}

								{# <button class="addToCartBtn" data-product-id="{{ produit.id }}">Add to Cart</button> #}
		
							{% endif %}
					</form>
						{% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
							<a href="{{ path ('modifier_produit', {'slug': produit.slug })}}" class="btn btn-outline-primary" data-bs-toggle="tooltip" title="{% trans %}Modifier{% endtrans %} {{ produit.libelle }}"><i class="fe fe-edit"></i></a>
							
						{% endif %}
						
						
						
						{% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
							
								<a class="btn btn-outline-danger" href="javascript:void(0);" 
									onclick="swal({
										'title': 'Attention', 
										'type': 'warning', 
										'text': 'Voulez-vous vraiment supprimer ce produit ?', 
										'showCancelButton': true, 
										'confirmButtonText': 'Oui', 
										'confirmButtonColor': '#f00', 
										'cancelButtonText': 'Non', 
										'cancelButtonColor': '#38cb89', 
										'confirmButtonPath': '{{ path ('supprimer_produit', {'slug': produit.slug })}} '});">
			
								<i class="fe fe-trash"></i></a>
                
						{% endif %}
					</td>
					
				</tr>
				{% set i = i + 1 %}
			{% endif %}
		{% endfor %}
		
		
	</tbody>
</table>
<script>
    document.querySelectorAll('.addToCartBtn').forEach(function(button) {
        button.addEventListener('click', function() {
            var productId = this.getAttribute('data-product-id');
            var url = '/ajout-produit-panier' ;
			console.log(url);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

			
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        alert('Produit ajouté avec succès!');
                    } else {
                        alert("Echec d'ajout du produit dans la facture.");
                    }
                }
            };

            xhr.send('productId=' + encodeURIComponent(productId));
			
        });
    });
</script>
