{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter une commande{% endtrans %}
        {% else %}
        {% trans %}Modification d'une commande{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- App-Content -->
				<div class="hor-content main-content">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title mb-0 text-primary">
                                    {% if slug == 0 %}
                                        <i class="fe fe-plus"></i>
                                        {% trans %}Enregistrement d'une commande{% endtrans %}
                                        {% else %}
                                        <i class="fe fe-edit"></i>
                                        {% trans %}Modification d'une commande{% endtrans %}
                                    {% endif %}
                                </h4>
							</div>
							<div class="page-rightheader">
								<div class="btn-list">
									<a href="{{ path ('liste_commande', {'a': 1 }) }}" class="btn btn-outline-primary"><i class="fe fe-list me-2"></i>
										{% trans %}Afficher les commandes{% endtrans %}</a>
									
								</div>
							</div>
						</div>

                        {% if slug == 0 %}
                            <div class="card border-primary">
                            {% else %}
                            <div class="card border-danger">
                        {% endif %}
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% if slug == 0 %}
                                        <i class="fe fe-plus"></i>
                                        {% trans %}Ajouter une commande{% endtrans %}
                                        {% else %}
                                        <i class="fe fe-edit"></i>
                                        {% trans %}Modification de la commande : {% endtrans %} {{ commande.reference }}
                                    {% endif %}
                                    
                                </h3>
                            </div>
                            <div class="card-body ">
                                {{ form_start(commandeForm, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                                    <div class="row" style="margin-top: 15px !important;">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom04" class="form-label" style="text-align: center !important;">{% trans %}Fournisseur{% endtrans %}</label>
                                            {{ form_widget(commandeForm.fournisseur, {'attr': {'id':'validationCustom04'}}) }}

                                            <div class="invalid-tooltip">
                                                {% trans %}Veuillez sélectionner un fournisseur !{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                        
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"  style="margin-top: 15px !important;" id="produit" data-prototype="{{ form_row(commandeForm.ligneDeCommandes.vars.prototype)|e('html_attr') }}">
                                          
                                            {{ form_widget(commandeForm.ligneDeCommandes, {'attr': {'id':'validationCustom04'}}) }}
                                            
                                            <span></span>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 position-relative text-center" style="margin-top: 30px !important;">
                                            <button type="submit" class="btn btn-outline-primary btn-md">
                                                <i class="fe fe-save"></i> 
                                                {% if slug == 0 %}
                                                    {% trans %}Enregistrer{% endtrans %}
                                                    {% else %}
                                                    {% trans %}Enregistrer les modifications{% endtrans %}
                                                {% endif %}
                                            </button>
                                        </div>
                                    </div>
                                    
                                {{ form_end(commandeForm)}}

                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/ajoutCommande.js')}}"></script>
    
{% endblock %}
