{% extends 'base.html.twig' %}

{% block title %}Détails de la commande
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		.infoTable {
			text-align: center !important;
			vertical-align: middle !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}
	</style>
{% endblock %}

{% block body %}
	<!-- App-Content -->
	<div class="hor-content main-content">
		<div
			class="container">

			<!--Page header-->
			<div class="page-header">
				<div class="page-leftheader">
					<h4 class="page-title mb-0 text-primary">
						<i class="fa fa-cart-arrow-down me-2"></i>
						Détails de la commande</h4>
				</div>
				<div class="page-rightheader">
					<a href="{{ path('liste_commande') }}" class="btn btn-outline-primary">
						<i class="fa fa-cart-arrow-down me-2"></i>
						{% trans %}Nos commandes{% endtrans %}</a>

						<a href="{{ path('imprimer_commande', {'slug': commande.slug }) }}" class="btn btn-outline-primary" target="_blank">
							<i class="si si-printer me-2"></i>
							{% trans %}Imprimer cette commande{% endtrans %}
						</a>
						
						
				</div>
			</div>
			<!--End Page header-->

			<!-- Row -->
			<!-- Row-->
				<div class="row"> <div class="col-md-12">
					<div class="card overflow-hidden border-primary">
						<div class="card-body">
							<h2 class="font-weight-bold text-primary">DETAILS DE LA COMMANDE :
								{{ commande.reference }}</h2>
							<div class="row">
								<div class="col-sm-6 text-start">
									<span>{% trans %}Date d'entrée de la commande{% endtrans %} : </span>
									<strong>{{ commande.dateEntreeAt | date('d-m-Y H:i:s') }}</strong>
								
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-start">
									<span>{% trans %}Etat de la commande{% endtrans %} : </span>
									{% if commande.livre == 1 %}
										<strong>{% trans %}Livrée{% endtrans %}</strong>
										{% else %}
										<strong>{% trans %}Pas encore livrée{% endtrans %}</strong>
									{% endif %}
								
								</div>
							</div>
								
							<div class="dropdown-divider"></div>
							<div class="row pt-4">
								<div class="col-lg-6 ">
									<p class="h5 font-weight-bold">{% trans %}Commande de l'Hôpital de District d'Abong Mbang{% endtrans %} :
									</p>
									<address>
										Cameroun, Est, Abong Mbang<br>
										Yaoundé, BP : 19 - ABG MBG<br>
										Telephone : +237 670 152 046
									</address>
								</div>
								<div class="col-lg-6 text-end">
									<p class="h5 font-weight-bold">{% trans %}Fournisseur{% endtrans %} :
									</p>
									<address>
										{{ commande.fournisseur.fournisseur }}<br>
										{% trans %}Adresse{% endtrans %} : {{ commande.fournisseur.adresse }}<br>
										{% trans %}Téléphone{% endtrans %} : {{ commande.fournisseur.contact }}
										
									</address>
								</div>
							</div>
							<div class="table-responsive push">
								<table class="table table-bordered table-hover text-nowrap">
									<tr class=" ">
										<th class="text-center " style="width: 1%">N°</th>
										<th>{% trans %}Produits{% endtrans %}</th>
										<th>{% trans %}P.A.{% endtrans %}</th>
										<th>{% trans %}Coef{% endtrans %}</th>
										<th>{% trans %}P.V.{% endtrans %}</th>
										<th>{% trans %}Date Préremption{% endtrans %}</th>
										<th class="text-center" style="width: 1%">{% trans %}Quantité{% endtrans %}</th>
										<th class="text-center" style="width: 1%">{% trans %}Prix Total{% endtrans %}</th>
									</tr>
									{% set i = 1 %}
									{% for ligneDeCommande in commande.ligneDeCommandes %}
										<tr>
											<td class="text-center">{{ i }}</td>
											<td>
												<p class="font-weight-semibold mb-1">{{ ligneDeCommande.produit ? ligneDeCommande.produit.libelle :"" }}</p>
											</td>
											<td class="text-end">{{ ligneDeCommande.prixAchat ? ligneDeCommande.prixAchat : "" }}</td>
											<td class="text-end">{{ ligneDeCommande.coef ? ligneDeCommande.coef : "" }}</td>
											<td class="text-end">{{ ligneDeCommande.prixVente ? ligneDeCommande.prixVente : "" }}</td>
											<td class="text-end">{{ ligneDeCommande.datePeremptionAt ? ligneDeCommande.datePeremptionAt|date('d-m-Y') : "" }}</td>
											<td class="text-end">{{ ligneDeCommande.quantite ? ligneDeCommande.quantite : "" }}</td>
											<td class="text-end">{{ ligneDeCommande.prixAchat * ligneDeCommande.quantite }}</td>
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
									
									<tr class="text-danger">
										<td colspan="7" class="font-weight-bold text-uppercase text-end h4 mb-0">NET A PAYER</td>
										<td class="font-weight-bold text-end h4 mb-0">{{ netApayer }} FCFA</td>
									</tr>
									
									<tr>

										<td colspan="8" class="text-end">
											{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}

												<a href="{{ path('modifier_commande', {'slug': commande.slug }) }}" class="btn btn-outline-primary">
													<i class="fe fe-edit me-2"></i>
													{% trans %}Modifier{% endtrans %}
												</a>
											{% endif %}

											<a href="{{ path('liste_commande') }}" class="btn btn-outline-primary">
												<i class="fa fa-cart-arrow-down me-2"></i>
												{% trans %}Nos commandes{% endtrans %}
											</a>

											<a href="{{ path('imprimer_commande', {'slug': commande.slug }) }}" class="btn btn-outline-primary" target="_blank">
												<i class="si si-printer me-2"></i>
												{% trans %}Imprimer cette commande{% endtrans %}
											</a>
											
										</td>
									</tr>
								</table>
							</div>
							<p class="text-muted text-center">Merci beacoup d'avoit fait confiance à Pharmacy. BONNE GUERISON !</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End row-->
		</div>
	</div>
</div></div>{% endblock %}
