{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter un fournisseur{% endtrans %}
        {% else %}
        {% trans %}Modification d'un fournisseur{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- App-Content -->
				<div class="hor-content main-content">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title mb-0 text-primary">
                                    {% if slug == 0 %}
                                        <i class="fe fe-plus me-2"></i>
                                        {% trans %}Enregistrement d'un fournisseur{% endtrans %}
                                        {% else %}
                                        <i class="fe fe-edit me-2"></i>
                                        {% trans %}Modification d'un fournisseur{% endtrans %}
                                    {% endif %}
                                </h4>
							</div>
							<div class="page-rightheader">
								<div class="btn-list">
									<a href="{{ path ('afficher_fournisseur', {'a': 1 }) }}" class="btn btn-outline-primary"><i class="fe fe-list me-2"></i>
										{% trans %}Afficher les fournisseurs{% endtrans %}
                                    </a>
									
								</div>
							</div>
						</div>

                        {% if slug == 0 %}
                            <div class="card border-primary">
                            {% else %}
                            <div class="card border-danger">
                        {% endif %}
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% if slug == 0 %}
                                        <i class="fe fe-plus me-2"></i>
                                        {% trans %}Ajouter un fournisseur{% endtrans %}
                                        {% else %}
                                        <i class="fe fe-edit me-2"></i>
                                        {% trans %}Modification du fournisseur : {% endtrans %} 
                                            <button type="button" class="btn btn-outline-danger  mt-1 mb-1 me-3">
												<span>{{ fournisseur.fournisseur }}</span>
											</button>
                                    {% endif %}
                                    
                                </h3>
                            </div>
                            <div class="card-body ">
                                {{ form_start(formFournisseur, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                                    <div class="row" style="margin-top: 15px !important;">
                                        
                                        <div class="col-md-3 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Fournisseur{% endtrans %}</label>
                                            {{ form_widget(formFournisseur.fournisseur, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir le nom du fournisseur !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-3 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Adresse{% endtrans %}</label>
                                            {{ form_widget(formFournisseur.adresse, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir l'adresse du fournisseur !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-3 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Contact{% endtrans %}</label>
                                            {{ form_widget(formFournisseur.contact, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir le contact du fournisseur{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-3 position-relative text-center" style="margin-top: 30px !important;">
                                            <button type="submit" class="btn btn-outline-primary btn-md">
                                                <i class="fe fe-save"></i> 
                                                {% if slug == 0 %}
                                                    {% trans %}Enregistrer{% endtrans %}
                                                    {% else %}
                                                    {% trans %}Enregistrer les modifications{% endtrans %}
                                                {% endif %}
                                            </button>
                                        </div>
                                        <div class="col-md-2 position-relative">
                                        </div>
                                    </div>
                                        
                                {{ form_end(formFournisseur)}}

                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
