{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter une sous categorie{% endtrans %}
        {% else %}
        {% trans %}Modification d'une sous categorie{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- App-Content -->
				<div class="hor-content main-content">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title mb-0 text-primary">
                                    {% if slug == 0 %}
                                        {% trans %}Enregistrement d'une sous categorie{% endtrans %}
                                        {% else %}
                                        {% trans %}Modification d'une sous categorie{% endtrans %}
                                    {% endif %}
                                </h4>
							</div>
							<div class="page-rightheader">
								<div class="btn-list">
									<a href="{{ path ('afficher_sous_categorie', {'a': 1 }) }}" class="btn btn-outline-primary"><i class="fe fe-list me-2"></i>
										{% trans %}Afficher les sous catégories{% endtrans %}</a>
									
								</div>
							</div>
						</div>

                        {% if slug == 0 %}
                            <div class="card border-primary">
                            {% else %}
                            <div class="card border-danger">
                        {% endif %}
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% if slug == 0 %}
                                        {% trans %}Ajouter une sous categorie{% endtrans %}
                                        {% else %}
                                        {% trans %}Modification de la sous catégorie : {% endtrans %} {{ sousCategorie.sousCategorie }}
                                    {% endif %}
                                    
                                </h3>
                            </div>
                            <div class="card-body ">
                                {{ form_start(formSousCategorie, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                                    <div class="row" style="margin-top: 15px !important;">
                                        <div class="col-md-1 position-relative">
                                        </div>
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom04" class="form-label">{% trans %}Sous Catégorie{% endtrans %}</label>
                                            {{ form_widget(formSousCategorie.sousCategorie, {'attr': {'id':'validationCustom04'}}) }}

                                            <div class="invalid-tooltip">
                                                {% trans %}Veuillez saisir une sous catégorie !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom04" class="form-label">{% trans %}Sous Catégorie{% endtrans %}</label>
                                            {{ form_widget(formSousCategorie.categorie, {'attr': {'id':'validationCustom04'}}) }}

                                            <div class="invalid-tooltip">
                                                {% trans %}Veuillez sélectionner une catégorie !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-2 position-relative text-center" style="margin-top: 30px !important;">
                                            <button type="submit" class="btn btn-outline-primary btn-md">
                                                <i class="fe fe-save"></i> 
                                                {% if slug == 0 %}
                                                    {% trans %}Enregistrer{% endtrans %}
                                                    {% else %}
                                                    {% trans %}Enregistrer les modifications{% endtrans %}
                                                {% endif %}
                                            </button>
                                        </div>
                                        <div class="col-md-1 position-relative">
                                        </div>
                                    </div>
                                        
                                {{ form_end(formSousCategorie)}}

                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
