{% extends 'base.html.twig' %}

{% block title %}{% trans %}Confirmation Facture{% endtrans %}{% endblock %}

{% block body %}
		<!-- App-Content -->
		<div class="hor-content main-content">
			<div class="container">

				<!--Page header-->
				<div class="page-header">
					<div class="page-leftheader">
						<h4 class="page-title mb-0 text-primary"><i class="fa fa-money"></i> {% trans %}Confirmation facture{% endtrans %}</h4>
					</div>
					<div class="page-rightheader">
						<div class="btn-list">
							<a href="{{ path('liste_facture') }}" class="btn btn-outline-primary">
								<i class="fa fa-cart-arrow-down me-2"></i>
								{% trans %}Les factures{% endtrans %}
							</a>
						</div>
					</div>
				</div>
				<!--End Page header-->

				<!-- Row -->
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<div class="card border-primary">
							<div class="card-body">
								<div class="row mt-4">
									<div class="col-lg-12">
										<div class="expanel expanel-primary border-primary">
											<div class="expanel-body">
												{{ form_start(confirmerFactureForm, {'attr': {'class':'row g-4'}})}}
													
													<div class="col-md-3 position-relative">
														<label for="validationCustom04" class="form-label">{% trans %}Nom du patient pris en charge{% endtrans %}</label>
														{{ form_widget(confirmerFactureForm.patient) }}

														<div class="invalid-tooltip">
															{% trans %}Veuillez sélectionner le nom du patien pris en charge{% endtrans %}
														</div>
													</div>
													<div class="col-md-3 position-relative">
														<label for="validationCustom04" class="form-label">{% trans %}Nom du patient{% endtrans %}</label>
														{{ form_widget(confirmerFactureForm.nomPatient) }}

														<div class="invalid-tooltip">
															{% trans %}Veuillez saisir le nom du patient{% endtrans %}
														</div>
													</div>
													<div class="col-lg-3">
														<label for="validationCustom04" class="form-label">{% trans %}Contact du client{% endtrans %}</label>
														{{ form_widget(confirmerFactureForm.contactPatient)}}
														<div class="invalid-tooltip">
															{% trans %}Veuillez saisir le contact du client{% endtrans %}
														</div>
													</div>
													
													<div class="col-lg-3">
														<label for="validationCustom04" class="form-label">{% trans %}Mode de paiement{% endtrans %}</label>
														{{ form_widget(confirmerFactureForm.modePaiement, {'attr': {'id':'validationCustom04'}})}}
													</div>
													

											</div>
											<div class="expanel-footer">
												<div class="row">
													<div class="col-lg-4"></div>
													<div class="col-lg-4"></div>
													<div class="col-lg-4">
													<button class="btn btn-outline-primary" type="submit" id="boutonEnvoie"><i class="fa fa-money"></i> {% trans %}Payer{% endtrans %}</button>
													</div>
												</div>
											</div>
											{{ form_end(confirmerFactureForm)}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--End Row -->

            </div>
        </div>
    </div>
	
{% endblock %}


