{% extends 'base.html.twig' %}

{% block title %}Détails de la facture
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		.infoTable {
			text-align: center !important;
			vertical-align: middle !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}
	</style>
{% endblock %}

{% block body %}
	<!-- App-Content -->
	<div class="hor-content main-content">
		<div
			class="container">

			<!--Page header-->
			<div class="page-header">
				<div class="page-leftheader">
					<h4 class="page-title mb-0 text-primary">
						<i class="fa fa-cart-arrow-down me-2"></i>
						Détails de la facture</h4>
				</div>
				<div class="page-rightheader">
					{% if is_granted('ROLE_CAISSIERE') or is_granted('ROLE_ADMINISTRATEUR') %}
						<a href="{{ path('liste_facture') }}" class="btn btn-outline-primary">
							<i class="fa fa-cart-arrow-down me-2"></i>
							{% trans %}Les factures{% endtrans %}
						</a>
					{% endif %}

					<a href="{{ path('imprimer_facture', {'slug': facture.slug }) }}" class="btn btn-outline-primary" target="_blank">
						<i class="si si-printer me-2"></i>
						{% trans %}Imprimer{% endtrans %}
					</a>
						
						
				</div>
			</div>
			<!--End Page header-->

			<!-- Row -->
			<!-- Row-->
				<div class="row"> <div class="col-md-12">
					<div class="card overflow-hidden border-primary">
						<div class="card-body">
							<h2 class="font-weight-bold text-primary">DETAILS DE LA FACTURE :
								{{ facture.reference }}</h2>
							<div class="row">
								<div class="col-sm-6">
									<h5 class="mb-1">Salut
										<strong>{{ facture.nomPatient ? facture.nomPatient : facture.patient.nom }}</strong>,</h5>
									Cette facture s'élève à un montant de :
									<strong>{{ facture.netApayer }}</strong>
									FCFA
								</div>
								<div class="col-sm-6 text-end">
									<span>Date de la facture</span><br>
									<strong>{{ facture.dateFactureAt | date('d-m-Y H:i') }}</strong>
								
								</div>
							</div>
								

							<div class="card-body ps-0 pe-0">
								<div class="row">
									<div class="col-sm-6">
										<span>Etat de la facture :
										</span><br>
										<strong>{{ facture.etatFacture ? facture.etatFacture.etatFacture : "" }}</strong>
									</div>
									<div class="col-sm-6 text-end">
										<span>Par :</span><br>
										<strong>{{ facture.caissiere ? facture.caissiere.nom : "Caissière" }}</strong>
									</div>
								</div>
							</div>
							<div class="dropdown-divider"></div>
							<div class="row pt-4">
								<div class="col-lg-6 ">
									<p class="h5 font-weight-bold">Facture de : Hôpital de District d'Abong Mbang
									</p>
									<address>
										Cameroun<br>
										Est, Haut Nyong<br>
										Yaoundé, BP : 19 - ABG MBG<br>
										+237 670 152 046 <br>
										<p class="h5 font-weight-bold">
											Prescrit par : {{ facture.prescripteur.prescripteur }}
										</p>
									</address>
								</div>
								<div class="col-lg-6 text-end">
									<p class="h5 font-weight-bold">Pour :
									</p>
									<address>
										Nom client :
										{{ facture.nomPatient ? facture.nomPatient : facture.patient.nom  }}<br>
										Téléphone :
										{{ facture.contactPatient }}<br>
										Mode de paiement :
										{{ facture.modePaiement ? facture.modePaiement.modePaiement : "" }}
									</address>
								</div>
							</div>
							<div class="table-responsive push">
								<table class="table table-bordered table-striped table-hover text-nowrap">
									<tr class=" ">
										<th class="text-center " style="width: 1%"></th>
										<th>Produits</th>
										<th class="text-end" style="width: 1%">PU(FCFA)</th>
										<th class="text-center" style="width: 1%">Qté</th>
										<th class="text-end" style="width: 1%">Total (FCFA)</th>
									</tr>
									{% set i = 1 %}
									{% for ligneDeFacture in ligneDeFactures %}
										<tr>
											<td class="text-center" style="vertical-align: middle !important;">{{ i }}</td>
											<td>
												<p class="font-weight-semibold mb-1">{{ ligneDeFacture.produit.libelle ? ligneDeFacture.produit.libelle : ligneDeFacture.produit.libelle}}</p>
												{% if ligneDeFacture.produit.kit == 1 %}
													<table  class="table table-bordered table-hover text-nowrap">
														<tr class=" ">
															<th class="text-center " style="width: 1%; vertical-align: middle !important;">N°</th>
															<th>Produits</th>
															<th class="text-end" style="width: 1%">PU (FCFA)</th>
															<th class="text-center" style="width: 1%">Qté</th>
															<th class="text-center" style="width: 1%">Total</th>
														</tr>
														{% set p = 1 %}
														{% set sousTotal = 0 %}
														{% for produitKit in ligneDeFacture.produit.produitLigneDeKits %}
															<tr class=" ">
																<td class="text-center " style="width: 1%">{{ p }}</td>
																<td>{{ produitKit.produit.libelle }}</td>
																<td class="text-end" style="width: 1%">{{ produitKit.prix }}</td>
																<td class="text-center" style="width: 1%">{{ produitKit.quantite }}</td>
																<td class="text-center" style="width: 1%">{{ produitKit.total }}</td>
															</tr>
														{% set p = p + 1 %}
														{% set sousTotal = sousTotal + produitKit.total %}
														{% endfor %}
															<tr class=" ">
																<td class="font-weight-bold text-uppercase text-end h5 mb-0" style="width: 1%" colspan="4">Sous total du kit</td>
																<td class="font-weight-bold text-uppercase text-end h5 mb-0" style="width: 1%">{{ sousTotal }} FCFA</td>
															</tr>
													</table>
												{% endif %}
											</td>
											<td class="text-center" style="vertical-align: middle !important;"><h5><span class="badge badge-default">{{ ligneDeFacture.prix }}</span></h5></td>
											<td class="text-end" style="vertical-align: middle !important;"><h5><span class="badge badge-default">{{ ligneDeFacture.quantite }}</span></h5></td>
											<td class="text-end" style="vertical-align: middle !important;"><h5><span class="badge badge-default">{{ ligneDeFacture.prixQuantite }}</span></h5></td>
										</tr>

										{% set i = i + 1 %}
									{% endfor %}

									<tr>
										<td colspan="4" class="font-weight-semibold text-end">Montant HT</td>
										<td class="text-end"><h5><span class="badge bg-primary">{{ facture.netApayer }}</span></h5></td>
									</tr>
									<tr>
										<td colspan="4" class="font-weight-semibold text-end">TVA</td>
										<td class="text-end">0%</td>
									</tr>
									<tr>
										<td colspan="4" class="font-weight-semibold text-end">Montant à payer</td>
										<td class="text-end"><h5><span class="badge bg-primary">{{ facture.netApayer }}</span></h5></td>
									</tr>
									<tr class="text-danger">
										<td colspan="4" class="font-weight-bold text-uppercase text-end h4 mb-0">NET A PAYER</td>
										<td class="font-weight-bold text-end h4 mb-0">{{ facture.netApayer }} FCFA</td>
									</tr>
									<tr class="text-danger">
										<td colspan="4" class="font-weight-bold text-uppercase text-end h4 mb-0">{% trans %}AVANCE{% endtrans %}</td>
										<td class="font-weight-bold text-end h4 mb-0">{{ facture.avance }} FCFA</td>
									</tr>
									<tr class="text-danger">
										<td colspan="4" class="font-weight-bold text-uppercase text-end h4 mb-0">{% trans %}RESTE{% endtrans %}</td>
										<td class="font-weight-bold text-end h4 mb-0">{{ facture.netApayer - facture.avance}} FCFA</td>
									</tr>
									<tr>
										<td colspan="5" class="text-end">
											{% if is_granted('ROLE_CAISSIERE') or is_granted('ROLE_ADMINISTRATEUR') %}
												<a href="{{ path('liste_facture') }}" class="btn btn-outline-primary">
													<i class="fa fa-cart-arrow-down me-2"></i>

													{% trans %}Nos factures{% endtrans %}
												</a>
											{% endif %}
											<a href="{{ path('imprimer_facture', {'slug': facture.slug }) }}" class="btn btn-outline-primary" target="_blank">
												<i class="si si-printer me-2"></i>
												{% trans %}Imprimer{% endtrans %}
											</a>
											
										</td>
									</tr>
								</table>
							</div>
							<p class="text-muted text-center">Merci beacoup d'avoit fait confiance à Pharmacy. BONNE GUERISON !</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End row-->
		</div>
	</div>
</div></div>{% endblock %}
