{% extends 'base.html.twig' %}

{% block title %}
	{% if factureAnnulee == 1 %}
		{% trans %}Factures annulées{% endtrans %}
		{% else %}
		{% trans %}Les Factures{% endtrans %}
	{% endif %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		.infoTable {
			text-align: center !important;
			vertical-align: middle !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}
	</style>
{% endblock %}


{% block body %}
	<!-- App-Content -->
	<div class="hor-content main-content">
		<div class="container">

			<!--Page header-->
			<div class="page-header">
				<div class="page-leftheader">
					<h4 class="page-title mb-0 text-primary">
						<i class="fe fe-file-text me-2"></i>
						{% if factureAnnulee == 1 %}
							{% trans %}Factures annulées{% endtrans %}
							{% else %}
							{% trans %}Les Factures{% endtrans %}
						{% endif %}
					</h4>
				</div>
				<div class="page-rightheader">
					<div class="btn-list">
						<a href="{{ path ('imprimer_les_factures', {'aujourdhui': 1 })}}" target="_blank" class="btn btn-outline-primary btn-pill">
                            <i class="si si-printer me-2 fs-14"></i>
                            {% trans %}Imprimer les factures du jour{% endtrans %}
                        </a>
                        <a href="{{ path ('imprimer_les_factures', {'toutes': 1 })}}" target="_blank" class="btn btn-outline-primary btn-pill">
                            <i class="si si-printer me-2 fs-14"></i>
                            {% trans %}Imprimer toutes les factures{% endtrans %}
                        </a>
					</div>
				</div>
			</div>
			<!--End Page header-->

			<!-- Row -->
			<div class="row">
				<div
					class="col-12">
					<!--div-->
					{% if factureAnnulee == 1 %}
						<div class="card border-danger">
						{% else %}
						<div class="card border-primary">
					{% endif %}
					
						<div class="card-header">
								{% if is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_REGIES_DES_RECETTES') %}
									
									{% if factureAnnulee == 1 %}
										<div class="col-md-3 col-lg-3">
											<div class="card-title">
												{% trans %}Liste des factures annulées{% endtrans %}
											</div>
										</div>

										<div class="col-md-9 col-lg-9 text-right">
											<div class="card-title">
												<button type="button" class="btn btn-danger mt-1 mb-1 me-3">
													<span class="badge bg-white text-dark">{{ factures.factures | length }}</span>
													<span>{% trans %}facture(s) annulée(s){% endtrans %}</span>
												</button>
											</div>
										</div>


										{% else %}
										
										<div class="col-md-12 col-lg-12 mt-4">
											<form method="post" action="{{ path ('imprimer_les_factures', {'periode' : 1 }) }}" target="_blank" class="row g-3 needs-validation" novalidate>
												
												<div class="row">
													<div class="col-md-3">
														<select name="etatFacture" id="etatFacture" class="form-control select2-show-search">
															<option>{% trans %}--Imprimer un etat des factures--{% endtrans %}</option>
																{% for etatFacture in etatFactures %}
																	<option value="{{ etatFacture.id }}">{{ etatFacture.etatFacture }}</option>
																{% endfor %}
														</select>
													</div>

													<div class="col-md-3">
														<input type="date" name="dateDebut" class="form-control" id="validationCustom01">
														<div class="invalid-feedback">
															{% trans %}Champ requis{% endtrans %}
														</div>
													</div>
													<div class="col-md-3">
														<input type="date" name="dateFin" class="form-control" id="validationCustom01">
														<div class="invalid-feedback">
															{% trans %}Champ requis{% endtrans %}
														</div>
													</div>
													<div class="col-md-3">
														<div class="col-md-4">
															<button class="btn btn-outline-primary" type="submit" name="impressionFacturePeriode"><i class="fe fe-printer me-2"></i>{% trans %}Imprimer{% endtrans %}</button>
														</div>
													</div>
												</div>
											</form>
										</div>

									{% endif %}
									
								{% else %}
										
								<div class="col-md-3 col-lg-3">
									<div class="card-title">
										Factures
									</div>
								</div>

								<div class="col-md-3 col-lg-3">
									<div class="card-title">
											
									</div>
								</div>
								<div class="col-md-3 col-lg-3">
									<div class="card-title">
									</div>
								</div>

								<div class="col-md-3 col-lg-3">
									<div class="card-title">
                                        <button type="button" class="btn btn-primary mt-1 mb-1 me-3">
                                            <span class="badge bg-white text-dark">{{ factures.factures | length }}</span>
                                            <span>{% trans %}facture(s) enregistrée(s){% endtrans %}</span>
                                        </button>
									</div>
								</div>
								{% endif %}
								
							
						</div>
						<div class="card-body">
                            <div class="table-responsive">
                               {% include "includes/_tableFactures.html.twig" %}
                            </div>
                        </div>
					</div>
					<!--/div-->
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
